Repository bcgov/moh-prime, pull requests merged in 2019-11, with the labels that each got.

#55 enrolment pipe
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/models/enrollee.model.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/enrollee.spec.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#57 Fix bug in Authentication guard
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
Labels: Bug, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#60 404 page has wrong redirect URL in dev / prod
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.html
Labels: Bug, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#59 Fix for phone pipe
  prime-angular-frontend/src/app/shared/pipes/phone.pipe.ts
Labels: Bug, Frontend

#62 Fixing template, cleanup
  openshift/json/postgresql.dc.json
  player.sh
Labels: CI/CD

#73 De-emphasize back button
  prime-angular-frontend/src/app/modules/enrolment/pages/contact/contact.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/professional-info/professional-info.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.html
Labels: Ready For Review

#68 Config Service Updates
  prime-angular-frontend/src/app/config/config.service.ts
Labels: Frontend, Ready For Review

#69 Removed Unused Directive
  prime-angular-frontend/src/app/shared/directives/form-control-validity.directive.spec.ts
  prime-angular-frontend/src/app/shared/directives/form-control-validity.directive.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#74 Combine Profile and Contact enrollment pages
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/contact/contact.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/contact/contact.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/contact/contact.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/contact/contact.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
Labels: Ready For Review

#70 Config Code Pipe Tests
  prime-angular-frontend/src/app/config/config-code.pipe.spec.ts
Labels: Frontend, Ready For Review

#71 Fix Angular Tests
  prime-angular-frontend/src/app/app.component.spec.ts
  prime-angular-frontend/src/app/config/config-code.pipe.spec.ts
  prime-angular-frontend/src/app/config/config-resolver.spec.ts
  prime-angular-frontend/src/app/config/config.service.spec.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.spec.ts
  prime-angular-frontend/src/app/core/services/route-state.service.spec.ts
  prime-angular-frontend/src/app/core/services/toast.service.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/components/auth/auth.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/professional-info/professional-info.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certifications/college-certifications.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-title/page-title.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrollee.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/enrollee.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/shared/guards/provision.guard.spec.ts
  prime-angular-frontend/src/app/modules/provision/shared/services/provision-resource.service.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.spec.ts
  prime-angular-frontend/src/app/shared/components/header/header.component.spec.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
  prime-angular-frontend/src/test/mocks/mock-keycloak.service.ts
Labels: Frontend, ༼ つ ◕_◕ ༽つ ☕

#64 Sonar Runner Phase 2
  Jenkinsfile
  openshift/compositions/jenkins.yaml
  openshift/jenkins.yaml
  openshift/sonar-scanner.bc.yaml
  openshift/sonar-scanner.dc.yaml
  openshift/tools/Jenkins/Jenkinsfile
  openshift/tools/Jenkins/openshift/build-master.yaml
  openshift/tools/Jenkins/openshift/build-slave.yaml
  openshift/tools/Jenkins/openshift/deploy-master.yaml
  openshift/tools/Jenkins/openshift/deploy-slave.yaml
  openshift/tools/Jenkins/openshift/jobs-config.yaml
  openshift/tools/Jenkins/openshift/ns-config.yaml
  openshift/tools/Jenkins/openshift/secrets.yaml
  openshift/tools/Keycloak config/realm-export-dev.json
  openshift/tools/logstash.bc.json
  openshift/tools/logstash.dc.json
  openshift/tools/metabase.bc.json
  openshift/tools/metabase.dc.json
  openshift/tools/schemaspy.bc.json
  openshift/tools/schemaspy.dc.json
  openshift/tools/sonarqube/Sonar-Readme.md
  openshift/tools/sonarqube/build.sh
  openshift/tools/sonarqube/config.groovy
  openshift/tools/sonarqube/deploy.sh
  openshift/tools/sonarqube/postgresql.bc.json
  openshift/tools/sonarqube/sonarqube.bc.json
  openshift/tools/sonarqube/sonarqube.dc.json
  player.sh
  sonar-scanner/Dockerfile
  sonar-scanner/Dockerfile.ms
  sonar-scanner/agent.jar
  sonar-scanner/docker-compose.yml
  sonar-scanner/entrypoint.bash
  sonar-scanner/openshift.dockerfile
  sonar-scanner/prime-dotnet-webapi.sln
  sonar-scanner/slave-agent.jnlp
  sonar-scanner/sonar-runner.bash
  sonar-scanner/sonar-runner.local
Labels: CI/CD, Ready For Review

#78 Lorem Ipsum
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/professional-info/professional-info.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.html
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#79 Dependency Provider
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/professional-info/professional-info.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.spec.ts
Labels: Frontend, Ready For Review

#81 Route Guards
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/core/guards/base.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrollee.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/provision/provision-routing.module.ts
  prime-angular-frontend/src/app/modules/provision/shared/guards/provision.guard.ts
Labels: Frontend, Ready For Review

#82 adding scripts to run code coverage and push to sonar
  prime-angular-frontend/package.json
  prime-angular-frontend/sonar-project.properties
Labels: CI/CD, Ready For Review

#87 Profile
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/professional-info/professional-info.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/form-utils.service.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.scss
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
  prime-angular-frontend/src/app/shared/enums/country.enum.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
Labels: Frontend, Ready For Review

#88 Application Header
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/header/header.component.html
  prime-angular-frontend/src/app/shared/components/header/header.component.scss
  prime-angular-frontend/src/app/shared/components/header/header.component.ts
Labels: Frontend, Ready For Review

#89 Dashboard Updates
  prime-angular-frontend/src/app/core/services/viewport.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.scss
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/header/header.component.html
  prime-angular-frontend/src/app/shared/components/header/header.component.scss
  prime-angular-frontend/src/app/shared/components/header/header.component.ts
  prime-angular-frontend/src/assets/prime_logo.svg
  prime-angular-frontend/src/scss/_palette.scss
  prime-angular-frontend/src/scss/material/_material-fixes.scss
Labels: Frontend, Ready For Review

#90 Test Updates
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/app.component.spec.ts
  prime-angular-frontend/src/app/config/config-resolver.spec.ts
  prime-angular-frontend/src/app/config/config.service.spec.ts
  prime-angular-frontend/src/app/core/guards/base.guard.spec.ts
  prime-angular-frontend/src/app/core/guards/can-deactivate-form.guard.spec.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.spec.ts
  prime-angular-frontend/src/app/core/services/error-handler.service.spec.ts
  prime-angular-frontend/src/app/core/services/logger.service.spec.ts
  prime-angular-frontend/src/app/core/services/route-state.service.spec.ts
  prime-angular-frontend/src/app/core/services/toast.service.spec.ts
  prime-angular-frontend/src/app/core/services/utils.service.spec.ts
  prime-angular-frontend/src/app/core/services/viewport.service.spec.ts
  prime-angular-frontend/src/app/core/services/window-ref.service.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/components/auth/auth.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/professional-info/professional-info.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certifications/college-certifications.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-title/page-title.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrollee.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/form-utils.service.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/shared/guards/provision.guard.spec.ts
  prime-angular-frontend/src/app/modules/provision/shared/services/provision-resource.service.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/header/header.component.spec.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
Labels: Frontend, Ready For Review

#91 Lorem Ipsum Updates
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.ts
Labels: Frontend, Ready For Review

#92 Review Update
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.scss
  prime-angular-frontend/src/app/shared/components/sub-header/sub-header.component.scss
  prime-angular-frontend/src/scss/_palette.scss
Labels: Frontend, Ready For Review

#94 Contextual Help
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/core/services/logger.service.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/form-utils.service.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.scss
  prime-angular-frontend/src/app/shared/components/header/header.component.html
  prime-angular-frontend/src/app/shared/components/page-header/page-header.component.html
  prime-angular-frontend/src/app/shared/components/page-header/page-header.component.scss
  prime-angular-frontend/src/app/shared/components/page-header/page-header.component.spec.ts
  prime-angular-frontend/src/app/shared/components/page-header/page-header.component.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader-summary.directive.spec.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader-summary.directive.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader-title.directive.spec.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader-title.directive.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.html
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.scss
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.spec.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-content.directive.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-content.directive.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.scss
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-title.directive.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-title.directive.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/ngx-contextual-help.module.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/postal.pipe.spec.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#95 Updated Adjudicator Dialog
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/enrolment-status-reasons/enrolment-status-reasons.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/enrolment-status-reasons/enrolment-status-reasons.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/enrolment-status-reasons/enrolment-status-reasons.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/enrolment-status-reasons/enrolment-status-reasons.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-content.directive.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-content.directive.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-content.model.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-options.model.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/sub-header/sub-header.component.html
  prime-angular-frontend/src/app/shared/components/sub-header/sub-header.component.scss
  prime-angular-frontend/src/app/shared/components/sub-header/sub-header.component.spec.ts
  prime-angular-frontend/src/app/shared/components/sub-header/sub-header.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/scss/_palette.scss
  prime-angular-frontend/src/scss/material/_material-fixes.scss
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#97 Busy Indicators
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/core/components/access-denied/access-denied.component.spec.ts
  prime-angular-frontend/src/app/core/components/maintenance/maintenance.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/summary/summary.component.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-loading/busy-loading.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-loading/busy-loading.component.scss
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-loading/busy-loading.component.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-loading/busy-loading.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.scss
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.scss
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy.config.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/ngx-busy.module.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/app/shared/validators/form-control.validators.ts
  prime-angular-frontend/src/scss/material/_material-fixes.scss
  prime-angular-frontend/src/scss/vendors/_ng-busy.scss
  prime-angular-frontend/src/scss/vendors/_vendors.scss
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#99 Routing
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.module.ts
  prime-angular-frontend/src/app/app.routes.ts
  prime-angular-frontend/src/app/core/models/base-route.ts
  prime-angular-frontend/src/app/modules/admin/admin-routing.module.ts
  prime-angular-frontend/src/app/modules/admin/admin.module.ts
  prime-angular-frontend/src/app/modules/auth/auth.routes.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolent.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/provision/provision-routing.module.ts
  prime-angular-frontend/src/app/modules/provision/provision.routes.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.ts
  prime-angular-frontend/src/scss/material/_material-fixes.scss
Labels: Frontend, Ready For Review

#100 Application Loader
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/index.html
  prime-angular-frontend/src/scss/material/_material-fixes.scss
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#102 Dashboard Navigation
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/scss/material/_material-fixes.scss
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#104 Demo Updates
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-access/pharmanet-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/provision/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.scss
  prime-angular-frontend/src/app/shared/enums/enrolment-status-reason.enum.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.html
  prime-angular-frontend/src/scss/material/_material-fixes.scss
Labels: Frontend, Ready For Review

#106 Date Format
  prime-angular-frontend/src/app/shared/modules/ngx-material/ngx-material.module.ts
  prime-angular-frontend/src/app/shared/pipes/format-date.pipe.ts
Labels: Frontend, Ready For Review

#107 Version Bump
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
Labels: Frontend, Ready For Review

#108 Clean Up
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/app.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/auth/auth-routing.module.ts
  prime-angular-frontend/src/app/modules/auth/auth.routes.ts
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolent.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certifications/college-certifications.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-title/page-title.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-title/page-title.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-title/page-title.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-title/page-title.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrollee.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/provision/provision.routes.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-angular-frontend/tsconfig.json
Labels: Frontend, Ready For Review

#111 Added sorting to configuration
  prime-angular-frontend/src/app/config/config.service.ts
Labels: Frontend, Ready For Review

#112 Updated postal code mask
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Frontend, Ready For Review

#113 Access Agreement
  prime-angular-frontend/src/app/app.component.ts
  prime-angular-frontend/src/app/core/services/route-state.service.ts
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-agreement/moa-access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-agreement/moa-access-agreement.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-agreement/moa-access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-agreement/moa-access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-agreement/ru-access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-agreement/ru-access-agreement.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-agreement/ru-access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-agreement/ru-access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/page-ref.directive.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/page-ref.directive.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/pager.ts
  prime-angular-frontend/src/index.html
Labels: Frontend, Ready For Review

#110 Adding MailHog to tools space
  Jenkinsfile
  functions.bash
  mailhog.conf
  mailhog/docker-compose.yml
  mailhog/openshift.dockerfile
  openshift/compositions/mailhog-deploymentconfig.yaml
  openshift/compositions/mailhog-imagestream.yaml
  openshift/compositions/mailhog-service.yaml
  openshift/mailhog.bc.yaml
  openshift/mailhog.dc.yaml
  player.sh
  sonar.conf
Labels: Backend, Ready For Review

#125 Login Updates
  prime-angular-frontend/src/app/modules/auth/pages/admin/admin.component.html
  prime-angular-frontend/src/app/modules/auth/pages/admin/admin.component.scss
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/auth/shared/components/auth/auth.component.html
  prime-angular-frontend/src/app/modules/auth/shared/components/auth/auth.component.scss
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.html
  prime-angular-frontend/src/assets/login-background.jpg
Labels: Frontend, Ready For Review

#126 Fixed linting issues
  prime-angular-frontend/src/app/app.component.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.ts
  prime-angular-frontend/src/app/core/services/toast.service.ts
  prime-angular-frontend/src/app/core/services/window-ref.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-loading/busy-loading.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-busy/busy-overlay/busy-overlay.component.ts
  prime-angular-frontend/src/app/shared/pipes/capitalize.pipe.ts
  prime-angular-frontend/src/app/shared/validators/form-control.validators.ts
  prime-angular-frontend/src/app/shared/validators/form-group.validators.ts
Labels: Frontend, Ready For Review

#116 Show collection notice after login
  prime-angular-frontend/src/app/app.routes.ts
  prime-angular-frontend/src/app/core/models/base-route.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/auth/auth.routes.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
Labels: Frontend, Ready For Review

#128 Updated Tests
  prime-angular-frontend/karma.conf.js
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-agreement/ru-access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/page-ref.directive.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/address.model.ts
  prime-angular-frontend/src/app/shared/components/alert/alert.component.spec.ts
  prime-angular-frontend/src/app/shared/components/form-icon-group/form-icon-group.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#129 Form Update
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.spec.ts
  prime-angular-frontend/src/app/shared/modules/ngx-material/ngx-material.module.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#130 Alert Update
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/shared/components/alert/alert.component.html
  prime-angular-frontend/src/app/shared/components/alert/alert.component.scss
  prime-angular-frontend/src/app/shared/components/alert/alert.component.ts
Labels: Frontend, Ready For Review

#132 Fixed ngxmask injection error in specs
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
Labels: Frontend, Ready For Review

#127 Added Address and Birthdate to Keycloak
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Backend, Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#131 Updated Enrolment Token
  prime-angular-frontend/src/app/modules/auth/shared/models/user.model.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
Labels: Frontend, Ready For Review

#133 Form Updates
  prime-angular-frontend/.vscode/extensions.json
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
Labels: Frontend, Ready For Review

#134 Update Form Icon Group
  prime-angular-frontend/src/app/shared/components/form-icon-group/form-icon-group.component.html
  prime-angular-frontend/src/app/shared/components/form-icon-group/form-icon-group.component.scss
  prime-angular-frontend/src/app/shared/components/form-icon-group/form-icon-group.component.ts
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-contextual-help/contextual-help/contextual-help.component.ts
Labels: Frontend, Ready For Review

#135 Added admin defaults for keycloak
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
Labels: Frontend, Ready For Review

#137 Added XXX-XXXX for phone number
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.html
Labels: Frontend, Ready For Review

#119 Remove device provider route links
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
Labels: Frontend, Ready For Review

#139 Hotfix - Fix tests broken in PR 114
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Services/DefaultEnrolleeService.Tests.cs
Labels: Backend, Bug, ༼ つ ◕_◕ ༽つ 🍝

#136 Footer Component
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.ts
Labels: Ready For Review

#138 Fixes
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/profile/profile.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/review/review.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Ready For Review, ༼ つ ◕_◕ ༽つ 🍪, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#144 Test is now latest master (unpromted) and Production is now latest master (prompted)
  Jenkinsfile
  Jenkinsfile.promotion
Labels: CI/CD, Ready For Review
