Repository bcgov/moh-prime, pull requests merged in 2020-12, with the labels that each got.

#979 PRIME-1228 Redirect for unsupported browsers
  prime-angular-frontend/src/app/core/guards/unsupported.guard.ts
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/assets/unsupported.html
  prime-angular-frontend/src/index.html
Labels: Frontend, Ready For Review

#998 PRIME-1244 - BCSC homepage URL
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#995 PRIME-1207 - Assign Keycloak Attributes and Roles
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
  openshift/dotnet-webapi.bc.yaml
  openshift/dotnet-webapi.dc.yaml
  prime-dotnet-webapi/HttpClients/BaseClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/IKeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
Labels: Backend, CI/CD, Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#999 PRIME-1245 - Feature Flag Site Reg Community Pharmacy
  documentation/Keycloak settings/realm-export-dev.json
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
Labels: (ノ益 )ノ彡┻━┻, Documentation, Frontend, Ready For Review

#1002 Refactor Loading of Config
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.module.ts
  prime-angular-frontend/src/app/app.routes.ts
  prime-angular-frontend/src/app/config/config.guard.spec.ts
  prime-angular-frontend/src/app/config/config.guard.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/core/guards/unsupported.guard.spec.ts
  prime-angular-frontend/src/app/core/guards/unsupported.guard.ts
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak.module.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/unsupported/unsupported.component.html
  prime-angular-frontend/src/app/lib/modules/root-routes/components/unsupported/unsupported.component.scss
  prime-angular-frontend/src/app/lib/modules/root-routes/components/unsupported/unsupported.component.spec.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/unsupported/unsupported.component.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/root-routes.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/auth/auth-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech-routing.module.ts
  prime-angular-frontend/src/app/modules/provisioner-access/provisioner-access-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
Labels: Frontend, Ready For Review

#1003 Fix site doing business as so it is displayed
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
Labels: Frontend, Ready For Review

#1004 Redirect to default route of current module
  prime-angular-frontend/src/app/lib/modules/root-routes/components/access-denied/access-denied.component.html
  prime-angular-frontend/src/app/lib/modules/root-routes/components/access-denied/access-denied.component.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/page-not-found/page-not-found.component.html
  prime-angular-frontend/src/app/lib/modules/root-routes/components/page-not-found/page-not-found.component.ts
  prime-angular-frontend/src/app/lib/utils/route-utils.class.ts
Labels: Frontend, Ready For Review

#1005 Allow if not auth to go to the proper auth page
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak.module.ts
Labels: Frontend, Ready For Review

#1001 PRIME-1132 - Feature Flag Cleanup
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registrant.guard.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-dotnet-webapi/AuthConstants.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1000 Important Update
  documentation/Architecture.md
Labels: Documentation, ༼ つ ◕_◕ ༽つ ☕, ༼ つ ◕_◕ ༽つ 🍪, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#1007 PRIME-1226 Add route guards for PHSA module
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/access-code/access-code.component.html
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/access-code/access-code.component.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech-routing.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.routes.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/guards/phsa-labtech.guard.spec.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/guards/phsa-labtech.guard.ts
Labels: Frontend, Ready For Review

#1008 PRIME-1106 Admin Renewal or Submission Date Filter
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review

#1010 PRIME-1106 Admin Renewal or Submission Date Filter
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review

#1013 PRIME-1240 display redesign 'Organization Information'
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.html
Labels: Frontend, Ready For Review

#1015 PRIME-1232 Verifiable Credential claims list
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
Labels: Backend, Ready For Review

#1016 Health Authority - fix submit from overview issue
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority-form-state.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
Labels: Frontend, Ready For Review

#1014 PRIME-1241 display redesign 'Site Address'
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Frontend, Ready For Review

#1023 forgot to add OboSites and EnrolleeHealthAuthorities to profile snapshot
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review

#1020 Fix Coming back to business licence upload before submitting
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Backend, Frontend, Ready For Review

#1022 VC - comma separate care settings on claim
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
Labels: Backend, Ready For Review

#1028 PRIME-1231 Overview for PRIME adjudication
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
Labels: Frontend, Ready For Review

#1018 PRIME-1274 PRIME approval redesign
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.scss
Labels: Frontend, Ready For Review

#1025 PRIME-1278 Care setting column admin
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/shared/enums/care-setting.enum.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/app/shared/pipes/care-setting-abbr.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/care-setting-abbr.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/join.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/join.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeListViewModel.cs
Labels: Backend, Frontend, Ready For Review

#1029 PRIME-1310 Skip the Health Authority detailed information
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
Labels: Frontend, Ready For Review

#1027 PRIME-1296 restrict college license entry
  prime-angular-frontend/README.md
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
  prime-dotnet-webapi/Models/Certifications/License.cs
  prime-dotnet-webapi/README.md
Labels: Backend, Frontend, Ready For Review

#1033 Updates to PHSA Backend
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/available-access/available-access.component.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/services/phsa-labtech-resource.service.ts
  prime-dotnet-webapi/Services/PartyService.cs
Labels: Frontend, Ready For Review

#1034 Add temporary PHSA eForms URL
  openshift/angular-frontend.dc.yaml
  prime-angular-frontend/nginx.template.conf
  prime-angular-frontend/nginxdev.conf
  prime-angular-frontend/nginxprod.conf
  prime-angular-frontend/nginxtest.conf
Labels: Frontend, Ready For Review
