Repository bcgov/moh-prime, pull requests merged in 2020-10, with the labels that each got.

#871 PRIME-1096 Update database, and ensure enrollee TOA still works
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/AccessTerms/AgreementConfiguration.cs
  prime-dotnet-webapi/Configuration/Agreements/AgreementVersionConfiguration.cs
  prime-dotnet-webapi/Configuration/Agreements/CommunityPharmacistAgreementConfiguration.cs
  prime-dotnet-webapi/Configuration/Agreements/OboAgreementConfiguration.cs
  prime-dotnet-webapi/Configuration/Agreements/RegulatedUserAgreementConfiguration.cs
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Migrations/20200930234840_AgreementRenameandAddOrgAndParty.Designer.cs
  prime-dotnet-webapi/Migrations/20200930234840_AgreementRenameandAddOrgAndParty.cs
  prime-dotnet-webapi/Models/AccessTerms/Agreement.cs
  prime-dotnet-webapi/Models/Agreements/Agreement.cs
  prime-dotnet-webapi/Models/Agreements/AgreementVersion.cs
  prime-dotnet-webapi/Models/Agreements/AgreementVersionType.cs
  prime-dotnet-webapi/Models/Agreements/LimitsConditionsClause.cs
  prime-dotnet-webapi/Models/Agreements/SignedAgreementDocument.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
  prime-dotnet-webapi/Models/SiteRegistration/Party.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IAccessTermService.cs
  prime-dotnet-webapi/Views/TermsOfAccess.cshtml
Labels: Backend, Database, Ready For Review

#872 remove recommended c# for front end work-space
  prime-angular-frontend/.vscode/extensions.json
  prime-dotnet-webapi/.vscode/settings.json
Labels: Frontend

#877 Fix for admin authentication issue where idir was missing in object literal
  prime-angular-frontend/src/app/lib/utils/object-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
Labels: Frontend, Ready For Review

#886 PRIME-1084 PEC Code to Site ID
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.html
Labels: Frontend, Ready For Review

#887 PRIME-1121 Login Module Redirects
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
Labels: Frontend, Ready For Review

#888 PRIME-1069 Remove the Remote Access Screen from the Site Reg workflow when Community Pharmacy is selected as the care setting
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
Labels: Frontend, Ready For Review

#890 PRIME-1110 Provisioner Link expiry Update
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
Labels: Backend, Ready For Review

#892 PRIME-1097 - Remove Remote User Rule
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#885 PRIME-1126 - Update remote access to have toggle
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
Labels: Frontend, Ready For Review

#893 PRIME-1135 Updates/Fixes Enrolments and Site Registration
  prime-angular-frontend/src/app/lib/classes/abstract-form-state.class.ts
  prime-angular-frontend/src/app/lib/types/address-line.type.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-dashboard/adjudication-dashboard.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-dashboard/adjudication-dashboard.component.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-registration-dashboard/site-registration-dashboard.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-registration-dashboard/site-registration-dashboard.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Frontend, Ready For Review

#895 PRIME-1137 DOB bug on site reg signing authority
  prime-angular-frontend/src/app/modules/site-registration/shared/services/organization-form-state.service.ts
Labels: Frontend, Ready For Review

#896 PRIME-1099 Admin needs to see Enrolment information after they have enabled editing
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.ts
Labels: Frontend, Ready For Review

#898 PRIME-1162 - Agreement Engine
  prime-dotnet-webapi/Engines/AgreementEngine.cs
  prime-dotnet-webapi/Services/AgreementService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#901 Fix key mapping from dropping keys in complex objects
  prime-angular-frontend/src/app/lib/utils/object-utils.class.ts
Labels: Frontend, Ready For Review

#902 Address Autocomplete bug - fails if typing too fast
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
Labels: Bug, Frontend, Ready For Review

#903 Fixed BCSC Demographic Validations and Create Submission
  prime-angular-frontend/src/app/core/services/form-utils.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
Labels: Bug, Frontend, Ready For Review

#880 PRIME-1038 | Document Manager Healthcheck
  document-manager/backend/app/healthcheck.py
  document-manager/backend/app/routes.py
  document-manager/backend/requirements.txt
Labels: (ノ益 )ノ彡┻━┻, Backend, Ready For Review, dependencies, ༼ つ ◕_◕ ༽つ 🍪

#906 PRIME-1159 Update text on Care Type Setting Page
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.html
Labels: Frontend, Ready For Review

#911 PRIME-1129 Wording Adjustment on Provisioner Link
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.html
Labels: Frontend, Ready For Review

#913 PRIME-1168 Initial TOA Negative Case
  prime-dotnet-webapi/Engines/AgreementEngine.cs
Labels: Backend, Ready For Review

#908 PRIME-1156 Assign TOAs at Submission
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi-tests/Unit Tests/AgreementService.Tests.cs
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/EnrolleeSubmissionService.cs
Labels: Backend, Ready For Review

#912 PRIME-1145 Site Reg Landing page Updates
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.html
Labels: Frontend, Ready For Review

#914 PRIME-1175 Don't show null if no preferred middlename exists
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.ts
Labels: Frontend, Ready For Review

#916 Remote Users sites null error
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
Labels: Bug, Ready For Review
