Repository bcgov/moh-prime, pull requests merged in 2020-09, with the labels that each got.

#808 PRIME-907 - Fix Minor Update Rule
  prime-dotnet-webapi-tests/Extensions/EnrolleeExtensions.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeUpdateModel.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#809 PRIME-1025 - File Upload Label Includes Allowed File Types
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#805 PRIME 1022 - Sonarqube Updates
  prime-angular-frontend/openshift.dockerfile
  prime-angular-frontend/src/app/core/services/enrollee-utils.service.ts
  prime-angular-frontend/src/app/lib/modules/dashboard/components/dashboard-menu/dashboard-menu.component.ts
  prime-angular-frontend/src/app/lib/modules/dashboard/components/dashboard-route-menu-item/dashboard-route-menu-item.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/dashboard/dashboardv1.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/classes/abstract-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/organization.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registration.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/vendor.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/image/image.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.ts
  prime-angular-frontend/src/app/shared/components/organization-review/organization-review.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.ts
  prime-angular-frontend/src/app/shared/components/site/party-review/party-review.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment-status.model.ts
  prime-angular-frontend/src/test/mocks/mock-organization.service.ts
Labels: Frontend, Ready For Review

#810 API Environment Cleanup
  prime-dotnet-webapi/Controllers/WebhooksController.cs
  prime-dotnet-webapi/Models/DocumentAccessToken.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/PrimeConstants.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Program.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/ClientQueryStringRequest.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/QueryStringApiKey.cs
  prime-dotnet-webapi/Services/Clients/AddressAutocomplete/AddressAutocompleteClient.cs
  prime-dotnet-webapi/Services/Clients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/Services/Clients/Email/SmtpEmailClient.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/Views/Emails/ReminderEmail.cshtml
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#819 PRIME-978 Text updates on Site Review Page
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#818 PRIME-991 2 Text Updates on Organization Page: Contextual Tip and definition of Organization
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.html
Labels: Frontend, Ready For Review

#801 PRIME-1015 Feature Flag Verifiable Credentials for Realsies
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
  prime-dotnet-webapi/AuthConstants.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExtensions.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review

#820 PRIME-982 - Preliminary Programatic Role Asignment Work
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/BearerTokenHandler.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/Services/Clients/Address Autocomplete/AddressAutocompleteClient.cs
  prime-dotnet-webapi/Services/Clients/Address Autocomplete/IAddressAutocompleteClient.cs
  prime-dotnet-webapi/Services/Clients/Document Manager/DocumentManagerBearerTokenHandler.cs
  prime-dotnet-webapi/Services/Clients/Keycloak Administration/IKeycloakAdministrationClient.cs
  prime-dotnet-webapi/Services/Clients/Keycloak Administration/KeycloakAdministrationClient.cs
  prime-dotnet-webapi/Services/Clients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/Services/Clients/Verifiable Credential/IVerifiableCredentialClient.cs
  prime-dotnet-webapi/Services/Clients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#817 PRIME-1021 Collection Notice Changes
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
Labels: Frontend, Ready For Review

#814 PRIME-1000 Display Uploaded Business Licence Documents
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
Labels: Frontend, Ready For Review

#815 PRIME-972 Next Steps for Site Registration
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/summary-card/summary-card.component.html
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
Labels: Frontend, Ready For Review

#824 PRIME-1022 Site Registration Updates/Fixes
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
Labels: Frontend, Ready For Review

#821 PRIME-1020 Wordsmithing continued for Site Registration
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/contact-profile-form/contact-profile-form.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/contact-profile-form/contact-profile-form.component.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
Labels: Backend, Frontend, Ready For Review

#823 Move HTTP Clients
  prime-dotnet-webapi-tests/Mocks/CollegeLicenceClientMock.cs
  prime-dotnet-webapi-tests/Unit Tests/EmailService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi/Controllers/AddressAutocompleteController.cs
  prime-dotnet-webapi/Controllers/DocumentAccessController.cs
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/AccessTokenClient.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/BearerTokenHandler.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/IAccessTokenClient.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/QueryStringApiKey.cs
  prime-dotnet-webapi/HttpClients/Address Autocomplete/AddressAutocompleteClient.cs
  prime-dotnet-webapi/HttpClients/Address Autocomplete/IAddressAutocompleteClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/DummyCollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/ICollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/PharmanetCollegeApiException.cs
  prime-dotnet-webapi/HttpClients/Document Manager/DocumentManagerClient.cs
  prime-dotnet-webapi/HttpClients/Document Manager/IDocumentManagerClient.cs
  prime-dotnet-webapi/HttpClients/Email/CHESClient.cs
  prime-dotnet-webapi/HttpClients/Email/IChesClient.cs
  prime-dotnet-webapi/HttpClients/Email/ISmtpEmailClient.cs
  prime-dotnet-webapi/HttpClients/Email/SmtpEmailClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/IKeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/HttpClients/Verifiable Credential/IVerifiableCredentialClient.cs
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Services/DocumentService.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#826 PRIME-996 - Create Client for eRX
  documentation/Keycloak settings/realm-export-dev.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#828 PRIME-851 allowable types
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-dotnet-webapi/Services/EmailService.cs
Labels: Backend, Frontend

#816 PRIME-942 Updated Org Agreement
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/scss/mixins/_agreements.scss
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Resources/documents/Organization-Agreement.docx
  prime-dotnet-webapi/Resources/documents/Organization-Agreement.pdf
  prime-dotnet-webapi/Views/OrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/OrganizationAgreementPdf.cshtml
Labels: Backend, Ready For Review

#829 Bug - Fix NewestAgreement View and Enrolment Certificate
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolmentCertificateService.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#831 PRIME-1022 Site Registration Updates/Fixes
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/services/org-book-resource.service.ts
Labels: Frontend, Ready For Review

#832 PRIME-942 Updated Org Agreement
  prime-dotnet-webapi/Views/OrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/OrganizationAgreementPdf.cshtml
Labels: Backend, Ready For Review

#830 Prime-965 custom email
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Backend, Frontend, Ready For Review

#833 Fix Backend Tests
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolmentCertificateService.Tests.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝, ༼ つ ◕_◕ ༽つ 🍪

#835 Fix for loss of scope
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
Labels: Frontend, Ready For Review

#837 PRIME-1043 - Deactivate search in site reg admin
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
Labels: Frontend, Ready For Review

#839 PRIME-1043 - Custom Site Container Actions for Downloading Org Agreement
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
Labels: Frontend, Ready For Review

#838 PRIME-1043 - Reassign Claim on Enrolments
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Backend, Frontend, Ready For Review

#836 Incremental Backend Test Improvements
  prime-dotnet-webapi-tests/Controllers/BaseController.Tests.cs
  prime-dotnet-webapi-tests/Controllers/EnrolleesAccessTermsController.Tests.cs
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Controllers/LookupsController.Tests.cs
  prime-dotnet-webapi-tests/HttpClientMocks/CollegeLicenceClientMock.cs
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/Integration/LookupIntegration.Tests.cs
  prime-dotnet-webapi-tests/Mocks/BaseMockService.cs
  prime-dotnet-webapi-tests/Mocks/BusinessEventServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeProfileVersionServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/PrivilegeMockService.cs
  prime-dotnet-webapi-tests/Mocks/SubmissionRulesServiceMock.cs
  prime-dotnet-webapi-tests/Services/BaseService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/TestApiDbContext.cs
  prime-dotnet-webapi-tests/Unit Tests/AutomaticAdjudicationRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#841 PRIME-1031 College ID display redesign
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/components/site/party-review/party-review.component.html
Labels: Frontend, Ready For Review

#843 PRIME-1003 Remote Practitioners on Site Registration admin
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-remote-users/site-remote-users.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-remote-users/site-remote-users.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/site-remote-users/site-remote-users.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-remote-users/site-remote-users.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/shared/components/overview-section/overview-section.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/components/site/party-review/party-review.component.ts
  prime-angular-frontend/src/app/shared/components/site/remote-user-review/remote-user-review.component.html
  prime-angular-frontend/src/app/shared/components/site/remote-user-review/remote-user-review.component.scss
  prime-angular-frontend/src/app/shared/components/site/remote-user-review/remote-user-review.component.spec.ts
  prime-angular-frontend/src/app/shared/components/site/remote-user-review/remote-user-review.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Models/SiteRegistration/Site.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteListViewModel.cs
Labels: Backend, Frontend, Ready For Review

#844 PRIME-938 Remote practitioners Medinet and Excelleris users
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/classes/abstract-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/same-as/same-as.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/shared/components/access-terms-table/access-terms-table.component.html
  prime-angular-frontend/src/app/shared/enums/vendor.enum.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
Labels: Frontend, Ready For Review

#840 FIX | Add preStop lifecycle hook to gracefully shut down PostgreSQL before container kill
  documentation/compositions/yaml/metabase.aio.yaml
  documentation/compositions/yaml/postgres-deploymentconfig.yaml
  openshift/postgresql-ephemeral.dc.yaml
  openshift/postgresql.dc.yaml
Labels: CI/CD, Database, Ready For Review

#852 remove bc only from contacts address
  prime-angular-frontend/src/app/modules/site-registration/shared/components/contact-profile-form/contact-profile-form.component.html
Labels: Frontend, Ready For Review

#851 Feature/prime 1050 add org info to site reg review
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
Labels: Backend

#845 toast fix for if no email is found
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
Labels: Frontend, Ready For Review

#853 PRIME-1064 Fix Local Build of PRIME
  prime-angular-frontend/.editorconfig
  prime-angular-frontend/Dockerfile
Labels: Ready For Review

#856 PRIME-1067 all submitted dates in admin showing the same date
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.html
Labels: Frontend, Ready For Review

#857 PRIME-1063 Adding new site button redesign
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
Labels: Frontend, Ready For Review

#858 PRIME-1058 Privacy officer contextual tip
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.html
Labels: Frontend, Ready For Review

#859 PRIME-1059 24 hour option in Hours of Operation
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/business-day-hours.model.ts
Labels: Frontend, Ready For Review

#860 PRIME-1055 Address autocomplete bug omits province
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Frontend, Ready For Review

#861 PRIME-1068 Org Agreeement Text Update
  prime-angular-frontend/src/app/modules/site-registration/shared/components/contact-profile-form/contact-profile-form.component.html
  prime-dotnet-webapi/Resources/documents/Organization-Agreement.pdf
  prime-dotnet-webapi/Views/OrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/OrganizationAgreementPdf.cshtml
Labels: Backend, Ready For Review

#862 PRIME-1076 Site Registration Summary PDF Text Update - change Provisioner to SA
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
Labels: Backend, Ready For Review

#864 PRIME-1024 Sending approval to PharmaNet Administrators on PRIME
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.ts
Labels: Frontend, Ready For Review

#855 PRIME-961 sorting on admin enrollee view (client side)
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/lib/modules/ngx-material/ngx-material.module.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Frontend, Ready For Review

#863 PRIME-1045 WIP DBA Name(s) should appear on site management screen if applicable
  prime-angular-frontend/src/app/lib/utils/array-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site-registration.model.ts
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationListViewModel.cs
Labels: Backend, Frontend, Ready For Review

#847 PRIME-574 embedded metabase admin view
  openshift/dotnet-webapi.dc.yaml
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/metabase-reports/metabase-reports.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/metabase-reports/metabase-reports.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/metabase-reports/metabase-reports.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/metabase-reports/metabase-reports.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-dashboard/adjudication-dashboard.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Services/MetabaseService.cs
  prime-dotnet-webapi/Services/interfaces/IMetabaseService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Frontend, Ready For Review

#866 PRIME-1026 BCeID Landing page
  prime-angular-frontend/src/app/modules/auth/auth-routing.module.ts
  prime-angular-frontend/src/app/modules/auth/auth.module.ts
  prime-angular-frontend/src/app/modules/auth/auth.routes.ts
  prime-angular-frontend/src/app/modules/auth/pages/bceid/bceid.component.html
  prime-angular-frontend/src/app/modules/auth/pages/bceid/bceid.component.scss
  prime-angular-frontend/src/app/modules/auth/pages/bceid/bceid.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/bceid/bceid.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/enum/auth-provider.enum.ts
Labels: Frontend, Ready For Review

#867 PRIME-1077 Site registration wordsmithing
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-collection-notice/site-collection-notice.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.ts
  prime-angular-frontend/src/environments/environment.prod.template.ts
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review

#868 PRIME-1089 Create razor views and pdf for new agreement text
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Resources/documents/CommunityPharmacyOrganizationAgreement.pdf
  prime-dotnet-webapi/Resources/documents/CommunityPracticeOrganizationAgreement.pdf
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Views/CommunityPharmacyOrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/CommunityPharmacyOrganizationAgreementPdf.cshtml
  prime-dotnet-webapi/Views/CommunityPracticeOrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/CommunityPracticeOrganizationAgreementPdf.cshtml
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Ready For Review

#865 PRIME-1039 and 1023 - Document Upload Workflow Changes & Self Declaration Document Changes for Minor Update Rule
  document-manager/.vscode/settings.json
  document-manager/backend/app/docman/models/document.py
  document-manager/backend/app/docman/resources/document.py
  document-manager/backend/app/utils/models_mixins.py
  document-manager/backend/migrations/versions/6f27a6937206_.py
  document-manager/backend/requirements.txt
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/organization-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.html
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-angular-frontend/src/app/shared/models/self-declarations.model.ts
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/HttpClients/Document Manager/DocumentManagerClient.cs
  prime-dotnet-webapi/HttpClients/Document Manager/IDocumentManagerClient.cs
  prime-dotnet-webapi/Models/SelfDeclaration.cs
  prime-dotnet-webapi/Models/SiteRegistration/SignedAgreementDocument.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IOrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeListViewModel.cs
Labels: (ノ益 )ノ彡┻━┻, Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#870 Fix Backend Tests
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/SelfDeclarationFactory.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪
