Repository bcgov/moh-prime, pull requests merged in 2020-03, with the labels that each got.

#436 Remove nullable ints
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/AccessTerms/AccessTerm.cs
  prime-dotnet-webapi/Models/AccessTerms/AccessTermLicenseClassClause.cs
  prime-dotnet-webapi/Models/AccessTerms/GlobalClause.cs
  prime-dotnet-webapi/Models/AccessTerms/LicenseClassClause.cs
  prime-dotnet-webapi/Models/AccessTerms/LimitsConditionsClause.cs
  prime-dotnet-webapi/Models/AccessTerms/UserClause.cs
  prime-dotnet-webapi/Models/Addresses/Address.cs
  prime-dotnet-webapi/Models/Admin.cs
  prime-dotnet-webapi/Models/BaseAuditable.cs
  prime-dotnet-webapi/Models/Certifications/Certification.cs
  prime-dotnet-webapi/Models/Certifications/License.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/EnrolleeProfileVersion.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/Models/Job.cs
  prime-dotnet-webapi/Models/Notes/AccessAgreementNote.cs
  prime-dotnet-webapi/Models/Notes/AdjudicatorNote.cs
  prime-dotnet-webapi/Models/Notes/IEnrolleeNote.cs
  prime-dotnet-webapi/Models/Organization.cs
  prime-dotnet-webapi/Models/Statuses/EnrolmentStatus.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/AdminService.cs
  prime-dotnet-webapi/Services/EnrolleeProfileVersionService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/PrivilegeService.cs
  prime-dotnet-webapi/Services/interfaces/IAdminService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IPrivilegeService.cs
Labels: (ノ益 )ノ彡┻━┻, Backend, Needs Tests, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#437 Updated POC npm start script
  prime-angular-poc/angular.json
  prime-angular-poc/src/environments/environment.prod.ts
  prime-angular-poc/src/environments/environment.ts
Labels: Frontend, Ready For Review

#443 fix TOA not loading in time
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/shared/components/access-term/access-term.component.ts
Labels: Bug, Frontend, Ready For Review

#438 Business Events
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/BusinessEventType.cs
  prime-dotnet-webapi/Services/BusinessEventService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IBusinessEventService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeProfileViewModel.cs
Labels: Backend, Ready For Review

#432 Feature/search
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi/Models/Api/EnrolleeSearchOptions.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Frontend, Ready For Review

#446 Added DISPLAY_OFFSET const
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Ready For Review

#449 Fix search options
  prime-dotnet-webapi/Models/Api/EnrolleeSearchOptions.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#367 Adding enviromental variables to database and backup
  Jenkinsfile
  documentation/compositions/json/backup-template.bc.json
  documentation/compositions/json/backup-template.dc.json
  documentation/compositions/yaml/backup-template.cron.yaml
  functions.bash
  openshift/backup.cron.yaml
  openshift/backup.dc.yaml
  openshift/dotnet-webapi.bc.yaml
  prime-database-backup/Dockerfile
  prime-database-backup/backup.cron
  prime-database-backup/backup.sh
  prime-database-backup/entrypoint.sh
  prime-database-backup/openshift.dockerfile
  prime-dotnet-webapi/entrypoint.sh
  prime-dotnet-webapi/openshift.dockerfile
  sonar-scanner/openshift.dockerfile
  sonar-scanner/sonar-runner.bash
Labels: CI/CD

#346 Ensuring Admin page is accessible.
  functions.bash
  prime-angular-frontend/openshift.dockerfile
Labels: Frontend

#453 Updated base enrollees async to provide adjudicator nav property
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#457 Fix all types set to email
  prime-dotnet-webapi/Services/BusinessEventService.cs
Labels: Backend, Bug, Ready For Review

#458 Optional DB Logging
  prime-dotnet-webapi/ApiDbContext.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#460 Fix Lookup Service
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Models/Api/LookupEntity.cs
  prime-dotnet-webapi/Services/LookupService.cs
  prime-dotnet-webapi/Services/interfaces/ILookupService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#450 College Licence Validation Logging
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#459 Keycloak Documentation Updates
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review

#441 API Resource
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.routes.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.ts
  prime-angular-frontend/src/app/core/models/api-http-error-response.model.ts
  prime-angular-frontend/src/app/core/models/api-http-response.model.ts
  prime-angular-frontend/src/app/core/models/crud-http-response.model.ts
  prime-angular-frontend/src/app/core/models/pagination.model.ts
  prime-angular-frontend/src/app/core/models/prime-http-response.model.ts
  prime-angular-frontend/src/app/core/resources/abstract-crud-resource.ts
  prime-angular-frontend/src/app/core/resources/abstract-resource.ts
  prime-angular-frontend/src/app/core/resources/api-resource-utils.service.spec.ts
  prime-angular-frontend/src/app/core/resources/api-resource-utils.service.ts
  prime-angular-frontend/src/app/core/resources/api-resource.service.spec.ts
  prime-angular-frontend/src/app/core/resources/api-resource.service.ts
  prime-angular-frontend/src/app/core/services/error-handler.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/provisioner-access/shared/services/provisioner-access-resource.service.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Frontend, Ready For Review

#462 Refresh Height
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.scss
Labels: Frontend, Ready For Review

#451 Revamp API Status Codes
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/Api/ApiBadRequestResponse.cs
  prime-dotnet-webapi/Models/Api/ApiCreatedResponse.cs
  prime-dotnet-webapi/Models/Api/ApiOkResponse.cs
  prime-dotnet-webapi/Models/Api/ApiResponse.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#464 Test endpoint for licence validation testing
  prime-dotnet-webapi/Controllers/LookupsController.cs
Labels: (ノ益 )ノ彡┻━┻, Backend, Ready For Review

#470 Fix API Logging
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#463 Fix Enrolment Refresh
  prime-angular-frontend/src/app/core/services/error-handler.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
Labels: Frontend, Ready For Review

#468 Backend Tests Updated
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/Mocks/AccessTermServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/BaseMockService.cs
  prime-dotnet-webapi-tests/Mocks/BusinessEventServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeProfileVersionServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/LookupServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/PrivilegeMockService.cs
  prime-dotnet-webapi-tests/ModelFactories/Lookups/LicenseLookup.cs
  prime-dotnet-webapi-tests/ModelFactories/Lookups/PracticeLookup.cs
  prime-dotnet-webapi-tests/ModelFactories/Lookups/StatusLookup.cs
  prime-dotnet-webapi-tests/ModelFactories/StatusStateFactory.cs
  prime-dotnet-webapi-tests/Services/AutomaticAdjudicationService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Services/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
Labels: Backend, Ready For Review

#473 Minor Using Refactor
  prime-dotnet-webapi/PrimeConstants.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#472 Bugfix/always manual in philadelphia
  prime-angular-frontend/src/app/shared/components/dialogs/content/approve-enrolment/approve-enrolment.component.ts
Labels: Bug, Frontend, Ready For Review

#482 Fixes for Paul
  .vs/prime-dotnet-webapi/xs/UserPrefs.xml
  .vs/prime-dotnet-webapi/xs/project-cache/PrimeTests-Debug.json
  .vs/prime-dotnet-webapi/xs/project-cache/prime-Debug.json
  .vs/prime-dotnet-webapi/xs/sqlite3/db.lock
  .vs/prime-dotnet-webapi/xs/sqlite3/storage.ide
  Jenkinsfile
  Jenkinsfile.promotion
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.ts
  prime-dotnet-webapi-tests/Controllers/BaseController.Tests.cs
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Controllers/LookupsController.Tests.cs
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/Integration/LookupIntegration.Tests.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeProfileVersionServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/LookupServiceMock.cs
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi-tests/Services/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Services/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/Api/ApiResponse.cs
  sonar-scanner/openshift.dockerfile
  tests.bash
Labels: Backend, Ready For Review

#487 Keycloak updates
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
Labels: Documentation, Ready For Review

#490 Fix for middlename infinite loop
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.ts
Labels: Frontend, Ready For Review

#493 Event Update
  prime-dotnet-webapi/Models/BusinessEventType.cs
  prime-dotnet-webapi/Services/BusinessEventService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IBusinessEventService.cs
Labels: Backend, Ready For Review

#498 Fix status bug
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#495 Health Checks
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review

#496 PRIME-526 PRIME-511 Vendor and Office Manager separate emails
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolmentCertificateService.cs
Labels: Backend, Ready For Review

#499 Re-Align
  prime-dotnet-webapi/Configuration/Resources/ResourceLoader.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#501 Overview Validation
  prime-angular-frontend/src/app/modules/auth/shared/services/keycloak-token.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/shared/components/access-term/access-term.component.ts
  prime-angular-frontend/src/app/shared/components/alert/alert.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#491 PRIME-520
  prime-angular-frontend/src/app/core/services/error-handler.service.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-terms/enrollee-access-terms.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-terms/enrollee-access-terms.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/business-event.model.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-enrollee/claim-enrollee.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-enrollee/claim-enrollee.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-enrollee/claim-enrollee.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/manual-flag-note/manual-flag-note.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Frontend, Ready For Review

#502 Fix for notice alert icon binding
  prime-angular-frontend/src/app/shared/components/collection-notice-alert/collection-notice-alert.component.html
Labels: Frontend, Ready For Review

#506 PRIME-553 - Updated casing on card
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review

#505 PRIME-552 - Updated from 2 to 3 seconds for toasts
  prime-angular-frontend/src/app/core/services/toast.service.ts
Labels: Frontend, Ready For Review

#509 PRIME-544/539 - Edge Bugs
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/polyfills.ts
Labels: Frontend, Ready For Review

#510 PRIME-528 - Update TOA checkbox label
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
Labels: Frontend, Ready For Review

#512 PRIME-529 - Remove sentences
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#514 bugfix/PRIME-582-feedback-submit-on-cancel
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrollee-page/enrollee-page.component.ts
Labels: Bug, Frontend, Ready For Review

#515 PRIME-566 remove decline toa
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
Labels: Frontend, Ready For Review

#513 PRIME-538 - Updated checkbox label
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
Labels: Frontend, Ready For Review

#517 PRIME-587 - Displayed Claimed Adjudicator
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Ready For Review

#518 PRIME-577 - Front-end security hardening
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-poc/package-lock.json
  prime-angular-poc/yarn.lock
Labels: Frontend

#522 PRIME-577 - More hardening
  prime-angular-poc/package-lock.json
  prime-angular-poc/yarn.lock
Labels: Frontend

#523 PRIME-583 - Ticky Box Update
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#524 PRIME-588 - Updated regulatory text
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
Labels: Frontend, Ready For Review

#525 PRIME-585 - MIssing word, syntax, text updates
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#526 PRIME-584 - Update Landing Page
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review

#530 PRIME-596 Tool tip enrolment summary
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#527 PRIME-567-most-recent-toa
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IAccessTermService.cs
Labels: Backend, Frontend, Ready For Review

#528 PRIME-563 - TOA View Renewal Date for enrollee and admin
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/manual-flag-note/manual-flag-note.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/note/note.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/note/note.component.scss
  prime-angular-frontend/src/scss/_styles.scss
  prime-angular-frontend/src/scss/app.scss
Labels: Frontend, Ready For Review

#529 PRIME-594 summary consolidation
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#532 PRIME-589 update clinic email
  prime-dotnet-webapi/Services/EmailService.cs
Labels: Backend, Ready For Review

#535 PRIME-615 - Updated colleges to prevent multiples
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/college-certification.model.ts
Labels: Frontend, Ready For Review

#533 PRIME-614 - Enrollee Routing When Authenticated
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/shared/components/collection-notice-alert/collection-notice-alert.component.ts
Labels: Frontend, Ready For Review

#531 PRIME-565/592 - Send Provisioner Link / Office Manager Multiple Emails
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.html
  prime-angular-frontend/src/app/shared/validators/form-control.validators.ts
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolmentCertificateService.cs
Labels: Backend, Frontend, Ready For Review

#537 fix the bug with get current
  prime-dotnet-webapi/Services/AccessTermService.cs
Labels: Backend, Bug, Ready For Review

#511 PRIME-578 - Change pipeline approval time
  Jenkinsfile.promotion
Labels: CI/CD

#540 PRIME-# - Fix for npm audit fix
  prime-angular-frontend/openshift.dockerfile
Labels: Ready For Review

#536 PRIME-560 - Lock/Unlock Carte Blanche
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.html
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Frontend, Ready For Review

#541 PRIME-510 - Auth Constants
  prime-dotnet-webapi/AuthConstants.cs
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/FeedbackController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExtensions.cs
  prime-dotnet-webapi/Infrastructure/PrimeUserAuthHandler.cs
  prime-dotnet-webapi/PrimeConstants.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#542 PRIME-618 - Refresh Events
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/shared/components/collection-notice-alert/collection-notice-alert.component.html
Labels: Frontend, Ready For Review

#534 PRIME-593 - Infographic to next steps page
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/assets/approval-full.svg
  prime-angular-frontend/src/assets/approval.svg
  prime-angular-frontend/src/assets/moa-full.svg
  prime-angular-frontend/src/assets/moa.svg
  prime-angular-frontend/src/assets/notification-full.svg
  prime-angular-frontend/src/assets/notification.svg
Labels: Frontend, Ready For Review

#500 PRIME-521 - Pre-Adjudication Rules
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/business-event.model.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/enums/submission-action.enum.ts
  prime-dotnet-webapi-tests/Extensions/EnrolleeExtensions.cs
  prime-dotnet-webapi-tests/Mocks/AccessTermServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/AutomaticAdjudicationServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/PharmanetApiServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/SubmissionRulesServiceMock.cs
  prime-dotnet-webapi-tests/ModelFactories/Lookups/StatusReasonLookup.cs
  prime-dotnet-webapi-tests/ModelFactories/StatusStateFactory.cs
  prime-dotnet-webapi-tests/Services/AutomaticAdjudicationRules.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Services/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Models/Addresses/Address.cs
  prime-dotnet-webapi/Models/Api/SubmissionAction.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/Statuses/EnrolmentStatus.cs
  prime-dotnet-webapi/Models/Statuses/StatusReason.cs
  prime-dotnet-webapi/Models/Statuses/StatusReasonType.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/AutomaticAdjudicationService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/Rules/IEnrolleeRule.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IAutomaticAdjudicationService.cs
  prime-dotnet-webapi/Services/interfaces/ISubmissionRulesService.cs
  prime-dotnet-webapi/Services/interfaces/ISubmissionService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Frontend, Needs Tests, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#549 PRIME-639 - Fix pre-rule
  prime-dotnet-webapi-tests/Services/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝
