Repository bcgov/moh-prime, pull requests merged in 2020-04, with the labels that each got.

#551 PRIME-642 Update README.md
  README.md
Labels: (ノ益 )ノ彡┻━┻, Documentation, Ready For Review

#552 PRIME-640 - Update CareConnect Lookup
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/Api/HpdidLookupResponse.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#559 PRIME-644 properly log limit and condition note event
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#560 Add SQL for CareConnect test data
  documentation/Insert CareConnect Test Data SQL.txt
Labels: Backend, Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#555 PRIME-506 - Logging
  prime-dotnet-webapi/.gitignore
  prime-dotnet-webapi/.vscode/settings.json
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExtensions.cs
  prime-dotnet-webapi/PrimeConstants.cs
  prime-dotnet-webapi/Program.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/appsettings.Development.json
  prime-dotnet-webapi/appsettings.json
  prime-dotnet-webapi/prime.csproj
Labels: Frontend, Ready For Review

#562 POC Angular v9
  prime-angular-frontend/package.json
  prime-angular-frontend/src/polyfills.ts
  prime-angular-poc/angular.json
  prime-angular-poc/package-lock.json
  prime-angular-poc/package.json
  prime-angular-poc/src/app/modules/auth/pages/login/login.component.ts
  prime-angular-poc/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.spec.ts
  prime-angular-poc/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  prime-angular-poc/src/app/shared/modules/ngx-busy/ngx-busy.module.ts
  prime-angular-poc/src/app/shared/modules/ngx-material/ngx-material.module.ts
  prime-angular-poc/src/app/shared/modules/ngx-progress/ngx-progress.config.ts
  prime-angular-poc/src/app/shared/modules/ngx-progress/ngx-progress.module.ts
  prime-angular-poc/src/main.ts
  prime-angular-poc/src/polyfills.ts
  prime-angular-poc/tsconfig.app.json
  prime-angular-poc/yarn.lock
Labels: Frontend, Ready For Review

#564 PRIME-648 - Access Term Improvements
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-current/access-agreement-current.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/global-clause/global-clause.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/global-clause/global-clause.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/global-clause/global-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/global-clause/global-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/licence-class-clause/licence-class-clause.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/licence-class-clause/licence-class-clause.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/licence-class-clause/licence-class-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/licence-class-clause/licence-class-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/obo-access-terms/obo-access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/obo-access-terms/obo-access-terms.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/obo-access-terms/obo-access-terms.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/obo-access-terms/obo-access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/user-clause/user-clause.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/user-clause/user-clause.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/user-clause/user-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/user-clause/user-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/page-ref.directive.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/page-ref.directive.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/pager.directive.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/access-term/access-term.component.html
  prime-angular-frontend/src/app/shared/components/access-term/access-term.component.ts
  prime-angular-frontend/src/app/shared/models/access-term.model.ts
  prime-dotnet-webapi/.editorconfig
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Models/AccessTerms/AccessTerm.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/RazorConverterService.cs
  prime-dotnet-webapi/Services/interfaces/IRazorConverterService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/Views/AccessTerm/TermsOfAccess.cshtml
Labels: Backend, Frontend, Ready For Review

#557 PRIME #609 Adding database template to pipeline
  Jenkinsfile
  Jenkinsfile.promotion
  docker-compose.yml
  mongo.conf
  openshift/backup.dc.yaml
  openshift/dotnet-webapi.dc.yaml
  openshift/mongo.dc.yaml
  postgres.conf
  prime-database-backup/Dockerfile
  prime-database-backup/backup.sh
  prime-database-backup/openshift.dockerfile
  prime-mongo/Dockerfile
Labels: Backend, CI/CD

#566 PRIME-678 - Update event messages
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review

#567 PRIME-554 - Info Page
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/components/auth/auth.component.html
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.html
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.scss
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.ts
  prime-angular-frontend/src/app/shared/components/header/header.component.html
  prime-angular-frontend/src/app/shared/components/header/header.component.scss
  prime-angular-frontend/src/app/shared/components/header/header.component.ts
  prime-angular-frontend/src/app/shared/components/prime-logo/prime-logo.component.ts
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.html
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.scss
  prime-angular-frontend/src/app/shared/components/prime-support-email/prime-support-email.component.scss
  prime-angular-frontend/src/assets/bc_services_card.svg
  prime-angular-frontend/src/assets/enrolment.svg
  prime-angular-frontend/src/assets/login-background.jpg
  prime-angular-frontend/src/assets/notification.svg
  prime-angular-frontend/src/assets/pill-2.svg
  prime-angular-frontend/src/assets/pill.svg
  prime-angular-frontend/src/assets/prime-logo-textless.svg
  prime-angular-frontend/src/assets/prime_logo_icon.svg
  prime-angular-frontend/src/assets/step_1.mobile.svg
  prime-angular-frontend/src/assets/step_1.svg
  prime-angular-frontend/src/assets/step_2.mobile.svg
  prime-angular-frontend/src/assets/step_2.svg
  prime-angular-frontend/src/assets/step_3.mobile.svg
  prime-angular-frontend/src/assets/step_3.svg
  prime-angular-frontend/src/polyfills.ts
Labels: Frontend, Ready For Review

#569 PRIME-673 - Site Registration Collection Notice
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-collection-notice/site-collection-notice.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-collection-notice/site-collection-notice.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-collection-notice/site-collection-notice.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-collection-notice/site-collection-notice.component.scss
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-collection-notice/site-collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-collection-notice/site-collection-notice.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/site-registration.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
  prime-angular-frontend/src/app/shared/components/collection-notice-alert/collection-notice-alert.component.html
  prime-angular-frontend/src/app/shared/components/collection-notice-alert/collection-notice-alert.component.ts
  prime-angular-frontend/src/app/shared/components/collection-notice-container/collection-notice-container.component.html
  prime-angular-frontend/src/app/shared/components/collection-notice-container/collection-notice-container.component.scss
  prime-angular-frontend/src/app/shared/components/collection-notice-container/collection-notice-container.component.spec.ts
  prime-angular-frontend/src/app/shared/components/collection-notice-container/collection-notice-container.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#570 PRIME-680 - Site Registration Vendor
  prime-angular-frontend/src/app/modules/site-registration/pages/vendor/vendor.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/vendor/vendor.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/registrant-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/registrant-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/registrant.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/registrant.service.ts
Labels: Frontend, Ready For Review

#571 PRIME-675 - Organization Information
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/multiple-sites/multiple-sites.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-information/site-information.component.html
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
Labels: Frontend, Ready For Review

#572 PRIME-679 - Site Address Information
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
  prime-angular-frontend/src/app/shared/enums/province.enum.ts
Labels: Frontend, Ready For Review

#573 PRIME-693 - Hours of Operation
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
Labels: Frontend, Ready For Review

#574 PRIME-686 - Signing Authority
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/signing-authority/signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/signing-authority/signing-authority.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-contact/technical-support-contact.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-contact/technical-support-contact.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/registrant-profile-form/registrant-profile-form.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/registrant-profile-form/registrant-profile-form.component.ts
Labels: Frontend, Ready For Review

#575 PRIME-698 - Email Razor Port
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Views/Emails/OfficeManagerEmail.cshtml
  prime-dotnet-webapi/Views/Emails/VendorEmail.cshtml
Labels: Backend, Ready For Review

#568 PRIME-669 - Enrollee Most Recent TOA Signed
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.scss
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#577 PRIME-699 - Reorder Enrollee members
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#582 PRIME-708 - Removed Logging from Tests
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi-tests/TestStartup.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review

#565 PRIME-652 feature flagging
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-test.json
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
Labels: Frontend, Ready For Review

#578 PRIME-690 - Site Registration Review
  prime-angular-frontend/src/app/modules/site-registration/pages/site-review/site-review.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-review/site-review.component.scss
  prime-angular-frontend/src/app/modules/site-registration/shared/components/registrant-profile-review/registrant-profile-review.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/registrant-profile-review/registrant-profile-review.component.ts
Labels: Frontend, Ready For Review

#583 PRIME-701 - More Information
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/signing-authority/signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-contact/technical-support-contact.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/registrant-profile-form/registrant-profile-form.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-address/enrollee-address.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-address/enrollee-address.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-address/enrollee-address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-address/enrollee-address.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.html
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.scss
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#592 PRIME-656 - PRIME Enrolment
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-declined/access-declined.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-declined/access-declined.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/provisioner-access/shared/components/provisioner-access/provisioner-access.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.spec.ts
Labels: Frontend, Ready For Review

#593 PRIME-716 - Notification Update
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.ts
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
Labels: Frontend, Ready For Review

#594 PRIME-714/715 - Notification Submission / Feedback
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrollee-page/enrollee-page.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrollee-page/enrollee-page.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrollee-page/enrollee-page.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-progress-indicator/enrolment-progress-indicator.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-progress-indicator/enrolment-progress-indicator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-progress-indicator/site-progress-indicator.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-progress-indicator/site-progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/feedback/feedback.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/feedback/feedback.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-output.model.ts
  prime-angular-frontend/src/app/shared/services/feedback-resource.service.ts
Labels: Frontend, Ready For Review

#595 PRIME-570 - Resend Reminder Notification
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/pipes/status-reasons.pipe.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Views/Emails/ReminderEmail.cshtml
Labels: Backend, Frontend, Ready For Review

#599 PRIME-625 - First part of test updates
  prime-dotnet-webapi-tests/ModelFactories/CertificationFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/NoteFactory.cs
  prime-dotnet-webapi-tests/Services/AutomaticAdjudicationRules.Tests.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#597 PRIME-653 remove approval date from table
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review
