Repository bcgov/moh-prime, pull requests merged in 2020-02, with the labels that each got.

#319 Attempting database migrations with 2.2
  prime-dotnet-webapi/Dockerfile
  prime-dotnet-webapi/openshift.dockerfile
Labels: Backend, CI/CD

#317 Reduce Info on Provisioner Link Certificate
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.ts
  prime-angular-frontend/src/app/modules/provisioner-access/shared/models/enrolment-certificate.model.ts
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
Labels: Backend, Frontend, Ready For Review

#315 More Keycloak Documentation Updates
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Backend, Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#321 Add test endpoint
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#324 Adding vanity files instead of inline
  openshift/angular-frontend.bc.yaml
  openshift/angular-frontend.dc.yaml
  openshift/dotnet-webapi.dc.yaml
  player.sh
  prime-angular-frontend/entrypoint.sh
  prime-angular-frontend/nginx.template.conf
  prime-angular-frontend/nginxdev.conf
  prime-angular-frontend/nginxprod.conf
  prime-angular-frontend/nginxtest.conf
Labels: Frontend, Ready For Review

#327 Collection Notice - Show Next on InitialEnrolment, Ok on overview
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.ts
Labels: Frontend, Ready For Review

#329 Adding missing port
  prime-angular-frontend/Dockerfile
Labels: Backend

#314 Email Provisioner Access Link
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/models/enrolment-certificate-access-token.model.ts
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/HealthcheckController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/Api/ApiBadRequestResponse.cs
  prime-dotnet-webapi/Models/Api/ApiCreatedResponse.cs
  prime-dotnet-webapi/Models/Api/ApiOkResponse.cs
  prime-dotnet-webapi/Models/Api/ApiResponse.cs
  prime-dotnet-webapi/Models/Api/EnrolleeSearchOptions.cs
  prime-dotnet-webapi/Models/Api/SimpleBodyData.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#323 Update tests to use Module in import instead of declaration
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/admin/admin.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/global-clause/global-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/licence-class-clause/licence-class-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/user-clause/user-clause.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.spec.ts
Labels: Frontend, Ready For Review

#328 Feature/markdown dialog
  prime-angular-frontend/angular.json
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/shared/components/dialogs/content/markdown/markdown.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/markdown/markdown.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/markdown/markdown.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/markdown/markdown.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#331 VSCode Config
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  prime-angular-frontend/.vscode/launch.json
  prime-angular-poc/.vscode/extensions.json
  prime-angular-poc/.vscode/launch.json
  prime-angular-poc/.vscode/settings.json
  prime-angular-poc/src/app/core/components/access-denied/access-denied.component.html
  prime-dotnet-webapi/.vscode/launch.json
  prime-dotnet-webapi/.vscode/tasks.json
Labels: Backend, Frontend, Ready For Review

#332 Progress Bar
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
Labels: Frontend, Ready For Review

#336 Refactor body data
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/Api/SimpleBodyData.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#342 Remove Limits and Conditions Cert
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/markdown/markdown.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/markdown/markdown.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.spec.ts
Labels: Frontend, Ready For Review

#340 Fix status filtering on admin enrolments page
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#343 Fix keycloak refresh
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak.module.ts
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#335 Feature/spelling mistake
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.ts
  prime-dotnet-webapi/Configuration/DefaultPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/assets/ru-access-terms.html
  prime-dotnet-webapi/Migrations/20200205225608_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200205225608_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
Labels: Frontend, Ready For Review

#334 grammatical updates and addition of preview
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-term/access-term.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/pipes/safe-html.pipe.ts
Labels: Frontend, Ready For Review

#349 Pharmanet API error instead of null
  prime-dotnet-webapi/.vscode/settings.json
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
Labels: Ready For Review

#341 Update Enrollee using EnrolleeProfile View Model
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeProfileViewModel.cs
Labels: Backend, Ready For Review

#348 Remove device provider rule check
  prime-dotnet-webapi/Services/AutomaticAdjudicationService.cs
Labels: Backend, Bug, Ready For Review

#353 hide delete menu option
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
Labels: Frontend, Ready For Review

#351 Feature/add refresh admin
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
Labels: Frontend, Ready For Review

#358 make getEnrolments public so template can call
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
Labels: Frontend, Ready For Review

#354 New vs Edit/Renew Enrolment
  prime-angular-frontend/.vscode/settings.json
  prime-angular-frontend/src/app/core/services/route-state.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/BaseEnrolmentPage.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/BaseEnrolmentProfilePage.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Frontend, Ready For Review

#347 Feature/local api docker
  prime-dotnet-webapi/Dockerfile
  prime-dotnet-webapi/entrypoint.sh
Labels: CI/CD, Ready For Review

#359 Feature/scroll to invalid
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/BaseEnrolmentProfilePage.ts
Labels: Frontend, Ready For Review

#361 update approve date logic
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Ready For Review

#355 Added missing front-end test
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.spec.ts
Labels: Frontend, Ready For Review

#362 font weight updates on enrollee
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property/enrollee-property.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#357 Seperate college number from license number on review page
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#356 Status Updates
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/enums/progress-status.enum.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.html
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.ts
  prime-angular-frontend/src/app/shared/enums/enrolment-status.enum.ts
  prime-angular-frontend/src/app/shared/models/enrollee.model.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi/Configuration/StatusConfiguration.cs
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Migrations/20200211173206_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200211173206_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/Statuses/Status.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Frontend, Ready For Review

#352 admin can't add clause while active
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
Labels: Frontend, Ready For Review

#365 Feature/tuesday updates
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.html
  prime-dotnet-webapi/Configuration/assets/obo-access-terms.html
Labels: Frontend, Ready For Review

#368 Allow routing to child route paths based on parent route in guard
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
Labels: Frontend, Ready For Review

#366 Feature/expired link
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.ts
Labels: Frontend, Ready For Review

#372 Updated access agreement button position for mobile through desktop, Updated route name and path
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.spec.ts
Labels: Frontend, Ready For Review

#371 Update for changes outside of key up events, and Updated default preview message
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
Labels: Frontend, Ready For Review

#374 Allow Profile Access
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Frontend, Ready For Review

#375 Updated Approved Text
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
Labels: Frontend, Ready For Review

#377 fix merge issue
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#369 Dashboard Highlight Updates
  prime-angular-frontend/src/app/core/services/route-state.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/models/dashboard.model.ts
  prime-angular-frontend/src/scss/material/components/_mat-sidenav.scss
Labels: Frontend, Ready For Review

#378 Fix broken api tests
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Mocks/BaseMockService.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/Lookups/StatusLookup.cs
  prime-dotnet-webapi-tests/ModelFactories/NoteFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/StatusStateFactory.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
Labels: Backend, Ready For Review

#379 Updated self dec. with bullets
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
Labels: Frontend, Ready For Review

#380 Enable editing change In-Progress to Active
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
Labels: Frontend, Ready For Review

#370 enrolment history for a given access term
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-terms/access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-terms/access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/EnrolleeProfileVersionService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeProfileVersionService.cs
Labels: Frontend, Ready For Review

#381 Feature/login page vii
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-support-email/prime-support-email.component.html
  prime-angular-frontend/src/app/shared/components/prime-support-email/prime-support-email.component.scss
  prime-angular-frontend/src/app/shared/components/prime-support-email/prime-support-email.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-support-email/prime-support-email.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/environments/environment.prod.template.ts
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review

#382 Phone Extension maxlength 10
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Frontend, Ready For Review

#384 404 not found page
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.module.ts
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.html
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.scss
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.ts
  prime-angular-frontend/src/app/core/core.module.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/provisioner-access/provisioner-access-routing.module.ts
  prime-angular-frontend/src/app/modules/provisioner-access/provisioner-access.module.ts
  prime-angular-frontend/src/app/modules/user-interface/components/access-denied/access-denied.component.html
  prime-angular-frontend/src/app/modules/user-interface/components/access-denied/access-denied.component.scss
  prime-angular-frontend/src/app/modules/user-interface/components/access-denied/access-denied.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/access-denied/access-denied.component.ts
  prime-angular-frontend/src/app/modules/user-interface/components/maintenance/maintenance.component.html
  prime-angular-frontend/src/app/modules/user-interface/components/maintenance/maintenance.component.scss
  prime-angular-frontend/src/app/modules/user-interface/components/maintenance/maintenance.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/maintenance/maintenance.component.ts
  prime-angular-frontend/src/app/modules/user-interface/components/page-not-found/page-not-found.component.html
  prime-angular-frontend/src/app/modules/user-interface/components/page-not-found/page-not-found.component.scss
  prime-angular-frontend/src/app/modules/user-interface/components/page-not-found/page-not-found.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/page-not-found/page-not-found.component.ts
  prime-angular-frontend/src/app/modules/user-interface/user-interface-module.module.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/prime-logo/prime-logo.component.scss
  prime-angular-frontend/src/app/shared/components/prime-logo/prime-logo.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-logo/prime-logo.component.svg
  prime-angular-frontend/src/app/shared/components/prime-logo/prime-logo.component.ts
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/assets/prime_logo_icon.svg
  prime-angular-frontend/tsconfig.json
Labels: Frontend, Ready For Review

#385 Phone Number Update
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.ts
  prime-angular-frontend/src/environments/environment.prod.template.ts
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review

#387 Deactivate transactions
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
Labels: Frontend, Ready For Review

#386 Landing Page Buttons
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
Labels: Frontend, Ready For Review

#388 Updated to use no-reply email
  prime-dotnet-webapi/Services/EmailService.cs
Labels: Frontend, Ready For Review

#389 Super_Admin delete
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/PrimeConstants.cs
Labels: Backend, Frontend, Ready For Review

#390 Email Provisioner Link fix
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
Labels: Backend, Bug

#391 Updates for Demo
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-terms/access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.html
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-dotnet-webapi/Configuration/OrganizationTypeConfiguration.cs
Labels: Frontend, Ready For Review

#393 Fix province and postal being cleared
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Frontend, Ready For Review

#394 Update Keycloak Export
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-test.json
  prime-dotnet-webapi/PrimeConstants.cs
Labels: Backend, Documentation, Ready For Review

#395 Text Change to TOA
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-term/access-term.component.ts
Labels: Frontend, Ready For Review

#373 changing to 30 second checks, fail on 10 second returns.
  openshift/dotnet-webapi.dc.yaml
Labels: CI/CD, Ready For Review

#397 Land Page Update
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.html
Labels: Frontend, Ready For Review

#396 Limits and Conditions Clause Only Under Review
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Backend, Frontend, Ready For Review

#398 Display Enrolment Certificate from Profile History
  prime-dotnet-webapi-tests/Mocks/EnrolleeProfileVersionServiceMock.cs
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
Labels: Backend, Ready For Review

#399 Self Declaration Header and Helper Text minor updates
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
Labels: Frontend, Ready For Review

#400 Feature/licence update
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.html
Labels: Frontend, Ready For Review

#402 Clean Up
  prime-angular-frontend/src/app/core/services/route-state.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-current/access-agreement-current.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-current/access-agreement-current.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
Labels: Frontend, Ready For Review

#403 Fix Address Province
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
Labels: Frontend, Ready For Review

#406 Config Update
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
Labels: Frontend, Ready For Review

#407 Fix Highlight on Dashboard Navigation
  prime-angular-frontend/src/app/core/guards/unsupported.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.ts
  prime-angular-frontend/src/app/modules/user-interface/components/access-denied/access-denied.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/maintenance/maintenance.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/page-not-found/page-not-found.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/page-simple/page-simple.component.spec.ts
  prime-angular-frontend/src/app/modules/user-interface/components/unsupported/unsupported.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/models/dashboard.model.ts
Labels: Frontend, Ready For Review

#408 Fix GPID generation
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#409 Demo Updates
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
Labels: Frontend, Ready For Review

#410 Get enrollee count for healthcheck
  prime-dotnet-webapi/Controllers/HealthcheckController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Ready For Review

#404 Feature/email fail gracefully back end
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/Api/ApiOkResponse.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#411 Updates to Language and SMS Phone
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#414 Updated language
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
Labels: Frontend, Ready For Review

#415 Language update
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
Labels: Frontend, Ready For Review

#416 Updated Button Label
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
Labels: Frontend, Ready For Review

#418 Fix not accepting TOA
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review

#413 Revert "Feature/email fail gracefully back end (#404)"
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/Api/ApiOkResponse.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#425 Send Provisioner Links
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolmentCertificateService.cs
Labels: Backend, Frontend, Ready For Review

#430 New Extension
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExensions.cs
  prime-dotnet-webapi/Infrastructure/PrimeUserAuthHandler.cs
Labels: Backend, ༼ つ ◕_◕ ༽つ 🍪

#433 derived display id and display of id
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Frontend, Ready For Review
