Repository bcgov/moh-prime, pull requests merged in 2020-11, with the labels that each got.

#921 PRIME-1169 Do not allow Signing Authority to update the Organization Information after first submission
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-angular-frontend/src/test/mocks/mock-organization.service.ts
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/IOrganizationService.cs
Labels: Backend, Frontend, Ready For Review

#923 Update Keycloak Documentation
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#919 PRIME-1170 Enrolment table under "Enrolments" isn't matching what's on the Enrollee list
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeViewModel.cs
Labels: Backend, Frontend, Ready For Review

#924 PRIME-1167 Enable Health Authority Care Type Setting
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
Labels: Frontend, Ready For Review

#922 PRIME 1101 Advanced Name Search
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#917 PRIME 1139 Community Pharm Email
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Views/Emails/CommunityPharmacyManagerEmail.cshtml
Labels: Backend, Frontend, Ready For Review

#909 PRIME 206 Upload Documents on Enrollee
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-documents/adjudicator-documents.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-documents/adjudicator-documents.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-documents/adjudicator-documents.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-documents/adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/adjudication-document.model.ts
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Migrations/20201014231817_CreateDocumentsForAdjudications.Designer.cs
  prime-dotnet-webapi/Migrations/20201014231817_CreateDocumentsForAdjudications.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/Documents/EnrolleeAdjudicationDocument.cs
  prime-dotnet-webapi/Models/Documents/IAdjudicationDocument.cs
  prime-dotnet-webapi/Models/Documents/SiteAdjudicationDocument.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/SiteRegistration/Site.cs
  prime-dotnet-webapi/Services/DocumentService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IDocumentService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Backend, Frontend, Ready For Review

#927 PRIME-1090 Wordsmithing Continued
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
Labels: Frontend, Ready For Review

#931 Fix TOA Bug
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#926 feature/PRIME-1143-update-keycloak-endpoint
  document-manager/backend/.env-prime-local
  documentation/compositions/yaml/document-manager-backend--env-prime-configmap.yaml
  poc/prime-angular-poc/src/environments/environment.prod.ts
  poc/prime-angular-poc/src/environments/environment.ts
  poc/prime-js-poc/src/lib/es5.js
  poc/prime-js-poc/src/lib/es6.js
  poc/prime-winforms-poc/WinformsGpidPoc/MainWindow.xaml.cs
  prime-angular-frontend/nginx.template.conf
  prime-angular-frontend/nginxdev.conf
  prime-angular-frontend/nginxprod.conf
  prime-angular-frontend/nginxtest.conf
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/environments/environment.ts
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/appsettings.json
Labels: Backend, Frontend, Ready For Review

#925 PRIME-1144 Admin ability to choose TOA when in manual review
  prime-angular-frontend/src/app/core/resources/api-resource.service.ts
  prime-angular-frontend/src/app/lib/utils/enum-utils.class.ts
  prime-angular-frontend/src/app/lib/validators/form-control.validators.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/environments/environment.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Models/Agreements/AgreementType.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeViewModel.cs
Labels: Backend, Frontend, Ready For Review

#928 PRIME-1173 Allow enrollees to request remote access based on licence type
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.ts
Labels: Frontend, Ready For Review

#929 PRIME-1164 Age limit on enrollees
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.routes.ts
  prime-angular-frontend/src/app/core/guards/underaged.guard.spec.ts
  prime-angular-frontend/src/app/core/guards/underaged.guard.ts
  prime-angular-frontend/src/app/core/guards/unsupported.guard.ts
  prime-angular-frontend/src/app/lib/constants.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/underaged/underaged.component.html
  prime-angular-frontend/src/app/lib/modules/root-routes/components/underaged/underaged.component.scss
  prime-angular-frontend/src/app/lib/modules/root-routes/components/underaged/underaged.component.spec.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/underaged/underaged.component.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/root-routes.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeCreateModel.cs
Labels: Frontend, Ready For Review

#934 PRIME-1018 - Full Agreement Logic
  prime-angular-frontend/src/app/shared/enums/care-setting.enum.ts
  prime-dotnet-webapi/Engines/AgreementEngine Internal/CertificationDigest.cs
  prime-dotnet-webapi/Engines/AgreementEngine Internal/SettingsDigest.cs
  prime-dotnet-webapi/Engines/AgreementEngine.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#932 PRIME-1007 Site notification template
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/summary-card/summary-card.component.html
Labels: Frontend, Ready For Review

#933 PRIME-1090 Autocomplete Update
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
Labels: Frontend, Ready For Review

#935 PRIME-1147 Update Doing Business As on Business Licence Page
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
Labels: Frontend, Ready For Review

#920 PRIME-1133 Add Remote Access Indicator in Admin
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access-addresses/remote-access-addresses.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment-card.model.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeListViewModel.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeUpdateModel.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolmentCardViewModel.cs
  prime-dotnet-webapi/ViewModels/Enrollee/RemoteAccessSiteViewModel.cs
Labels: Backend, Frontend, Ready For Review

#941 PRIME-1164 Age Limit Update
  .gitignore
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeCreateModel.cs
Labels: Backend, Ready For Review

#940 PRIME-1070 Update to show site not submitted all the time
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
Labels: Frontend, Ready For Review

#942 PRIME-1104 Event Filters
  .gitignore
  prime-angular-frontend/src/app/lib/utils/enum-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/business-event-type.model.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/business-event.model.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review

#943 PRIME-1186 add site name to pdf overview
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
Labels: Backend, Ready For Review

#946 PRIME-# Added fix for race condition between guards and the config resolver
  prime-angular-frontend/src/app/config/config-resolver.spec.ts
  prime-angular-frontend/src/app/config/config-resolver.ts
  prime-angular-frontend/src/app/config/config.guard.spec.ts
  prime-angular-frontend/src/app/config/config.guard.ts
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#945 PRIME-1191 Only show remote access button if allowed remote access
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
Labels: Frontend, Ready For Review

#950 Improve VS Code Performance
  prime-dotnet-webapi/.editorconfig
  prime-dotnet-webapi/.vscode/settings.json
Labels: (ノ益 )ノ彡┻━┻

#947 PRIME-1148 Filter on licences
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
Labels: Frontend, Ready For Review

#951 Config Update
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/core/services/enrollee-utils.service.spec.ts
  prime-angular-frontend/src/app/core/services/enrollee-utils.service.ts
  prime-angular-frontend/src/test/mocks/mock-config.service.ts
  prime-angular-frontend/src/test/mocks/mock-config.ts
Labels: Frontend, Ready For Review

#952 PRIME-1183 - Agreement Engine Bug
  prime-dotnet-webapi/DTOs/AgreementEngine/AgreementEngineDto.cs
  prime-dotnet-webapi/Engines/AgreementEngine Internal/CertificationDigest.cs
  prime-dotnet-webapi/Engines/AgreementEngine Internal/SettingsDigest.cs
  prime-dotnet-webapi/Engines/AgreementEngine.cs
  prime-dotnet-webapi/Models/Certifications/College.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolleeSubmissionService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeSubmissionService.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#944 PRIME-1142 - Email notification page by care setting
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.html
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.ts
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Views/Emails/HealthAuthorityEmail.cshtml
Labels: Backend, Frontend, Ready For Review

#954 PRIME-1201-1205 Only Allow Community Practice Setting to request Remote Access
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
Labels: Frontend, Ready For Review

#955 PRIME-1204 Summary page should not have ANY remote use info if license type and/or care setting don't permit it
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#953 PRIME-1202 Notification page text updates
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#958 PRIME-1212 Pharmacy Technician and Non-Practicing Pharmacy Technician and Podiatrists
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Frontend, Ready For Review

#960 Read Enrollee Information from FormStateService for Renewals
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
Labels: Frontend, Ready For Review

#961 PRIME-1214 Email validation on remote user in site registration
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
Labels: Frontend, Ready For Review

#962 Prune Environment Variables
  docker-compose.yml
  documentation/compositions/json/dotnet-webapi.bc.json
  documentation/compositions/json/dotnet-webapi.dc.json
  documentation/compositions/yaml/dotnet-webapi-deploymentconfig.yaml
  openshift/dotnet-webapi.bc.yaml
  openshift/dotnet-webapi.dc.yaml
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/AuthConstants.cs
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Program.cs
  prime-dotnet-webapi/appsettings.json
  prime-dotnet-webapi/docker-compose.yml
Labels: Backend, CI/CD, Ready For Review

#964 PRIME-1208 Create PHSA Labtech Module
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/example/example.component.html
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/example/example.component.scss
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/example/example.component.spec.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/example/example.component.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech-routing.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.routes.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/components/phsa-labtech-dashboard/phsa-labtech-dashboard.component.html
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/components/phsa-labtech-dashboard/phsa-labtech-dashboard.component.scss
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/components/phsa-labtech-dashboard/phsa-labtech-dashboard.component.spec.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/components/phsa-labtech-dashboard/phsa-labtech-dashboard.component.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/services/phas-labtech-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/services/phas-labtech-resource.service.ts
  prime-angular-frontend/tsconfig.json
Labels: Frontend, Ready For Review

#967 Implemented PRIME-1189 (Advanced practice certification options need …
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/enums/nursing-license-code.enum.ts
Labels: Frontend

#968 PRIME-1075 SOAP Integration
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.ts
  prime-dotnet-webapi/Helpers/XmlSerializerHelper.cs
  prime-dotnet-webapi/Services/SoapService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Ready For Review

#970 PRIME# - Lazy load provisioner access
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/provisioner-access/provisioner-access-routing.module.ts
  prime-angular-frontend/src/app/shared/pipes/format-date.pipe.spec.ts
Labels: Frontend, Ready For Review

#971 Feature/prime 1223 add phsa landing page
  prime-angular-frontend/src/app/modules/auth/auth-routing.module.ts
  prime-angular-frontend/src/app/modules/auth/auth.module.ts
  prime-angular-frontend/src/app/modules/auth/auth.routes.ts
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.html
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.scss
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.routes.ts
Labels: Frontend

#973 Slight Change to EditorConfig
  prime-dotnet-webapi/.editorconfig
Labels: Ready For Review

#975 PRIME-1216 Notification page success message text updates
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#966 PRIME-1187 Business Licence page updates
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
Labels: Frontend, Ready For Review

#974 PRIME-194 Notification of requirement to renew
  prime-dotnet-webapi/Controllers/EmailsController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Views/Emails/RenewalPassedEmail.cshtml
  prime-dotnet-webapi/Views/Emails/RenewalRequiredEmail.cshtml
Labels: Backend, Ready For Review

#977 Keycloak Documentation Update
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#976 Auth Constants Refactor
  prime-dotnet-webapi/AuthConstants.cs
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/Controllers/AddressAutocompleteController.cs
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/DocumentAccessController.cs
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
  prime-dotnet-webapi/Controllers/EmailsController.cs
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/FeedbackController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExtensions.cs
  prime-dotnet-webapi/Infrastructure/PrimeUserAuthHandler.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeCreateModel.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeUpdateModel.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#972 Refactor and clean up of razor views
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Views/Agreements/CommunityPharmacyOrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/Agreements/CommunityPharmacyOrganizationAgreementPdf.cshtml
  prime-dotnet-webapi/Views/Agreements/CommunityPracticeOrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/Agreements/CommunityPracticeOrganizationAgreementPdf.cshtml
  prime-dotnet-webapi/Views/Agreements/TermsOfAccess.cshtml
  prime-dotnet-webapi/Views/Agreements/TermsOfAccessPdf.cshtml
  prime-dotnet-webapi/Views/CommunityPharmacyOrganizationAgreementPdf.cshtml
  prime-dotnet-webapi/Views/CommunityPracticeOrganizationAgreementPdf.cshtml
  prime-dotnet-webapi/Views/Partials/_AgreementDate.cshtml
  prime-dotnet-webapi/Views/Partials/_AgreementSignature.cshtml
  prime-dotnet-webapi/Views/Partials/_AgreementTheme.cshtml
  prime-dotnet-webapi/Views/Partials/_BaseLayout.cshtml
  prime-dotnet-webapi/Views/Partials/_BootstrapTheme.cshtml
  prime-dotnet-webapi/Views/Partials/_FontTheme.cshtml
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
  prime-dotnet-webapi/Views/TermsOfAccessPdf.cshtml
Labels: Backend, Ready For Review

#980 Fix Hpdid Lookup
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/Api/HpdidLookupResponse.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#988 Fix Backend Tets
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/ModelFactories/CertificationFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/Lookups/CollegeLookup.cs
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi-tests/Unit Tests/AgreementEngine.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/AgreementService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeSubmissionService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExtensions.cs
Labels: (ノ益 )ノ彡┻━┻, Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#978 PRIME-1234 Surface Total Count of Org Book results in the Orgbook look up result set
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/org-book-resource.service.ts
Labels: Frontend, Ready For Review

#981 Remove State Machine from SubmissionStateEngine
  prime-dotnet-webapi-tests/Unit Tests/SubmissionStateEngine.Tests.cs
  prime-dotnet-webapi/Engines/SubmissionStateEngine.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#984 PRIME-1236 Update Community Pharm Org Agreement
  prime-dotnet-webapi/Resources/documents/CommunityPharmacyOrganizationAgreement.pdf
  prime-dotnet-webapi/Views/Agreements/CommunityPharmacyOrganizationAgreement.cshtml
Labels: Backend, Ready For Review

#987 PRIME-1217 Wordsmithing continued 2
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.html
Labels: Frontend, Ready For Review

#985 PRIME-1200 PRIME enrolment LOCKED message - redundant text and incorrect phone number
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.html
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.ts
Labels: Frontend, Ready For Review

#983 Changed wording as per JIRA ticket PRIME-1199
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
Labels: Frontend, Ready For Review

#992 Add PHSA Demographics page (PRIME 1225)
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.module.ts
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/bcsc-demographic/bcsc-demographic.component.html
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/bcsc-demographic/bcsc-demographic.component.scss
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/bcsc-demographic/bcsc-demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech-routing.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.routes.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/models/phsa-lab-tech.model.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/shared/services/phas-labtech-resource.service.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.html
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.scss
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.ts
  prime-angular-frontend/src/app/shared/enums/nursing-license-code.enum.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review
