Repository bcgov/moh-prime, pull requests merged in 2020-08, with the labels that each got.

#761 PRIME-939 Doing Business As name on the business licence screen
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/orgbook.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/org-book-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
Labels: Frontend, Ready For Review

#762 PRIME-964 Post Enrollee Deletion Redirect
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
Labels: Frontend, Ready For Review

#763 PRIME-967 Hours of Operation Add Hours Submits in pre-Chromium Edge Browsers
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-picker/business-hours-picker.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
Labels: Frontend, Ready For Review

#759 PRIME-903 Ability for an admin to "view" a User's GPID from Admin screen
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.ts
Labels: Frontend, Ready For Review

#765 PRIME-932 Site Registration | Administrator, Privacy, Technical support | My Address is Different than not working
  prime-dotnet-webapi/Services/PartyService.cs
Labels: Backend, Frontend, Ready For Review

#764 PRIME-960 Enrollee Profile Version Update
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/enums/self-declaration-type.enum.ts
Labels: Frontend, Ready For Review

#767 PRIME-963 (b) - SonarQube Updates
  prime-angular-frontend/src/app/app.component.ts
  prime-angular-frontend/src/app/core/resources/api-resource-utils.service.ts
  prime-angular-frontend/src/app/lib/validators/form-control.validators.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/keycloak-token.service.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-terms/access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/BaseEnrolmentProfilePage.ts
  prime-angular-frontend/src/app/modules/provisioner-access/shared/components/provisioner-access/provisioner-access.component.scss
  prime-angular-frontend/src/app/modules/provisioner-access/shared/services/provisioner-access-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-progress-indicator/site-progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-enrollee/claim-enrollee.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-enrollee/claim-enrollee.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/note/note.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-options.model.ts
  prime-angular-frontend/src/app/shared/components/prime-support-email/prime-support-email.component.ts
Labels: Frontend, Ready For Review

#758 PRIME-911 Updating Site Information (show pencil icons for where we want to allow updates)
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/site.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Extensions/EnrolleeExtensions.cs
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/SubmissionRulesServiceMock.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionService.Tests.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISubmissionRulesService.cs
  prime-dotnet-webapi/Services/interfaces/ISubmissionService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeUpdateModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteUpdateModel.cs
Labels: Backend, Frontend, Ready For Review

#770 PRIME-912 Add or Update Remote User Information
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Views/Emails/UpdateRemoteUsersEmail.cshtml
Labels: Backend, Frontend, Ready For Review

#774 PRIME-909 Adding a Community Practice Site
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-angular-frontend/src/test/mocks/mock-keycloak-token.service.ts
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/PartyService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IOrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/IPartyService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationUpdateModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteUpdateModel.cs
Labels: Backend, Frontend, Ready For Review

#775 PRIME-974 Updated labels as optional
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/party-profile-form/party-profile-form.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registration.guard.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Frontend, Ready For Review

#768 PRIME-889 | Add CRON script for cleaning up Jenkins, New DevOps folder (REDO)
  devops/utilities/jenkins-cleanup.sh
Labels: CI/CD, Ready For Review

#776 PRIME-905 - Verification API
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-test.json
  prime-dotnet-webapi-tests/Extensions/ContextExtensions.cs
  prime-dotnet-webapi-tests/Extensions/ObjectExtensions.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi/AuthConstants.cs
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/Api/GpidValidation.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#778 Forgot the "s"
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
Labels: Frontend, ༼ つ ◕_◕ ༽つ ☕, ༼ つ ◕_◕ ༽つ 🍝

#779 PRIME-988 Delete Organization and all Related Sites
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
Labels: Frontend, Ready For Review

#783 Use ThrowIfNull
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/Infrastructure/EmptyStringToNullJsonConverter.cs
  prime-dotnet-webapi/Infrastructure/PrimeUserAuthHandler.cs
  prime-dotnet-webapi/Services/AdminService.cs
  prime-dotnet-webapi/Services/Clients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/PartyService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#786 PRIME-959 Text Update - Change anytime to 2 words - "any time" on Notification Confirmation Page
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.html
Labels: Frontend, Ready For Review

#787 PRIME-958 Text Update - User Enrolment Job Information Page
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
Labels: Frontend, Ready For Review

#788 PRIME-945 Site Reg 'My address is different' radio buttons should not say 'my'
  prime-angular-frontend/src/app/modules/site-registration/shared/components/party-profile-form/party-profile-form.component.html
Labels: Frontend, Ready For Review

#784 PRIME-976 Site Registration Landing Page Redesign
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.html
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.scss
Labels: Frontend, Ready For Review

#782 PRIME-906 - Document Upload UI Improvements
  document-manager/backend/app/docman/resources/document.py
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.html
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-dotnet-webapi/Services/Clients/Document Manager/DocumentManagerClient.cs
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#781 PRIME-973 Remote Practitioners changes
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/summary-card/summary-card.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/summary-card/summary-card.component.scss
  prime-angular-frontend/src/app/modules/site-registration/shared/components/summary-card/summary-card.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/site.guard.ts
Labels: Frontend, Ready For Review

#785 PRIME-981 Site Reg - Organization Information Page replace OrgBook reference with BC Corporate Registry
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.html
Labels: Frontend, Ready For Review

#793 Trying to mitigate space issues
  Jenkinsfile
  Jenkinsfile.production
  Jenkinsfile.promotion
  Jenkinsfile.test
  Jenkinsfile.tools
  player.sh
Labels: CI/CD

#795 Remove Privileges
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/PrivilegeService.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#790 PRIME-847 Site Registration List
  prime-angular-frontend/.vscode/settings.json
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/lib/modules/ngx-material/mat-table-data-source-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/summary-card/summary-card.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/organization.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registration.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site-registration.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/test/mocks/mock-organization.service.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
  prime-dotnet-webapi/Models/SiteRegistration/Site.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IOrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationListViewModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationUpdateModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteListViewModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteUpdateModel.cs
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Frontend, Ready For Review

#796 PRIME-118 Address Validation
  openshift/dotnet-webapi.dc.yaml
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.spec.ts
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.scss
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.spec.ts
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
  prime-angular-frontend/src/app/shared/models/address-autocomplete.model.ts
  prime-angular-frontend/src/app/shared/services/address-autocomplete-resource.service.spec.ts
  prime-angular-frontend/src/app/shared/services/address-autocomplete-resource.service.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Controllers/AddressAutocompleteController.cs
  prime-dotnet-webapi/PrimeConstants.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/Services/Clients/Access Tokens/ClientQueryStringRequest.cs
  prime-dotnet-webapi/Services/Clients/AddressAutocomplete/AddressAutocompleteClient.cs
  prime-dotnet-webapi/Services/Clients/AddressAutocomplete/IAddressAutocompleteClient.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Frontend, Ready For Review

#797 PRIME-118-Address Validation 1.1
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/party-profile-form/party-profile-form.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.ts
  prime-dotnet-webapi/Services/Clients/AddressAutocomplete/AddressAutocompleteClient.cs
Labels: Frontend, Ready For Review

#799 Fix Migration Designer File
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi/Migrations/20200818213622_OrgTypetoCareSetting.Designer.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#800 Feature/prime 987 hours of operation open at the close
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/business-hours.module.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-picker/business-hours-picker.component.html
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-picker/business-hours-picker.component.scss
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-picker/business-hours-picker.component.spec.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-picker/business-hours-picker.component.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-view/business-hours-view.component.html
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-view/business-hours-view.component.scss
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-view/business-hours-view.component.spec.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours-view/business-hours-view.component.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours/business-hours.component.html
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours/business-hours.component.scss
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours/business-hours.component.spec.ts
  prime-angular-frontend/src/app/lib/modules/business-hours/components/business-hours/business-hours.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/business-day-hours.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/business-day.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
Labels: Frontend, Ready For Review

#803 Update Keycloak Dev Documentation
  documentation/Keycloak settings/realm-export-dev.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#794 PRIME-943 - Performance Enhancements
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi-tests/Controllers/EnrolleesController.Tests.cs
  prime-dotnet-webapi-tests/Extensions/EnrolleeExtensions.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/AccessTermService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Utils/InMemoryDbTest.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesAccessTermsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/FeedbackController.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Extensions/ClaimsPrincipalExtensions.cs
  prime-dotnet-webapi/Extensions/QueryableExtensions.cs
  prime-dotnet-webapi/Extensions/UserBoundModelExtensions.cs
  prime-dotnet-webapi/Infrastructure/TextSearchQuery.cs
  prime-dotnet-webapi/Migrations/20200827081459_AgreementView.Designer.cs
  prime-dotnet-webapi/Migrations/20200827081459_AgreementView.cs
  prime-dotnet-webapi/Models/AccessTerms/LimitsConditionsClause.cs
  prime-dotnet-webapi/Models/DbViews/NewestAgreement.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/PermissionsRecord.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/AdminService.cs
  prime-dotnet-webapi/Services/BusinessEventService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IAccessTermService.cs
  prime-dotnet-webapi/Services/interfaces/IAdminService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeListViewModel.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Frontend, Needs Tests, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#804 PRIME 987 - Hours of Operation
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/lib/utils/string-utils.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/pipes/address.pipe.ts
Labels: Frontend, Ready For Review

#792 PRIME-867 | Fix .NET Tests in SonarQube
  Jenkinsfile
  tests.bash
Labels: CI/CD, Ready For Review

#806 PRIME 1022 - Site Registration Updates/Fixes
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registration.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/site.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/organization.service.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
Labels: Frontend, Ready For Review

#807 Remove set pristine in remote user
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.ts
Labels: Frontend, ༼ つ ◕_◕ ༽つ 🍝
