Repository bcgov/moh-prime, pull requests merged in 2020-06, with the labels that each got.

#644 Fix Logout Bug
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review

#646 PRIME-825 - Fix for organizations
  prime-angular-frontend/src/app/modules/site-registration/pages/organizations/organizations.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organizations/organizations.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
Labels: Backend, Frontend, Ready For Review

#647 PRIME-729 - Possible to send email to vendor in wrong status
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
Labels: Backend, Ready For Review

#648 PRIME-769 - Remove Second Sentence referencing Email from the Notification Page
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#650 PRIME-826 - Turned off validations
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
Labels: Frontend, Ready For Review

#649 PRIME-786 - Fax, Phone, SMS not required
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-overview/organization-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/organization-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state-service.service.ts
Labels: Frontend, Ready For Review

#651 PRIME-768 - Typo on Landing Page
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review

#652 PRIME-797 - Location Name Using OrgBook
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/org-book-resource.service.ts
Labels: Frontend, Ready For Review

#653 PRIME-773 - Updated enrolment overview subtitle
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
Labels: Frontend, Ready For Review

#654 PRIME-789 - Updated site collection notice
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-collection-notice/site-collection-notice.component.html
Labels: Frontend, Ready For Review

#655 PRIME-746 - Update existing non HL7 compliant gpids
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/ISubmissionService.cs
Labels: Backend, Ready For Review

#662 PRIME-832 - OpenShift Config for WKHTMLTOPDF
  prime-dotnet-webapi/openshift.dockerfile
Labels: Backend

#663 business licence upload make disabled
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.html
Labels: Frontend, Ready For Review

#661 PRIME-613 - Ability to "re-run" the rules adjudication for applicants in "under review" state
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/enums/submission-action.enum.ts
  prime-dotnet-webapi/.editorconfig
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/Api/SubmissionAction.cs
  prime-dotnet-webapi/Models/BusinessEventType.cs
  prime-dotnet-webapi/Services/BusinessEventService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IBusinessEventService.cs
Labels: Backend, Frontend, Ready For Review

#666 Temporarily disabled- licence upload text
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/organization-review/organization-review.component.scss
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.scss
Labels: Frontend, Ready For Review

#668 PRIME-834 - Document not found PDF
  prime-angular-frontend/src/app/modules/site-registration/shared/components/organization-review/organization-review.component.scss
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.scss
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Views/Helpers/ApologyDocument.cshtml
Labels: Backend, Frontend, Ready For Review

#669 PRIME-835 Update Tests
  prime-dotnet-webapi-tests/Mocks/BusinessEventServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi-tests/Unit Tests/EmailService.Tests.cs
Labels: Backend, Ready For Review

#676 PRIME-857 Remove toast message when OrgBook has no result
  prime-angular-frontend/src/app/core/services/error-handler.service.ts
Labels: Frontend, Ready For Review

#674 PRIME-837 Can not Save an alternate address for Administrator, Privacy Officer or Technical Support
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
Labels: Frontend, Ready For Review

#673 PRIME-836 Stuck on Remote User
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-progress-indicator/site-progress-indicator.component.ts
Labels: Frontend, Ready For Review

#675 PRIME-854 Vendor is not properly saved
  prime-angular-frontend/src/app/modules/site-registration/pages/vendor/vendor.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/vendor/vendor.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
Labels: Frontend, Ready For Review

#677 PRIME-859 Send Site Registration documents to Prime Support email
  prime-dotnet-webapi/Services/EmailService.cs
Labels: Backend, Ready For Review

#678 PRIME-824 Move Site Organization Agreement to the end of Site Registration
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-overview/organization-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organizations/organizations.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organizations/organizations.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
Labels: Frontend, Ready For Review

#688 PRIME-810 Text Update on Landing Page - Step 2 - PRIME Enrolment
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
Labels: Frontend, Ready For Review

#687 PRIME-811 Text Update: Contextual Tip - Who is my PharmaNet Administrator?
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review

#686 PRIME-862 Typo on Signing Authority Page
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
Labels: Frontend, Ready For Review

#685 PRIME-863 Typo on remote user page
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.html
Labels: Frontend, Ready For Review

#681 PRIME-808 Site Admin Update for Multi Sites and Organizations
  prime-angular-frontend/src/app/core/resources/organization-resource.service.spec.ts
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/lib/utils/string-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registrations/site-registrations.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registrations/site-registrations.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registrations/site-registrations.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-overview/organization-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-type/organization-type.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organizations/organizations.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/classes/route-utils.class.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/organization.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/location.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/organization-form-state.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialogs-properties.provider.ts
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.html
  prime-angular-frontend/src/app/shared/modules/ngx-material/mat-table-data-source-utils.class.ts
  prime-angular-frontend/src/app/shared/pipes/capitalize.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/vendor.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/vendor.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
Labels: Backend, Frontend, Ready For Review

#683 PRIME-807 Capturing PEC code for Sites in Admin
  prime-angular-frontend/src/app/core/resources/document-resource.service.spec.ts
  prime-angular-frontend/src/app/core/resources/document-resource.service.ts
  prime-angular-frontend/src/app/core/resources/feedback-resource.service.spec.ts
  prime-angular-frontend/src/app/core/resources/feedback-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-table/site-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-table/site-table.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-table/site-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/guards/adjudication.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/classes/route-utils.class.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/feedback/feedback.component.ts
  prime-angular-frontend/src/app/shared/models/feedback.model.ts
  prime-angular-frontend/src/app/shared/modules/ngx-material/mat-table-data-source-utils.class.ts
  prime-angular-frontend/src/app/shared/pipes/case.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/case.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/scss/mixins/_statuses.scss
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Backend, Frontend

#682 PRIME-854 Signed agreement
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/organization.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/signed-agreement.model.ts
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
  prime-dotnet-webapi/Models/SiteRegistration/SignedAgreement.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
Labels: Backend, Frontend, Ready For Review

#690 Update docman Dockerfile
  docker-compose.yml
Labels: CI/CD, ༼ つ ◕_◕ ༽つ 🍝
