Repository bcgov/moh-prime, pull requests merged in 2020-05, with the labels that each got.

#600 PRIME-556 - Remove Provisioner Link Max Views
  prime-dotnet-webapi-tests/Mocks/BusinessEventServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/EmailServiceMock.cs
  prime-dotnet-webapi-tests/Services/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/Models/SiteRegistration/Vendor.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolmentCertificateService.cs
  prime-dotnet-webapi/Views/Emails/VendorEmail.cshtml
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#601 PRIME-731 - Update Business Event Delete Triggers
  prime-dotnet-webapi/Migrations/20200504192543_UpdateBusinessEventDeleteAction.Designer.cs
  prime-dotnet-webapi/Migrations/20200504192543_UpdateBusinessEventDeleteAction.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#602 PRIME-556 - Missed line from email
  prime-dotnet-webapi/Views/Emails/OfficeManagerEmail.cshtml
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#590 PRIME-667 add idir to business events
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-events/enrollee-events.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/business-event.model.ts
  prime-dotnet-webapi/Models/BusinessEvent.cs
  prime-dotnet-webapi/Models/BusinessEventType.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Frontend, Ready For Review

#596 PRIME-712 - Review Status Reasons
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/components/review-status-content/review-status-content.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
Labels: Frontend, Ready For Review

#603 PRIME-743 - Enrolment Previous Status Null Check
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review

#606 PRIME-658 - Updated button text
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
Labels: Frontend, Ready For Review

#607 PRIME-602 - Delete Enrolment to Enrollee
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
Labels: Frontend, Ready For Review

#608 PRIME-668 - Updated dialog text
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#609 PRIME-730 - Current TOA Update
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/multiple-sites/multiple-sites.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/multiple-sites/multiple-sites.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-information/organization-information.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/signing-authority/signing-authority.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/signing-authority/signing-authority.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-review/site-review.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-review/site-review.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/vendor/vendor.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/vendor/vendor.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/same-as/same-as.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/same-as/same-as.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registrant.guard.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/registration.guard.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-registration-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-registration-state.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-registration-state.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/feedback/feedback.component.spec.ts
  prime-angular-frontend/src/app/shared/services/feedback-resource.service.spec.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/Mocks/AccessTermServiceMock.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IAccessTermService.cs
Labels: Backend, Frontend, Ready For Review

#614 PRIME-745 - Remove help number on notification page
  prime-angular-frontend/src/app/modules/enrolment/pages/notification-confirmation/notification-confirmation.component.html
Labels: Frontend, Ready For Review

#610 PRIME-735 - Enrolments Update
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term/enrollee-access-term.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-terms/enrollee-access-terms.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-terms/enrollee-access-terms.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-terms/enrollee-access-terms.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/components/review-status-content/review-status-content.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollees/enrollees.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollees/enrollees.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollees/enrollees.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollees/enrollees.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/pipes/status-reasons.pipe.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/pipes/status-reasons.pipe.ts
  prime-angular-frontend/src/app/modules/common/services/form-utils.service.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/tslint.json
  prime-angular-poc/tslint.json
Labels: Backend, Frontend, Ready For Review

#613 PRIME-730 - Current TOA update 2
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-dotnet-webapi/Services/AccessTermService.cs
Labels: Backend, Ready For Review

#622 PRIME-625 - Make Tests Suck Less™
  prime-dotnet-webapi-tests/Extensions/ContextExtensions.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolmentStatusFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/NoteFactory.cs
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi-tests/Services/EmailService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Services/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/AccessTermService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/AdminService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/AutomaticAdjudicationRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/BusinessEventService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EmailService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeProfileVersionService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/FeedbackService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/PharmanetApiService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/PrivilegeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/RazorConverterService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionService.Tests.cs
  prime-dotnet-webapi-tests/Utils/InMemoryDbTest.cs
  prime-dotnet-webapi-tests/package-lock.json
Labels: (ノ益 )ノ彡┻━┻, Backend, Needs Tests, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#625 PRIME-764 - Added GPID JS POC
  poc/prime-js-poc/.editorconfig
  poc/prime-js-poc/.gitignore
  poc/prime-js-poc/README.md
  poc/prime-js-poc/package-lock.json
  poc/prime-js-poc/package.json
  poc/prime-js-poc/src/index.html
  poc/prime-js-poc/src/lib/es5.js
  poc/prime-js-poc/src/lib/es6.js
  poc/prime-js-poc/src/redirect.html
  poc/prime-js-poc/src/server.js
Labels: Frontend, Ready For Review

#626 PRIME-762 - Site Registration Dashboard Navigation
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
Labels: Frontend, Ready For Review

#627 PRIME-756 - Admin View Site Registration
  prime-angular-frontend/src/app/lib/modules/business-hours/business-hours.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-table/site-table.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-overview/site-overview.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/site-overview/site-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-review/site-review.component.html
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
  prime-angular-frontend/src/app/shared/components/site/registrant-profile-review/registrant-profile-review.component.html
  prime-angular-frontend/src/app/shared/components/site/registrant-profile-review/registrant-profile-review.component.scss
  prime-angular-frontend/src/app/shared/components/site/registrant-profile-review/registrant-profile-review.component.spec.ts
  prime-angular-frontend/src/app/shared/components/site/registrant-profile-review/registrant-profile-review.component.ts
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.html
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.scss
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.spec.ts
  prime-angular-frontend/src/app/shared/components/site/site-review/site-review.component.ts
  prime-angular-frontend/src/app/shared/pipes/weekday.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/weekday.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-angular-frontend/src/test/mocks/mock-site-registration.service.ts
Labels: Frontend, Ready For Review

#624 PRIME-760 - Site Registration Landing Page
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.html
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.scss
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/styles/landing-page.scss
  prime-angular-frontend/src/assets/signing_authority.svg
  prime-angular-frontend/src/assets/site_registration.svg
Labels: Frontend, Ready For Review

#628 PRIME-726 - De-brand prime phone number
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/shared/components/prime-phone/prime-phone.component.ts
  prime-dotnet-webapi/Views/Emails/OfficeManagerEmail.cshtml
Labels: Backend, Frontend, Ready For Review

#630 PRIME-671 - Landing Page (Version 2)
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.html
  prime-angular-frontend/src/app/modules/auth/shared/styles/landing-page.scss
Labels: Frontend, Ready For Review

#631 PRIME-666 - Visual Flag when Enrollee is set to always manual
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
Labels: Frontend, Ready For Review

#632 PRIME-777 - Injectable Http Client
  prime-dotnet-webapi-tests/Mocks/CollegeLicenceClientMock.cs
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi-tests/Unit Tests/AutomaticAdjudicationRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/PharmanetApiService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Services/Clients/CollegeLicenceAPI/CollegeLicenceClient.cs
  prime-dotnet-webapi/Services/Clients/CollegeLicenceAPI/DummyCollegeLicenceClient.cs
  prime-dotnet-webapi/Services/Clients/CollegeLicenceAPI/ICollegeLicenceClient.cs
  prime-dotnet-webapi/Services/Clients/CollegeLicenceAPI/PharmanetCollegeApiException.cs
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Needs Tests, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#634 increasing pipeline timeout
  Jenkinsfile.promotion
Labels: (ノ益 )ノ彡┻━┻, CI/CD, Ready For Review

#635 Adjudicator Actions - add back enable editing
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.html
  prime-dotnet-webapi/Services/AccessTermService.cs
Labels: Backend, Frontend, Ready For Review

#636 Adjudicator Actions - add back enable editing
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
Labels: Backend, Frontend, Ready For Review

#637 Add Missing OrgType Navigation Property
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
Labels: Backend, Bug, Ready For Review
