Repository bcgov/moh-prime, pull requests merged in 2020-01, with the labels that each got.

#183 College Licence Auto-Adjudication Rule
  prime-angular-frontend/src/app/shared/components/dialogs/content/enrolment-status-reasons/enrolment-status-reasons.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/enrolment-status-reasons/enrolment-status-reasons.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment-status-reason.model.ts
  prime-angular-frontend/src/app/shared/models/enrolment-status.model.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/Mocks/AutomaticAdjudicationServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/PharmanetApiServiceMock.cs
  prime-dotnet-webapi-tests/Services/DefaultAutomaticAdjudicationServiceService.Tests.cs
  prime-dotnet-webapi-tests/Services/DefaultLookupService.Tests.cs
  prime-dotnet-webapi-tests/Services/PharmanetApiService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/StatusReasonConfiguration.cs
  prime-dotnet-webapi/Migrations/20191220200330_Initial.cs
  prime-dotnet-webapi/Migrations/20200102230807_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200102230807_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/AccessAgreementNote.cs
  prime-dotnet-webapi/Models/AdjudicatorNote.cs
  prime-dotnet-webapi/Models/Certification.cs
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateNote.cs
  prime-dotnet-webapi/Models/EnrolmentStatus.cs
  prime-dotnet-webapi/Models/EnrolmentStatusReason.cs
  prime-dotnet-webapi/Models/PharmanetCollegeRecord.cs
  prime-dotnet-webapi/Models/StatusReason.cs
  prime-dotnet-webapi/Services/DefaultAutomaticAdjudicationService.cs
  prime-dotnet-webapi/Services/DefaultEnrolleeService.cs
  prime-dotnet-webapi/Services/DefaultPharmanetAPIService.cs
  prime-dotnet-webapi/Services/IAutomaticAdjudicationService.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#195 Fix db connection string for local
  prime-dotnet-webapi/appsettings.json
Labels: Backend, Bug

#191 Display Privileges on Certificates
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/shared/components/enrolment-certificate/enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/shared/models/enrolment-certificate.model.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/privilege.model.ts
  prime-angular-frontend/src/app/shared/components/enrollee-privileges/enrollee-privileges.component.html
  prime-angular-frontend/src/app/shared/components/enrollee-privileges/enrollee-privileges.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee-privileges/enrollee-privileges.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee-privileges/enrollee-privileges.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/Mocks/PrivilegeMockService.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Models/AssignedPrivilege.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Models/Privilege.cs
  prime-dotnet-webapi/Services/DefaultEnrolleeService.cs
  prime-dotnet-webapi/Services/DefaultEnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/DefaultPrivilegeService.cs
  prime-dotnet-webapi/Services/IPrivilegeService.cs
Labels: Backend, Frontend, Ready For Review

#199 Eazy .NET and JS fixes
  prime-angular-frontend/e2e/protractor.conf.js
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/AssignedPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegeConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegeLicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegePracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/CountryConfiguration.cs
  prime-dotnet-webapi/Configuration/DefaultPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/JobNameConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/OrganizationTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/PracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeGroupConfiguration.cs
  prime-dotnet-webapi/Configuration/ProvinceConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusReasonConfiguration.cs
Labels: Backend

#197 Display Organizations on certificates
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/shared/models/enrolment-certificate.model.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee-organizations/enrollee-organizations.component.html
  prime-angular-frontend/src/app/shared/components/enrollee-organizations/enrollee-organizations.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee-organizations/enrollee-organizations.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee-organizations/enrollee-organizations.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Migrations/20191227194729_Initial.cs
  prime-dotnet-webapi/Migrations/20200102230807_Initial.Designer.cs
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Services/DefaultEnrolmentCertificateService.cs
Labels: Backend, Frontend, Ready For Review

#203 Fix Backend Unit Tests
  prime-dotnet-webapi-tests/Mocks/PrivilegeMockService.cs
Labels: Backend, Bug

#196 Enrolment Certificate Access Control
  prime-dotnet-webapi/Controllers/EnrolmentCertificatesController.cs
  prime-dotnet-webapi/Migrations/20191227194729_Initial.cs
  prime-dotnet-webapi/Migrations/20200102230807_Initial.cs
  prime-dotnet-webapi/Migrations/20200107195909_TableNames.cs
  prime-dotnet-webapi/Migrations/20200108014037_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200108014037_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/AssignedPrivilege.cs
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/Services/DefaultEnrolmentCertificateService.cs
Labels: Backend, Ready For Review

#198 Adding timeouts to stages
  Jenkinsfile
  Jenkinsfile.promotion
Labels: CI/CD

#214 Fix for notes not being created
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Migrations/20200108014037_Initial.cs
  prime-dotnet-webapi/Migrations/20200108091745_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200108091745_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/AccessAgreementNote.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateNote.cs
Labels: Backend, Ready For Review

#207 SRI Update
  prime-angular-frontend/Dockerfile
Labels: Ready For Review

#216 Enable Community Pharmacy Organization for Pilar
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
Labels: Frontend, Ready For Review

#218 Fixing Tests, Add Access Token Tests
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi-tests/Mocks/TermsOfAccessMockService.cs
  prime-dotnet-webapi-tests/Services/DefaultEnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Services/DefaultEnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/AssignedPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/GlobalClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseClassClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/LimitsAndConditionsClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/UserClauseConfiguration.cs
  prime-dotnet-webapi/PrimeConstants.cs
  prime-dotnet-webapi/Services/DefaultEnrolleeService.cs
  prime-dotnet-webapi/Services/DefaultEnrolmentCertificateService.cs
Labels: Backend, Ready For Review

#217 Display Limits and Conditions on Certificates
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/shared/models/enrolment-certificate.model.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/terms-of-access-pager/terms-of-access-pager.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee-organizations/enrollee-organizations.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee-review/enrollee-review.component.spec.ts
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Services/DefaultEnrolmentCertificateService.cs
Labels: Backend, Frontend, Ready For Review

#219 tweaking templates for prod readiness
  functions.bash
  openshift/dotnet-webapi.bc.yaml
  openshift/dotnet-webapi.dc.yaml
  openshift/schemaspy.dc.yaml
  prime-angular-frontend/Dockerfile
  prime-angular-frontend/openshift.dockerfile
  prime-angular-frontend/run.sh
  prime-dotnet-webapi/entrypoint.sh
  prime-dotnet-webapi/openshift.dockerfile
Labels: Backend, CI/CD, Frontend

#221 Set Single Seeding Date
  prime-dotnet-webapi/Configuration/AssignedPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegeConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegeLicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegePracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/CountryConfiguration.cs
  prime-dotnet-webapi/Configuration/DefaultPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/GlobalClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/JobNameConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseClassClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/LimitsAndConditionsClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/OrganizationTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/PracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeGroupConfiguration.cs
  prime-dotnet-webapi/Configuration/ProvinceConfiguration.cs
  prime-dotnet-webapi/Configuration/SeedConstants.cs
  prime-dotnet-webapi/Configuration/StatusConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusReasonConfiguration.cs
  prime-dotnet-webapi/Configuration/UserClauseConfiguration.cs
  prime-dotnet-webapi/Migrations/20200108100723_Initial.cs
  prime-dotnet-webapi/Migrations/20200110233331_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200110233331_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕, ༼ つ ◕_◕ ༽つ 🍪, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#224 Updated text notification (SMS) field to be disabled
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
Labels: Frontend, Ready For Review

#223 Updated Enrollee Declined
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/confirmation/confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/shared/components/alert/alert.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.html
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.html
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.scss
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.ts
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.html
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.scss
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/pipes/yes-no.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/scss/material/components/_mat-sidenav.scss
Labels: Frontend, Ready For Review

#231 Enrolment Certificate UI Updates
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.html
Labels: Frontend, Ready For Review

#220 Feature/code vulnerabilities
  prime-angular-frontend/e2e/protractor.conf.js
  prime-angular-frontend/karma.conf.js
  prime-angular-frontend/package-lock.json
Labels: ༼ つ ◕_◕ ༽つ ☕

#226 Update demographic UI
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/config/config.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment-certificate-notes/enrolment-certificate-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/user-agreement-notes/user-agreement-notes.component.html
  prime-angular-frontend/src/app/modules/auth/pages/admin/admin.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/shared/models/enrolment-certificate.model.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/models/address.model.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.ts
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.html
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.ts
  prime-angular-frontend/src/scss/bootstrap/_bootstrap-overrides.scss
  prime-angular-frontend/src/scss/bootstrap/_bootstrap-variables.scss
  prime-angular-frontend/src/scss/bootstrap/_bootstrap.scss
  prime-angular-frontend/src/scss/material/_material-overrides.scss
  prime-angular-frontend/src/scss/material/_material.scss
  prime-angular-frontend/src/scss/material/components/_mat-button.scss
  prime-angular-frontend/src/scss/material/components/_mat-forms.scss
Labels: Frontend, Ready For Review

#227 Update certification and jobs UI
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/scss/material/_material-overrides.scss
Labels: Frontend, Ready For Review

#228 Updated self declaration UI
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.scss
Labels: Frontend, Ready For Review

#229 Updated organization UI
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-address/enrollee-address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-organizations/enrollee-organizations.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.html
  prime-angular-frontend/src/app/shared/components/prime-contact/prime-contact.component.spec.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#230 Adding metabase
  Jenkinsfile.tools
  functions.bash
  metabase.conf
  openshift/compositions/metabase.aio.yaml
  openshift/metabase.bc.yaml
  openshift/metabase.dc.yaml
  openshift/schemaspy.dc.yaml
  openshift/sonar-scanner.bc.yaml
  openshift/sonar-scanner.dc.yaml
  prime-angular-frontend/nginx.conf
  prime-angular-frontend/nginx.template.conf
  prime-dotnet-webapi/Dockerfile
  prime-dotnet-webapi/entrypoint.sh
  schemaspy/Dockerfile
Labels: CI/CD

#234 fixing for develop
  prime-dotnet-webapi/entrypoint.sh
Labels: Backend, CI/CD

#235 More fix for .net
  prime-dotnet-webapi/Dockerfile
  prime-dotnet-webapi/entrypoint.sh
  prime-dotnet-webapi/openshift.dockerfile
Labels: Backend, CI/CD

#232 General UI Updates
  prime-angular-frontend/src/app/core/components/maintenance/maintenance.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment-certificate-notes/enrolment-certificate-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/user-agreement-notes/user-agreement-notes.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined-access-agreement/declined-access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/declined/declined.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/enrolment-log-history/enrolment-log-history.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/enrolment-log-history/enrolment-log-history.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-transactions/pharmanet-transactions.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/page-footer/page-footer.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/shared/components/clipboard-icon/clipboard-icon.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/page/page.component.html
  prime-angular-frontend/src/app/shared/components/page/page.component.scss
  prime-angular-frontend/src/app/shared/components/page/page.component.spec.ts
  prime-angular-frontend/src/app/shared/components/page/page.component.ts
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.html
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#240 Fixed angular tests
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment-certificate-notes/enrolment-certificate-notes.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/user-agreement-notes/user-agreement-notes.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.spec.ts
Labels: Frontend, Ready For Review

#242 Fix for duplicate markup in overview
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
Labels: Frontend, Ready For Review

#233 Pull out seed data
  prime-dotnet-webapi/Configuration/CollegeConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegeLicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegePracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/CountryConfiguration.cs
  prime-dotnet-webapi/Configuration/DefaultPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/GlobalClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/JobNameConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseClassClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/LimitsAndConditionsClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/OrganizationTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/PracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeGroupConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/ProvinceConfiguration.cs
  prime-dotnet-webapi/Configuration/SeededTable.cs
  prime-dotnet-webapi/Configuration/StatusConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusReasonConfiguration.cs
  prime-dotnet-webapi/Configuration/UserClauseConfiguration.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#244 Updated paragraph colour
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.scss
Labels: Frontend, Ready For Review

#245 Updated job text
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
Labels: Frontend, Ready For Review

#247 Reformat Seed Data
  prime-dotnet-webapi/Configuration/CollegeConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegeLicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/CollegePracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/CountryConfiguration.cs
  prime-dotnet-webapi/Configuration/DefaultPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/GlobalClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/JobNameConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseClassClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/LimitsAndConditionsClauseConfiguration.cs
  prime-dotnet-webapi/Configuration/OrganizationTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/PracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeGroupConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/ProvinceConfiguration.cs
  prime-dotnet-webapi/Configuration/SeedConstants.cs
  prime-dotnet-webapi/Configuration/StatusConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusReasonConfiguration.cs
  prime-dotnet-webapi/Configuration/UserClauseConfiguration.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕, ༼ つ ◕_◕ ༽つ 🍪

#249 terms-of-access model fixed
  prime-angular-frontend/src/app/modules/enrolment/shared/models/terms-of-access.model.ts
Labels: Bug, Frontend, Ready For Review

#251 Hide terms of access
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/terms-of-access-pager/terms-of-access-pager.component.html
Labels: Frontend, Ready For Review

#250 FIX LIMITS CONDITIONS
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.ts
Labels: Bug, Ready For Review

#238 More NGINX hardening
  docker-compose.yml
  prime-angular-frontend/Dockerfile
  prime-angular-frontend/nginx.conf
  prime-angular-frontend/nginx.template.conf
  prime-angular-frontend/openshift.dockerfile
  prime-angular-frontend/src/robots.txt
Labels: CI/CD, DO NOT MERGE, Frontend

#252 Feature/global fonts
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/shared/components/alert/alert.component.html
  prime-angular-frontend/src/app/shared/components/page-header/page-header.component.html
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.html
  prime-angular-frontend/src/scss/_font.scss
  prime-angular-frontend/src/scss/_palette.scss
  prime-angular-frontend/src/scss/_variables.scss
  prime-angular-frontend/src/scss/app.scss
  prime-angular-frontend/src/scss/bootstrap/_bootstrap-overrides.scss
  prime-angular-frontend/src/scss/bootstrap/_bootstrap-variables.scss
  prime-angular-frontend/src/scss/material/_material-overrides.scss
Labels: Frontend, Ready For Review

#258 Hide Clauses
  prime-dotnet-webapi/Migrations/20200116191237_licenseNumber.Designer.cs
  prime-dotnet-webapi/Migrations/20200116191237_licenseNumber.cs
  prime-dotnet-webapi/Migrations/20200117005042_RemoveCompap.Designer.cs
  prime-dotnet-webapi/Migrations/20200117005042_RemoveCompap.cs
  prime-dotnet-webapi/Migrations/20200119035220_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200119035220_Initial.cs
Labels: Frontend, Ready For Review

#259 Set created date for access terms
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/global-clause/global-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/licence-class-clause/licence-class-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/limits-and-conditions-clause/limits-and-conditions-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/terms-of-access-pager/terms-of-access-pager.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/terms-of-access-pager/terms-of-access-pager.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/user-clause/user-clause.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/access-term.model.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/page/page.component.html
  prime-angular-frontend/src/scss/bootstrap/_bootstrap.scss
  prime-dotnet-webapi-tests/Mocks/AccessTermMockService.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeServiceMock.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Migrations/20200119060027_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200119060027_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/AccessTerm.cs
  prime-dotnet-webapi/Services/DefaultAccessTermService.cs
  prime-dotnet-webapi/Services/DefaultEnrolleeService.cs
  prime-dotnet-webapi/Services/IAccessTermService.cs
Labels: Backend, Ready For Review

#237 Feature/login page
  prime-angular-frontend/src/app/modules/auth/auth.module.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.html
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.scss
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/components/pill/pill.component.ts
  prime-angular-frontend/src/assets/pill-1.svg
  prime-angular-frontend/src/assets/pill-2.svg
  prime-angular-frontend/src/assets/prime-logo-textless.svg
Labels: Frontend, Ready For Review

#261 fix failing test
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
Labels: Frontend, Ready For Review

#255 Refactor - Move Models into Folders
  prime-dotnet-webapi/Models/AccessTerms/AccessTerm.cs
  prime-dotnet-webapi/Models/AccessTerms/AccessTermLicenseClassClause.cs
  prime-dotnet-webapi/Models/AccessTerms/GlobalClause.cs
  prime-dotnet-webapi/Models/AccessTerms/IAccessClause.cs
  prime-dotnet-webapi/Models/AccessTerms/LicenseClassClause.cs
  prime-dotnet-webapi/Models/AccessTerms/LimitsConditionsClause.cs
  prime-dotnet-webapi/Models/AccessTerms/UserClause.cs
  prime-dotnet-webapi/Models/Addresses/Address.cs
  prime-dotnet-webapi/Models/Addresses/Country.cs
  prime-dotnet-webapi/Models/Addresses/Province.cs
  prime-dotnet-webapi/Models/ApiModels/ApiBadRequestResponse.cs
  prime-dotnet-webapi/Models/ApiModels/ApiCreatedResponse.cs
  prime-dotnet-webapi/Models/ApiModels/ApiOkResponse.cs
  prime-dotnet-webapi/Models/ApiModels/ApiResponse.cs
  prime-dotnet-webapi/Models/ApiModels/EnrolleeSearchOptions.cs
  prime-dotnet-webapi/Models/Certifications/Certification.cs
  prime-dotnet-webapi/Models/Certifications/College.cs
  prime-dotnet-webapi/Models/Certifications/CollegeLicense.cs
  prime-dotnet-webapi/Models/Certifications/CollegePractice.cs
  prime-dotnet-webapi/Models/Certifications/License.cs
  prime-dotnet-webapi/Models/Certifications/Practice.cs
  prime-dotnet-webapi/Models/Notes/AccessAgreementNote.cs
  prime-dotnet-webapi/Models/Notes/AdjudicatorNote.cs
  prime-dotnet-webapi/Models/Notes/EnrolmentCertificateNote.cs
  prime-dotnet-webapi/Models/Notes/IEnrolleeNote.cs
  prime-dotnet-webapi/Models/Privileges/AssignedPrivilege.cs
  prime-dotnet-webapi/Models/Privileges/DefaultPrivilege.cs
  prime-dotnet-webapi/Models/Privileges/Privilege.cs
  prime-dotnet-webapi/Models/Privileges/PrivilegeGroup.cs
  prime-dotnet-webapi/Models/Privileges/PrivilegeType.cs
  prime-dotnet-webapi/Models/Statuses/EnrolmentStatus.cs
  prime-dotnet-webapi/Models/Statuses/EnrolmentStatusReason.cs
  prime-dotnet-webapi/Models/Statuses/Status.cs
  prime-dotnet-webapi/Models/Statuses/StatusReason.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕, ༼ つ ◕_◕ ༽つ 🍪

#257 Updated Angular Environment Variables
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/config/config.module.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.ts
  prime-angular-frontend/src/app/modules/auth/pages/admin/admin.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-options.model.ts
  prime-angular-frontend/src/app/shared/modules/ngx-material/ngx-material.module.ts
  prime-angular-frontend/src/assets/prime_logo_icon.svg
  prime-angular-frontend/src/environments/environment.prod.template.ts
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/environments/environment.ts
  prime-dotnet-webapi/Migrations/20200119061339_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200119061339_Initial.cs
Labels: Frontend, Ready For Review

#263 Fix Update
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.html
  prime-angular-frontend/src/scss/bootstrap/_bootstrap-variables.scss
Labels: Frontend, Ready For Review

#264 Added collection notice to submitted and approved views
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
Labels: Frontend, Ready For Review

#268 Show cert in overview
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#265 fixes to login
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.scss
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.html
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.scss
  prime-angular-frontend/src/app/shared/components/page-subheader/page-subheader.component.ts
Labels: Frontend, Ready For Review

#271 Updated preferred first and last required if shown
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.ts
Labels: Frontend, Ready For Review

#272 Remove Availible Statuses
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi-tests/Mocks/AccessTermMockService.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/DefaultEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#274 Small refactor
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend

#273 Renamed services to not use Default prefix
  prime-dotnet-webapi-tests/Mocks/PharmanetApiServiceMock.cs
  prime-dotnet-webapi-tests/Services/AutomaticAdjudicationServiceService.Tests.cs
  prime-dotnet-webapi-tests/Services/EmailService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Services/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/AutomaticAdjudicationService.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/LookupService.cs
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
  prime-dotnet-webapi/Services/PrivilegeService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review

#262 Healthcheck Controller
  prime-dotnet-webapi/Controllers/HealthcheckController.cs
Labels: Backend, Ready For Review

#275 Moved services interfaces into a folder
  prime-dotnet-webapi/Services/interfaces/IAccessTermService.cs
  prime-dotnet-webapi/Services/interfaces/IAutomaticAdjudicationService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/interfaces/ILookupService.cs
  prime-dotnet-webapi/Services/interfaces/IPharmanetApiService.cs
  prime-dotnet-webapi/Services/interfaces/IPrivilegeService.cs
Labels: Backend, Ready For Review

#260 Enrollee Profile History
  prime-angular-frontend/src/app/core/components/access-denied/access-denied.component.html
  prime-angular-frontend/src/app/core/components/access-denied/access-denied.component.spec.ts
  prime-angular-frontend/src/app/core/components/access-denied/access-denied.component.ts
  prime-angular-frontend/src/app/core/components/maintenance/maintenance.component.html
  prime-angular-frontend/src/app/core/components/maintenance/maintenance.component.spec.ts
  prime-angular-frontend/src/app/core/components/maintenance/maintenance.component.ts
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.html
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.spec.ts
  prime-angular-frontend/src/app/core/components/page-not-found/page-not-found.component.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/certificate-limits-conditions/certificate-limits-conditions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-version/enrollee-profile-version.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-profile-versions/enrollee-profile-versions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/enrollee-profile-history.model.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-dotnet-webapi-tests/Mocks/AccessTermMockService.cs
  prime-dotnet-webapi-tests/Mocks/EnrolleeProfileVersionServiceMock.cs
  prime-dotnet-webapi-tests/Services/AutomaticAdjudicationService.Tests.cs
  prime-dotnet-webapi-tests/Services/BaseService.Tests.cs
  prime-dotnet-webapi-tests/Services/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/EnrolleeProfileVersionConfiguration.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Migrations/20200122001001_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200122001001_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/EnrolleeProfileVersion.cs
  prime-dotnet-webapi/Services/AutomaticAdjudicationService.cs
  prime-dotnet-webapi/Services/EnrolleeProfileVersionService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeProfileVersionService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Frontend, Ready For Review

#277 Feature/stop ie
  prime-angular-frontend/angular.json
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/modules/auth/auth.module.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/components/banner/banner.component.html
  prime-angular-frontend/src/app/modules/auth/shared/components/banner/banner.component.scss
  prime-angular-frontend/src/app/modules/auth/shared/components/banner/banner.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/components/banner/banner.component.ts
  prime-angular-frontend/src/polyfills.ts
  prime-angular-frontend/tsconfig.es5.json
Labels: Frontend, Ready For Review

#276 Validation on Summary
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-state.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#279 login page words
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review

#280 Fixed front-end
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property-error/enrollee-property-error.component.html
Labels: Frontend, Ready For Review

#282 Sprint Review Updates
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/demographic/demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/collection-notice-alert/collection-notice-alert.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-privileges/enrollee-privileges.component.html
  prime-angular-frontend/src/environments/environment.ts
  prime-dotnet-webapi/Configuration/PrivilegeConfiguration.cs
Labels: Frontend, Ready For Review

#283 Static TOA (RU/OBO)
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/access-terms-pager/access-terms-pager.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-terms/moa-access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-terms/moa-access-terms.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-terms/moa-access-terms.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/moa-access-terms/moa-access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
Labels: Frontend, Ready For Review

#286 Change MOA to OBO
  prime-dotnet-webapi/Configuration/UserClauseConfiguration.cs
  prime-dotnet-webapi/Migrations/20200124003802_Initial.Designer.cs
  prime-dotnet-webapi/Migrations/20200124003802_Initial.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/PrimeConstants.cs
Labels: Backend, Ready For Review

#285 Feature/login style updates
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
Labels: Frontend, Ready For Review

#288 Update Dashboard UX
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/obo-access-terms/obo-access-terms.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/components/ru-access-terms/ru-access-terms.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.scss
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/models/dashboard.model.ts
  prime-angular-frontend/src/scss/_palette.scss
  prime-angular-frontend/src/scss/material/components/_mat-sidenav.scss
Labels: Frontend, Ready For Review

#289 Updates self dec
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#290 Remove and hide
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
Labels: Frontend, Ready For Review

#266 Data Generation
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi/Extensions/FactoryExtenstions.cs
  prime-dotnet-webapi/ModelFactories/AccessTermFactory.cs
  prime-dotnet-webapi/ModelFactories/AddressFactory.cs
  prime-dotnet-webapi/ModelFactories/AssignedPrivilegeFactory.cs
  prime-dotnet-webapi/ModelFactories/CertificationFactory.cs
  prime-dotnet-webapi/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi/ModelFactories/EnrolmentCertificateAccessTokenFactory.cs
  prime-dotnet-webapi/ModelFactories/EnrolmentStatusFactory.cs
  prime-dotnet-webapi/ModelFactories/EnrolmentStatusReasonFactory.cs
  prime-dotnet-webapi/ModelFactories/JobFactory.cs
  prime-dotnet-webapi/ModelFactories/Lookups/CollegeLicenseLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/CollegeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/CollegePracticeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/CountryLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/DefaultPrivilegeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/GlobalClauseLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/JobNameLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/LicenseClassClauseLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/LicenseLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/OrganizationTypeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/PracticeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/PrivilegeGroupLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/PrivilegeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/PrivilegeTypeLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/ProvinceLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/StatusLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/StatusReasonLookup.cs
  prime-dotnet-webapi/ModelFactories/Lookups/UserClauseLookup.cs
  prime-dotnet-webapi/ModelFactories/NoteFactory.cs
  prime-dotnet-webapi/ModelFactories/OrganizationFactory.cs
  prime-dotnet-webapi/ModelFactories/StatusStateFactory.cs
  prime-dotnet-webapi/Models/Addresses/Country.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#291 Add delete enrolment
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolments/enrolments.component.html
Labels: Frontend, Ready For Review

#292 Updated classification logic
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Ready For Review

#294 Updated words
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/organization/organization.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-certificate/pharmanet-enrolment-certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/shared/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#295 Revert logic
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Ready For Review

#296 Reverted ru/obo back again
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Ready For Review

#298 Split college number and licence
  prime-angular-frontend/src/app/modules/enrolment/shared/components/college-certification-form/college-certification-form.component.html
Labels: Frontend, Ready For Review

#301 Small Changes for GPID Prep
  prime-dotnet-webapi/AuthenticationSetup.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/EnrolmentCertificatesController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/PrimeConstants.cs
Labels: Backend, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#299 Update local dev PharmaNet college api mock
  prime-dotnet-webapi/Services/PharmanetAPIService.cs
Labels: Backend, ༼ つ ◕_◕ ༽つ ☕

#302 RU vs. OBO Derived by Licence Class (not presence of a college licence)
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/Privileges/Privilege.cs
  prime-dotnet-webapi/Services/AccessTermService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#303 Remove DOB from enrolment certificate
  prime-angular-frontend/src/app/modules/enrolment-certificate/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/enrolment-certificate/shared/models/enrolment-certificate.model.ts
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
Labels: Backend, Frontend, Ready For Review

#305 Remove DOB property
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
Labels: Backend, Ready For Review

#313 Fixing JWT token in test and prod
  Jenkinsfile
  Jenkinsfile.promotion
  openshift/dotnet-webapi.bc.yaml
  openshift/dotnet-webapi.dc.yaml
  prime-dotnet-webapi/openshift.dockerfile
Labels: Bug, CI/CD

#316 Security changes
  Jenkinsfile
  Jenkinsfile.promotion
  openshift/angular-frontend.dc.yaml
  player.sh
  prime-angular-frontend/nginxdev.conf
  prime-angular-frontend/nginxprod.conf
  prime-angular-frontend/nginxtest.conf
Labels: CI/CD, Frontend, Ready For Review
