Repository bcgov/moh-prime, pull requests merged in 2021-09, with the labels that each got.

#1577 Remove unused file with hardcoded key
  manage
Labels: DevOps

#1575 Assign GIS Role
  prime-dotnet-webapi/Auth/AuthenticationSetup.cs
  prime-dotnet-webapi/Controllers/GisController.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/IKeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/IMohKeycloakClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/MohKeycloakClient.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Services/interfaces/IGisService.cs
  prime-dotnet-webapi/Startup.cs
Labels: ༼ つ ◕_◕ ༽つ ☕, Backend, Ready For Review

#1564 [OPS] Use Patroni & Use single database deployment in PRs
  .github/workflows/build-pr.yml
  infrastructure/cron-jobs/send-renewal-emails.cron.yml
  infrastructure/cron-jobs/update-email-statuses.cron.yml
  infrastructure/patroni/patroni.secret.yaml
  infrastructure/patroni/patroni.statefulset.yaml
  infrastructure/prime-app-ephemeral-template.yml
Labels: DevOps

#1546 PRIME 1721 gis updates
  prime-angular-frontend/src/app/core/models/api-http-error-response.model.ts
  prime-angular-frontend/src/app/core/resources/abstract-resource.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.html
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/submission-confirmation-page/submission-confirmation-page.component.html
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/models/ldap-error-response.model.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/modules/gis-login/gis-login-page.component.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/resources/gis-enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/GisController.cs
  prime-dotnet-webapi/HttpClients/LDAP Api/ILdapClient.cs
  prime-dotnet-webapi/HttpClients/LDAP Api/LdapClient.cs
  prime-dotnet-webapi/Models/Api/GisUserRepresentation.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Services/interfaces/IGisService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/ViewModels/GisLdapUser/GisLdapUser.cs
Labels: Frontend, Backend, Ready For Review

#1573 PRIME 1762 Site Registration Duplicate PEC
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/lib/validators/form-control.validators.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.spec.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Frontend, Backend, Ready For Review

#1581 Refactor HttpClient Configuration
  prime-dotnet-webapi/Extensions/ServiceCollectionExtensions.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/BasicApiKey.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1583 Load moh keycloak config from OCP4
  prime-angular-frontend/src/main.ts
Labels: Frontend, Ready For Review

#1591 Fix GIS LDAP Authentication
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.ts
Labels: Frontend, Ready For Review

#1592 GIS update link to be clickable
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/submission-confirmation-page/submission-confirmation-page.component.html
Labels: Frontend, Ready For Review

#1593 Orgbook don't make request if sourceId is null
  prime-angular-frontend/src/app/modules/site-registration/shared/services/org-book-resource.service.ts
Labels: Frontend, Ready For Review

#1483 PRIME-1651 Site Registration HA Admin Accordion Menu
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/authorized-users-page/authorized-users-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/authorized-users-page/authorized-users-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-org-info-page/health-auth-org-info-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-org-info-page/health-auth-org-info-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/shared/models/health-authority-row.model.ts
  prime-dotnet-webapi/Controllers/HealthAuthoritiesController.cs
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
  prime-dotnet-webapi/Services/interfaces/IHealthAuthoritySiteService.cs
Labels: Frontend, Backend, Ready For Review

#1594 GIS Updates
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.html
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/models/ldap-error-response.model.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/resources/gis-enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/GisController.cs
  prime-dotnet-webapi/HttpClients/LDAP Api/LdapClient.cs
  prime-dotnet-webapi/Models/Api/GisUserRepresentation.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/ViewModels/GisLdapUser/GisLdapUser.cs
Labels: Frontend, Backend, Ready For Review

#1595 PRIME-1789 Site Registration Contact Issue
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.html
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.ts
Labels: Frontend, Ready For Review

#1584 Refactor Keycloak Clients
  prime-dotnet-webapi/Controllers/PhsaController.cs
  prime-dotnet-webapi/HttpClients/Access Tokens/ClientCredentials.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/IKeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/IMohKeycloakClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/MohKeycloakClient.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Services/PhsaService.cs
  prime-dotnet-webapi/Services/interfaces/IPhsaService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1596 GIS Updated API and Web Client
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.html
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/models/ldap-error-response.model.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/resources/gis-enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/GisController.cs
  prime-dotnet-webapi/Models/Api/GisUserRepresentation.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/ViewModels/GisLdapUser/GisLdapUser.cs
Labels: DO NOT MERGE, Frontend

#1582 [OPS] Drop PR database during cleanup action
  .github/workflows/pr-cleanup.yml
Labels: Ready For Review, DevOps

#1598 GIS Update
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.html
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/resources/gis-enrolment-resource.service.ts
Labels: Frontend, Ready For Review

#1597 Automapper Profiles
  prime-dotnet-webapi-tests/Utils/InMemoryDbTest.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Services/interfaces/IGisService.cs
  prime-dotnet-webapi/ViewModels/Agreements/_AgreementMappingProfile.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/Banner/_BannerMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Common/_CommonMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Emails/_EmailMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeNoteViewModel.cs
  prime-dotnet-webapi/ViewModels/Enrollee/_EnrolleeMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Health Authorities/AuthorizedUserChangeModel.cs
  prime-dotnet-webapi/ViewModels/Health Authorities/AuthorizedUserViewModel.cs
  prime-dotnet-webapi/ViewModels/Health Authorities/_HealthAuthorityMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/_HealthAuthoritySiteMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Paper Enrollees/PaperEnrolleesMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Paper Enrollees/_PaperEnrolleeMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Parties/GisLdapUserViewModel.cs
  prime-dotnet-webapi/ViewModels/Parties/_PartyMappingProfile.cs
  prime-dotnet-webapi/ViewModels/Plr/_PlrMappingProfile.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SigningAuthorityChangeModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteRegistrationNoteViewModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/_SiteMappingProfile.cs
Labels: ༼ つ ◕_◕ ༽つ ☕, Backend, Ready For Review

#1579 PRIME-1800 Job title does not display on enrolments screen in admin for older enrolments
  package-lock.json
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#1585 [OPS] Utilize Docker layer caching in PR builds
  .github/workflows/build-pr.yml
  infrastructure/prime-app-ephemeral-template.yml
Labels: Ready For Review, DevOps

#1604 Refactor Dependency Injection
  prime-dotnet-webapi-tests/Unit Tests/AdminService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/BusinessEventService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EmailService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeAgreementService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeSubmissionService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolmentCertificateService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/LookupService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/PrivilegeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionService.Tests.cs
  prime-dotnet-webapi-tests/Utils/InMemoryDbTest.cs
  prime-dotnet-webapi/Services/AdminService.cs
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/AuthorizedUserService.cs
  prime-dotnet-webapi/Services/BannerService.cs
  prime-dotnet-webapi/Services/BaseService.cs
  prime-dotnet-webapi/Services/BusinessEventService.cs
  prime-dotnet-webapi/Services/ClientLogService.cs
  prime-dotnet-webapi/Services/DocumentAccessTokenService.cs
  prime-dotnet-webapi/Services/DocumentService.cs
  prime-dotnet-webapi/Services/EmailDocumentsService.cs
  prime-dotnet-webapi/Services/EmailRenderingService.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/EmailTemplateService.cs
  prime-dotnet-webapi/Services/EnrolleeAgreementService.cs
  prime-dotnet-webapi/Services/EnrolleePaperSubmissionService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolleeSubmissionService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
  prime-dotnet-webapi/Services/GisService.cs
  prime-dotnet-webapi/Services/HealthAuthorityService.cs
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
  prime-dotnet-webapi/Services/LookupService.cs
  prime-dotnet-webapi/Services/MetabaseService.cs
  prime-dotnet-webapi/Services/OrganizationAgreementService.cs
  prime-dotnet-webapi/Services/OrganizationClaimService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/PartyService.cs
  prime-dotnet-webapi/Services/PhsaService.cs
  prime-dotnet-webapi/Services/PlrProviderService.cs
  prime-dotnet-webapi/Services/PrivilegeService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/SoapService.cs
  prime-dotnet-webapi/Services/SoapServiceOperationTuner.cs
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#1600 PRIME-1813-re-order-banners
  prime-dotnet-webapi/Services/BannerService.cs
Labels: Backend, Ready For Review

#1603 Angular Build Update Due to Deprecation of --prod
  poc/prime-angular-poc/src/environments/environment.ts
  prime-angular-frontend/Dockerfile
  prime-angular-frontend/README.md
  prime-angular-frontend/openshift.dockerfile
  prime-angular-frontend/src/environments/environment.model.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review, DevOps

#1605 PRIME-1796 Create a new role for "maintenance"
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
  prime-angular-frontend/src/app/modules/adjudication/shared/components/banner-maintenance/banner-maintenance.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-email-view/notification-email-view.component.html
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-dotnet-webapi/Auth/AuthConstants.cs
  prime-dotnet-webapi/Controllers/BannersController.cs
  prime-dotnet-webapi/Controllers/EmailsController.cs
Labels: Frontend, Backend, Ready For Review

#1619 PRIME-1827 Health Authority Site Registration Admin
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/lib/utils/email-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/email-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-email-view/notification-email-view.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-form.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/health-authority-site.model.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/dialog-options.model.ts
  prime-angular-frontend/src/app/shared/pipes/role-pipe.ts
  prime-dotnet-webapi/Controllers/HealthAuthoritySitesController.cs
  prime-dotnet-webapi/Models/Health Authorities/HealthAuthoritySite.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/HealthAuthoritySiteInfoViewModel.cs
Labels: Frontend, Backend, Ready For Review

#1622 PRIME-1845 Site Reg - admin tabs for care settings hosed
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/enrollee-information-page/enrollee-information-page.component.html
Labels: Frontend, Ready For Review

#1616 PRIME-1826 Site Registration Allow Editing of All Pages
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-dotnet-webapi/Services/SiteService.cs
Labels: Frontend, Backend, Ready For Review

#1626 PRIME-1860 site reg - edit icons appear in admin screens
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1639 GIS update phoneNumber to phone
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/Services/GisService.cs
Labels: Backend, Ready For Review

#1638 PRIME-1867 - Add App Service Account in test
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, CI/CD, Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1641 Show business licence in overview for site reg
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1643 Fix obosites on renewal
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.ts
Labels: Frontend, Ready For Review

#1647 PRIME-1873 No indication of site status to user on site registration card
  prime-dotnet-webapi/Services/SiteService.cs
Labels: Backend, Ready For Review

#1648 PRIME-1871 When an admin adds site Id and click save, site id is not saved
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
Labels: Frontend, Ready For Review

#1644 Refactor existing cron jobs to use jq and ConfigMap
  infrastructure/cron-jobs/send-renewal-emails.cron.yml
  infrastructure/cron-jobs/update-email-statuses.cron.yml
Labels: Ready For Review

#1640 Skip over claiming an organization
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/organization.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
Labels: DO NOT MERGE, Frontend, Ready For Review

#1646 PRIME-1857 Persist Site Reg Tab Selection as QueryString for History/Back
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
Labels: Frontend, Ready For Review
