Repository bcgov/moh-prime, pull requests merged in 2021-02, with the labels that each got.

#1098 Relocated form components into /forms
  prime-angular-frontend/src/app/shared/components/form-errors/form-errors.component.ts
  prime-angular-frontend/src/app/shared/components/forms/access-code-form/access-code-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/access-code-form/access-code-form.component.scss
  prime-angular-frontend/src/app/shared/components/forms/access-code-form/access-code-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/access-code-form/access-code-form.component.ts
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.scss
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.scss
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.ts
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/notification-info-summary.directive.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#1097 Refine ApplyAudits
  prime-dotnet-webapi-tests/Unit Tests/Audit.Tests.cs
  prime-dotnet-webapi/ApiDbContext.cs
Labels: Backend, Database, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1099 PRIME-1378 - Delete Organization is a Super Admin Action
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#1101 PRIME-1375 Update PRIME Profile screen text to match left menu
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
Labels: Frontend, Ready For Review

#1102 PRIME-1377 Add explanatory text to Step 2, Next Steps to get PharmaNet
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
Labels: Frontend, Ready For Review

#1103 PRIME-1378 Add another "really are you sure" check to Delete Organization in Admin
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/dialogs-properties.provider.ts
Labels: Frontend, Ready For Review

#1104 PRIME-1380 Show Preferred Name on Enrolment Review screen even if empty
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#1105 PRIME-1382 Return all-no self-declaration questions to enrolment cards
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.ts
Labels: Frontend, Ready For Review

#1110 Prevent Null Ref Error on EnrolleeCredentials (cherry picked from #1094)
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#1108 Removed duplicated text from delete organization dialog
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
Labels: Frontend, Ready For Review

#1107 PRIME-1381 Disable "View/Update Remote Practitioners" when a community pharmacy
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
Labels: Frontend, Ready For Review

#1113 Fix OboSite Validations
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
Labels: Frontend, Ready For Review

#1112 PRIME-1396 Database Migration
  prime-dotnet-webapi/Migrations/20210128210729_MigrateLicenceNumToPractitionerId.cs
Labels: Database, Ready For Review

#1117 PRIME-1275 - New Roles
  documentation/Keycloak settings/realm-export-dev.json
  prime-dotnet-webapi/Auth/AuthConstants.cs
Labels: Backend, Ready For Review, dependencies, ༼ つ ◕_◕ ༽つ ☕

#1120 PRIME-1384 PractitionerID improvements
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
Labels: Frontend, Ready For Review

#1118 Added config adapter for prescriberIdType
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/enums/prescriber-id-type.enum.ts
Labels: Frontend, Ready For Review

#1125 PRIME 1384 - Fixe, text update, label update
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#1123 Update Role Name
  documentation/Keycloak settings/realm-export-dev.json
  prime-dotnet-webapi/Auth/AuthConstants.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1126 PRIME-1384 Updates
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
Labels: Frontend, Ready For Review

#1100 Fix Frontend Tests
  prime-angular-frontend/src/app/core/services/window-ref.service.spec.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/access-denied/access-denied.component.spec.ts
  prime-angular-frontend/src/app/lib/modules/root-routes/components/page-not-found/page-not-found.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/contextual-enrollee-notification/contextual-enrollee-notification.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/contextual-site-notification/contextual-site-notification.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.spec.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-code/access-code.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/id-submission/id-submission.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access-addresses/remote-access-addresses.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/dashboard/dashboardv1.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrollee-page/enrollee-page.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/obo-site-form/obo-site-form.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.spec.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/access-code/access-code.component.spec.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/available-access/available-access.component.spec.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/bcsc-demographic/bcsc-demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/shared/components/phsa-eforms-progress-indicator/phsa-eforms-progress-indicator.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps/next-steps.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-note/claim-note.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/escalation-note/escalation-note.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-profile/enrollee-profile.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/access-code-form/access-code-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/prime-email/prime-email.component.spec.ts
  prime-angular-frontend/src/test/mocks/mock-config.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-angular-frontend/src/test/mocks/mock-organization.service.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
Labels: Frontend, Ready For Review

#1127 Remove line-height restriction
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.scss
Labels: Frontend, Ready For Review

#1122 Fix Auditable Properties
  prime-dotnet-webapi-tests/Unit Tests/Audit.Tests.cs
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Models/BaseAuditable.cs
  prime-dotnet-webapi/Models/IAuditable.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1130 Fix Provisioner Link Email Business Event Text
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#1129 Refactor and clean up prescriber related code
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#1131 Fix for final step of site registration failing in SitesController
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeCareSettingFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/OrganizationFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/SiteFactory.cs
  prime-dotnet-webapi-tests/Unit Tests/EmailService.Tests.cs
  prime-dotnet-webapi/Services/EmailService.cs
Labels: Backend, Ready For Review

#1121 Updated BCeID to use firstName, lastName, and set givenNames directly
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic-form-state.class.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.ts
Labels: Backend, Frontend, Ready For Review

#1133 PRIME-1329 - Address Revisions
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/enrolment-profile-page.class.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.ts
Labels: Frontend, Ready For Review

#1132 fix address migration
  prime-dotnet-webapi/Migrations/20210203201130_NewAddress.cs
Labels: Database, Ready For Review

#1106 PRIME-630 - Added Tests to Pipes
  prime-angular-frontend/README.md
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/bcsc-demographic/bcsc-demographic.component.html
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/shared/pipes/party-type.pipe.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/party.model.ts
  prime-angular-frontend/src/app/shared/models/address.model.ts
  prime-angular-frontend/src/app/shared/pipes/address.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/address.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/capitalize.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/capitalize.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/care-setting.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/care-setting.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/case.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/certificate.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/certificate.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/default.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/default.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/enrolment.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/first-key.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/first-key.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/format-date.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/format-date.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/fullname.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/join.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/phone.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/phone.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/postal.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/replace.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/replace.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/safe.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/safe.pipe.ts
  prime-angular-frontend/src/app/shared/pipes/weekday.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/yes-no.pipe.spec.ts
  prime-angular-frontend/src/app/shared/pipes/yes-no.pipe.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/test/mocks/mock-auth.service.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-angular-frontend/src/test/mocks/mock-organization.service.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
Labels: Frontend, Ready For Review

#1135 PRIME-1359 Verifiable Credentials - Sometimes credential doesnt get issued
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
Labels: Backend, Ready For Review

#1134 Prime 1360 - Verifiable Credentials - On Revoke - Delete credentials not yet accepted
  prime-dotnet-webapi/HttpClients/Verifiable Credential/IVerifiableCredentialClient.cs
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
Labels: Backend, Ready For Review

#1136 fix icons not being displayed on tiny editor
  prime-angular-frontend/angular.json
Labels: Frontend, Ready For Review

#1138 PRIME-1418 Send a message to wallet when credential is revoked
  prime-dotnet-webapi/HttpClients/Verifiable Credential/IVerifiableCredentialClient.cs
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
  prime-dotnet-webapi/Services/interfaces/IVerifiableCredentialService.cs
Labels: Backend, Ready For Review

#1139 hide vc header
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
Labels: Frontend, Ready For Review

#1141 Separate Pharmanet College API Definitions
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/HttpClients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/DummyCollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/ICollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/PharmanetCollegeApiDefinitions.cs
  prime-dotnet-webapi/HttpClients/Mail/Email.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1145 limit on update email log
  prime-dotnet-webapi/Controllers/EmailsController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
Labels: Backend, Ready For Review

#1147 PRIME-1426 Yet another revision to "Next Steps to Get PharmaNet" page
  prime-angular-frontend/src/app/modules/enrolment/shared/components/next-steps-infographic/next-steps-infographic.component.html
Labels: Frontend, Ready For Review

#1143 PRIME-1423 Display GPID on next steps
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
Labels: Frontend

#1148 PRIME-1425 Hide "upload documents" from clerks
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-notes/adjudicator-notes.component.html
Labels: Frontend, Ready For Review

#1137 Fix Backend Tests
  prime-dotnet-webapi-tests/Extensions/EnrolleeExtensions.cs
  prime-dotnet-webapi-tests/Extensions/ObjectExtensions.cs
  prime-dotnet-webapi-tests/HttpClientMocks/CollegeLicenceClientMock.cs
  prime-dotnet-webapi-tests/Integration/BaseIntegration.Tests.cs
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/Integration/LookupIntegration.Tests.cs
  prime-dotnet-webapi-tests/ModelFactories/AddressFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeAddressFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeHealthAuthorityFactory.cs
  prime-dotnet-webapi-tests/Unit Tests/AutomaticAdjudicationRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/EmailService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionRulesService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/SubmissionStateEngine.Tests.cs
  prime-dotnet-webapi-tests/Utils/Auth/BearerTokenBuilder.cs
  prime-dotnet-webapi-tests/Utils/Auth/TestAuthorizationConstants.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1151 Only send enrollee remote sites that have been approved
  prime-dotnet-webapi/Services/SiteService.cs
Labels: Backend, Ready For Review

#1149 PRIME-1428 - Update Keycloak with new roles/groups
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪
