Repository bcgov/moh-prime, pull requests merged in 2021-11, with the labels that each got.

#1746 Fix Check Warning
  prime-dotnet-webapi-tests/Utils/Auth/BearerTokenBuilder.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1747 Update Local Secrets Documentation
  prime-dotnet-webapi/README.md
Labels: Documentation, Backend, ༼ つ ◕_◕ ༽つ 🍪

#1745 [OPS] Implement Various improvements in mainstream deployment templates
  .github/workflows/build-demo.yml
  .github/workflows/build-develop.yml
  .github/workflows/build-main.yml
  .github/workflows/build-test.yml
  infrastructure/prime-app-ephemeral-template.yml
  infrastructure/prime-app-template.yml
Labels: Ready For Review, DevOps

#1761 PRIME-1985 Additional text for SA eForms Enrolment landing page
  prime-angular-frontend/src/app/modules/sat-eforms/shared/modules/sat-eforms-login-page/sat-eforms-login-page.component.html
  prime-angular-frontend/src/app/modules/sat-eforms/shared/modules/sat-eforms-login-page/sat-eforms-login-page.component.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.ts
  prime-angular-frontend/src/app/shared/components/auth/simple-access/simple-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.ts
  prime-angular-frontend/src/environments/config-map.model.ts
  prime-angular-frontend/src/environments/environment.prod.ts
Labels: Frontend, Ready For Review

#1741 PRIME-1946 Remote Users Link to Enrollees are Dropped in Subsequent Site Submissions
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page-form-state.class.ts
  prime-dotnet-webapi-tests/Unit Tests/CommunitySiteService.Tests.cs
  prime-dotnet-webapi/Services/CommunitySiteService.cs
Labels: Frontend, Backend, Ready For Review

#1762 PRIME-1966 Update Site Registration Overview to Show Validation Errors
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1733 PRIME-1939 Create mock PharmanetTransactionLog data to test performance of queries
  utilities/mock-pharmanettransactionlog-data-creator/README.md
  utilities/mock-pharmanettransactionlog-data-creator/create-mock-pharmanettransactionlog-data.py
  utilities/mock-pharmanettransactionlog-data-creator/loop-generation.ps1
  utilities/mock-pharmanettransactionlog-data-creator/loop-upload.ps1
Labels: Ready For Review, python

#1744 Fix so that no expertise code in PLR record doesn't cause error
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-dotnet-webapi/Services/PlrProviderService.cs
  utilities/PlrIntakeUtility/PRIME_Test_Data_PLR_IAT20210617_v2.0.xls
  utilities/PlrIntakeUtility/PlrIntakeUtility.csproj
Labels: Frontend, Backend, Ready For Review

#1764 PRIME-1987 Fix Paper Enrolment Regulatory Select
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-page.component.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.spec.ts
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.spec.ts
Labels: Frontend, Ready For Review

#1765 PRIME-1989 Remove Remote Users from HA Site Registration
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg-routing.module.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg.module.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg.routes.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/hours-operation-page/hours-operation-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-user-page/remote-user-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-user-page/remote-user-page.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-user-page/remote-user-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-user-page/remote-user-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-form.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-page.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/health-authority-site-update.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/health-authority-site.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/services/health-authority-site-form-state.service.ts
  prime-dotnet-webapi/Controllers/HealthAuthoritySitesController.cs
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/HealthAuthoritySiteUpdateModel.cs
Labels: Frontend, Backend, Ready For Review

#1773 Remove HPDID From GIS Enrollment
  prime-dotnet-webapi/ViewModels/Parties/GisChangeModel.cs
  prime-dotnet-webapi/ViewModels/Parties/GisViewModel.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1767 PRIME-1990 - Entity Matcher
  prime-dotnet-webapi-tests/Unit Tests/EntityMatcher.Tests.cs
  prime-dotnet-webapi/Engines/EntityMatcher.cs
Labels: ༼ つ ◕_◕ ༽つ ☕, Backend, Ready For Review

#1768 PRIME-1951 Part 1 - Remove Claiming from Normal Workflow
  prime-angular-frontend/src/app/modules/auth/auth-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/organization.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/pending-transfer.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
Labels: Frontend, Ready For Review

#1750 PRIME-1961 Adjust ODR-related cron job to drop/create indices before/after performing COPYs
  infrastructure/cron-jobs/retrieve-pnet-logs.cron.yml
  infrastructure/cron-jobs/retrieve-pnet-logs.sh
  prime-dotnet-webapi/Configuration/Database/Unseeded Tables/PharmanetTransactionLogConfiguration.cs
  prime-dotnet-webapi/Migrations/20211110213453_AddTransactionIdUniqueIndex.Designer.cs
  prime-dotnet-webapi/Migrations/20211110213453_AddTransactionIdUniqueIndex.cs
  prime-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
Labels: Ready For Review

#1763 PRIME 1958 seperate healthAuthorityResource
  prime-angular-frontend/src/app/core/resources/authorized-user-resource.service.ts
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/core/resources/health-authority-site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/authorized-user-review/authorized-user-review.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-approved-page/authorized-user-approved-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/hours-operation-page/hours-operation-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-address-page/site-address-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/vendor-page/vendor-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/classes/abstract-health-authority-site-registration-page.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/guards/authorized-user.guard.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/guards/health-authority-site-guard.service.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.spec.ts
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.spec.ts
Labels: Frontend, Ready For Review

#1766 PRIME-1988 SA Enrolment Authentication Disabled in Production
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/modules/health-auth-site-reg-login-page/health-auth-site-reg-login-page.component.ts
  prime-angular-frontend/src/app/modules/sat-eforms/shared/modules/sat-eforms-login-page/sat-eforms-login-page.component.html
  prime-angular-frontend/src/app/modules/sat-eforms/shared/modules/sat-eforms-login-page/sat-eforms-login-page.component.ts
  prime-angular-frontend/src/app/shared/components/auth/simple-access/simple-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/simple-access/simple-access.component.ts
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.ts
Labels: Frontend, Ready For Review

#1778 PRIME-2001 inappropriate appearance of Update Business License button
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1776 PRIME-2000 hide "this site is already operational..." check in PCHP Site Reg if "new site without SiteID" slider is on
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
Labels: Frontend, Ready For Review

#1777 PRIME-2003 Fix community site routing
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation-page/hours-operation-page.component.ts
Labels: Frontend, Ready For Review

#1780 PRIME-2005 Add GUID link to BCSC setup page in SAT enrolment
  prime-angular-frontend/src/environments/environment.prod.ts
Labels: Frontend, Ready For Review

#1779 PRIME-2004 change global renewal constant to 30 days
  prime-angular-frontend/src/app/lib/constants.ts
  prime-angular-frontend/src/app/lib/utils/date-utils.class.ts
  prime-angular-frontend/src/test/mocks/mock-health-authority-site.service.ts
  prime-dotnet-webapi/Models/SiteRegistration/CommunitySite.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
Labels: Frontend, Backend, Ready For Review

#1785 Remove Double Index
  prime-dotnet-webapi/Migrations/20211026202448_AddTransactionIdIndex.cs
  prime-dotnet-webapi/Migrations/20211110213453_AddTransactionIdUniqueIndex.Designer.cs
  prime-dotnet-webapi/Migrations/20211110213453_AddTransactionIdUniqueIndex.cs
Labels: Ready For Review, ༼ つ ◕_◕ ༽つ 🍪, Database

#1783 PRIME 1980 Adjust wording on Absence screen
  prime-angular-frontend/src/app/modules/enrolment/pages/absence-management-page/absence-management-page.component.html
Labels: Frontend, Ready For Review

#1782 PRIME-1999 updating business license doesn't work on renewal
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/CommunitySiteService.cs
Labels: Frontend, Backend, Ready For Review

#1781 PRIME-1957 Site Management Update
  prime-angular-frontend/src/app/core/resources/authorized-user-resource.service.ts
  prime-angular-frontend/src/app/core/resources/health-authority-site-resource.service.ts
  prime-angular-frontend/src/app/lib/constants.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/classes/health-authority-site-utils.class.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/classes/health-authority-site-utils.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/abstract-base-health-authority-site.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/base-health-authority-site.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/health-authority-site-list.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/health-authority-site.model.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.spec.ts
  prime-dotnet-webapi/Controllers/AuthorizedUsersController.cs
  prime-dotnet-webapi/Services/AuthorizedUserService.cs
  prime-dotnet-webapi/Services/interfaces/IAuthorizedUserService.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/HealthAuthoritySiteListViewModel.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/_HealthAuthoritySiteMappingProfile.cs
Labels: Frontend, Backend, Ready For Review

#1786 PRIME-2008 Fix Broken API Unit Tests
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page.component.spec.ts
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/PrimeTests.csproj
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Utils/InMemoryDbTest.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi-tests/testsettings.json
Labels: Frontend, Backend, Ready For Review

#1749 PRIME-1960 Health Authority Site PEC Validation
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-form.model.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/services/health-authority-site-form-state.service.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Frontend, Backend, Ready For Review

#1740 PRIME-1806 send site registration notification for ha sites to hibc
  prime-dotnet-webapi/Controllers/HealthAuthoritySitesController.cs
  prime-dotnet-webapi/HttpClients/Mail/Email.cs
  prime-dotnet-webapi/Services/EmailDocumentsService.cs
  prime-dotnet-webapi/Services/EmailRenderingService.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/Razor/RazorTemplates.cs
  prime-dotnet-webapi/Services/interfaces/IEmailDocumentsService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/ViewModels/Common/ContactViewModel.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/HealthAuthoritySiteSubmissionViewModel.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/_HealthAuthoritySiteMappingProfile.cs
  prime-dotnet-webapi/Views/HealthAuthoritySiteRegistrationReview.cshtml
Labels: Backend, Ready For Review

#1800 PRIME 1982 - Enable Site link on Admin Enrollee Overview -> Remote User
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Bug, Frontend, Ready For Review

#1801 PRIME-1951 Separate Entry URL for Swapping Signing Authority
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/lib/utils/route-utils.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/guards/health-authority-site-guard.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice-page/collection-notice-page.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice-page/collection-notice-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/electronic-organization-agreement-page/electronic-organization-agreement-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps-page/next-steps-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claim-confirmation-page/organization-claim-confirmation-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claim-page/organization-claim-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claim-page/organization-claim-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claimed-page/organization-claimed-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claimed-page/organization-claimed-page.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claimed-page/organization-claimed-page.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-claimed-page/organization-claimed-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/classes/abstract-routing-workflow-guard.class.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-progress-indicator/site-progress-indicator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-registration-dashboard/site-registration-dashboard.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/change-signing-authority.guard.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/change-signing-authority.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/organization.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/pending-transfer.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/site.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/modules/site-registration-login-page/site-registration-login-page-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/modules/site-registration-login-page/site-registration-login-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/modules/site-registration-login-page/site-registration-login.routes.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/organization-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/signing-authority.service.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/signing-authority.service.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.workflows.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1808 PRIME-1500 Create mock test data for local load testing (defect fix)
  utilities/create-mock-data/ModelFactories/EnrolleeFactory.cs
  utilities/create-mock-data/Program.cs
  utilities/create-mock-data/create-mock-data.csproj
Labels: Ready For Review

#1809 Patch Redirect URL
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Bug, Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪, (ノ益 )ノ彡┻━┻

#1807 [HOTFIX] Fix DocumentManager environment variable
  infrastructure/prime-app-template.yml
Labels: Ready For Review, DevOps

#1822 Updated redirect to get the enrollee directly
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
Labels: Backend, Ready For Review

#1823 PRIME-2020 Clicking Triage icon causes endless loop of errors
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment-status-admin.model.ts
Labels: Frontend, Ready For Review

#1824 PRIME-2019 Pressing Save Site causes a crash an an infinite loop
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Frontend, Backend, Ready For Review

#1821 Change logged name for clarity
  prime-angular-frontend/src/assets/unsupported.html
Labels: Frontend, Ready For Review

#1827 PRIME-2024 Incorrect Config Used for Status Reason
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/shared/enums/enrolment-status-reason.enum.ts
Labels: Frontend, Ready For Review

#1830 PRIME -2025 Error during Enrollment if go Back from Care Setting screen without choosing any care setting
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
Labels: Ready For Review

#1803 PRIME-2012 Fix empty Obo Site form
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.ts
Labels: Frontend, Ready For Review

#1825 PRIME-1805 Persistent Filters Doesn't Extend to Persistent Sorting on Columns
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review

#1832 Bug - fix error caused by undefined property
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Bug, Frontend, Ready For Review
