Repository bcgov/moh-prime, pull requests merged in 2021-01, with the labels that each got.

#1038 PRIME-1330 Fix for PHSA redirects
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech-routing.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.module.ts
  prime-angular-frontend/src/app/modules/phsa-labtech/phsa-labtech.routes.ts
Labels: Frontend, Ready For Review

#1024 PRIME-934 local angular docker container
  prime-angular-frontend/nginx.conf
Labels: CI/CD, Ready For Review

#1039 PRIME-1301 Show contact information of signing authority
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1035 Update Keycloak Documentation
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review

#1036 PRIME 1323 Cannot submit enrolment when changing Care Type setting from HA
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
Labels: Frontend

#1037 PRIME 1319 Add the Remote User Site on the Enrollee's enrolment
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Frontend

#1019 PRIME-1032 status display for user on site registration
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps/next-steps.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps/next-steps.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps/next-steps.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps/next-steps.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/enum/site-status.enum.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration-routing.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
  prime-dotnet-webapi/README.md
Labels: Frontend, Ready For Review

#1041 PRIME-1279 Ability for Admin to Remove a document
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-documents/adjudicator-documents.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-documents/adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Backend, Frontend, Ready For Review

#1042 Refactor Base Clients
  prime-dotnet-webapi/Extensions/DictionaryExtensions.cs
  prime-dotnet-webapi/HttpClients/Address Autocomplete/AddressAutocompleteClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/Document Manager/DocumentManagerClient.cs
  prime-dotnet-webapi/HttpClients/Email/CHESClient.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1026 PRIME-1248 Changes to the "enrolment" screen on admin
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority-form-state.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeViewModel.cs
Labels: Backend, Frontend, Ready For Review

#1045 Updated orgbook displayed and business licence validations
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.html
Labels: Frontend, Ready For Review

#1043 UI/UX Updates for Consistency and Readability
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.html
Labels: Frontend, Ready For Review

#1046 PRIME-1267 Small changes on admin
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollees/enrollees.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
Labels: Frontend, Ready For Review

#1047 PRIME-1327 Community Practice Notification Email text update
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Views/Emails/CommunityPracticeEmail.cshtml
Labels: Backend, Ready For Review

#1048 Resolve Remaining Analyzer Fixes
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/Resources/ResourceLoader.cs
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Helpers/XmlSerializerHelper.cs
  prime-dotnet-webapi/HttpClients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/DummyCollegeLicenceClient.cs
  prime-dotnet-webapi/Infrastructure/TextSearchQuery.cs
  prime-dotnet-webapi/Models/Admin.cs
  prime-dotnet-webapi/Models/Api/LookupEntity.cs
  prime-dotnet-webapi/Models/BusinessEvent.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Models/PharmanetCollegeRecord.cs
  prime-dotnet-webapi/Models/SiteRegistration/SiteRegistrationReviewDocument.cs
  prime-dotnet-webapi/Models/Statuses/Status.cs
  prime-dotnet-webapi/Models/Statuses/StatusReason.cs
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/BusinessEventService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolleeSubmissionService.cs
  prime-dotnet-webapi/Services/LookupService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/PrivilegeService.cs
  prime-dotnet-webapi/Services/RazorConverterService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1052 Move Auth
  prime-dotnet-webapi/Auth/AuthConstants.cs
  prime-dotnet-webapi/Auth/AuthenticationSetup.cs
  prime-dotnet-webapi/Auth/PrimeUserAuthHandler.cs
  prime-dotnet-webapi/Auth/PrimeUserRequirement.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1049 PRIME-1335 Wording/spelling/punctuation fixes - user enrolment
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.html
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.html
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access-addresses/remote-access-addresses.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/dashboard/dashboardv1.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/pipes/join.pipe.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review

#1055 PRIME-1333 College Licence Information and Practitioner ID
  prime-angular-frontend/src/app/lib/classes/abstract-form-page.class.ts
  prime-angular-frontend/src/app/lib/classes/abstract-form-state.class.ts
  prime-angular-frontend/src/app/lib/interfaces/form.interface.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-code/access-code.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-declined/access-declined.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-locked/access-locked.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-terms/access-terms.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/device-provider/device-provider.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority-form-state.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/id-submission/id-submission.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory-form-state.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access-addresses/remote-access-addresses.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/enrolment-page.class.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/enrolment-profile-page.class.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/remote-access-location.model.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator/administrator.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation/hours-operation.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer/privacy-officer.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support/technical-support.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
Labels: Frontend, Ready For Review

#1053 Added unsubscribe method to new base component class
  prime-angular-frontend/src/app/lib/classes/abstract-component.class.ts
  prime-angular-frontend/src/app/modules/auth/pages/bceid/bceid.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/site/site.component.ts
  prime-angular-frontend/src/app/shared/classes/abstract-component.ts
Labels: Frontend, Ready For Review

#1059 Fix PHSA Redirect in Keycloak
  documentation/Keycloak settings/realm-export-prod.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝, ༼ つ ◕_◕ ༽つ 🍪

#1057 FIX include submissions for re-run
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Bug, Ready For Review

#1060 PRIME-1350 Fix Enrolment Validation
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/job-form/job-form.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#1061 PRIME-1343 Preferred Name is only appearing on the Review Page after you hover over the first pencil icon
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Frontend, Ready For Review

#1062 PRIME-1047 Admin Visual Indicator of Community Pharmacies without a Business Licence
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteListViewModel.cs
  prime-dotnet-webapi/Views/Emails/BusinessLicenceUploadedEmail.cshtml
Labels: Backend, Frontend, Ready For Review

#1065 Don't add empty when removing incomplete
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
Labels: Frontend, Ready For Review

#1066 Explicit logout due to PHSA
  prime-angular-frontend/src/app/modules/enrolment/shared/components/dashboard/dashboardv1.component.ts
Labels: Frontend, Ready For Review

#1063 PRIME-1273 Send email on admin (site registration)
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-email/send-email.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#1058 PRIME-1230 Triage initial commit
  prime-angular-frontend/src/app/lib/modules/ngx-contextual-help/contextual-help/contextual-help.component.html
  prime-angular-frontend/src/app/lib/modules/ngx-contextual-help/contextual-help/contextual-help.component.scss
  prime-angular-frontend/src/app/lib/modules/ngx-contextual-help/contextual-help/contextual-help.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-angular-frontend/src/scss/material/_material.scss
  prime-angular-frontend/src/scss/material/components/_mat-menu.scss
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#1071 Fix Backend Tests
  prime-dotnet-webapi-tests/HttpClientMocks/CollegeLicenceClientMock.cs
  prime-dotnet-webapi-tests/Integration/EnrolleeIntegration.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/FeedbackService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/LookupService.Tests.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeUpdateModel.cs
Labels: Backend, Ready For Review

#1069 PRIME-1340 PHSA Landing Page and Final page updates
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.html
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/submission-confirmation/submission-confirmation.component.html
Labels: Frontend, Ready For Review

#1070 PRIME-1346 Debrand PRIME from PHSA enrolment
  prime-angular-frontend/src/app/lib/modules/dashboard/components/dashboard/dashboard.component.html
  prime-angular-frontend/src/app/lib/modules/dashboard/components/dashboard/dashboard.component.scss
  prime-angular-frontend/src/app/lib/modules/dashboard/components/dashboard/dashboard.component.ts
  prime-angular-frontend/src/app/modules/auth/pages/phsa/phsa.component.html
  prime-angular-frontend/src/app/modules/phsa-eforms/shared/components/phsa-eforms-dashboard/phsa-eforms-dashboard.component.html
  prime-angular-frontend/src/app/modules/phsa-eforms/shared/components/phsa-eforms-dashboard/phsa-eforms-dashboard.component.ts
Labels: Frontend, Ready For Review

#1068 PRIME-1338 - Razor Refactor
  prime-dotnet-webapi-tests/Unit Tests/RazorConverterService.Tests.cs
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/Razor/RazorConverterService.cs
  prime-dotnet-webapi/Services/Razor/RazorTemplates.cs
  prime-dotnet-webapi/Services/interfaces/IRazorConverterService.cs
  prime-dotnet-webapi/Views/Agreements/Agreement.cshtml
  prime-dotnet-webapi/Views/Agreements/AgreementPdf.cshtml
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#1072 AuthRoutes has not root path resulting in // in logout redirect URLs
  prime-angular-frontend/src/app/modules/auth/auth.routes.ts
Labels: Frontend, Ready For Review

#1075 PRIME-1336 Add HIBC, PharmaNet administrator notification emails on site approval
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/Razor/RazorTemplates.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/Views/Emails/SiteApprovedHIBCEmailTemplate.cshtml
  prime-dotnet-webapi/Views/Emails/SiteApprovedPharmaNetAdministratorEmail.cshtml
  prime-dotnet-webapi/Views/Emails/SiteApprovedSigningAuthorityEmailTemplate.cshtml
Labels: Backend, Ready For Review

#1074 PRIME 1289 - CRON job for Renewal Emails
  openshift/send-renewal-emails.cron.yml
  openshift/update-email-statuses.cron.yml
Labels: Backend, CI/CD, Ready For Review

#1078 College Licence Testing Fixes
  prime-dotnet-webapi-tests/ModelFactories/Lookups/CollegeLookup.cs
  prime-dotnet-webapi-tests/Unit Tests/EnrolleeService.Tests.cs
  prime-dotnet-webapi-tests/Unit Tests/RazorConverterService.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/Models/Api/GpidValidation.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Bug, Ready For Review

#1082 Switched modifier positions
  prime-dotnet-webapi/PrimeEnvironment.cs
Labels: Backend, Ready For Review

#1088 Using Static
  prime-dotnet-webapi/PrimeEnvironment.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1087 PRIME-1329 Pre PR Refactor to FormState
  prime-angular-frontend/src/app/core/services/form-utils.service.ts
  prime-angular-frontend/src/app/lib/classes/abstract-form-state-service.class.ts
  prime-angular-frontend/src/app/lib/classes/abstract-form-state.class.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic-form-state.class.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic-form-state.class.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/enrolment-profile-page.class.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address/address.component.spec.ts
Labels: Frontend, Ready For Review

#1085 PRIME-1349 Viewing preferred name in admin
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Frontend, Ready For Review

#1089 Set site status on creation to under review
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/enum/site-status.enum.ts
  prime-dotnet-webapi/Program.cs
  prime-dotnet-webapi/Services/SiteService.cs
Labels: Backend, Ready For Review

#1084 PRIME-1302 2 - 5 | Overview for site registration on admin
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudication/site-adjudication.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-information/site-information.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-information/site-information.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/site-information/site-information.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-information/site-information.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-registration/site-registration.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
Labels: Frontend, Ready For Review

#1090 Dont show practitioner id on remote user page (condensed college form)
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#1092 Copy Licence Number to Practitioner Ids on Certifications
  prime-dotnet-webapi/Migrations/20210128210729_MigrateLicenceNumToPractitionerId.Designer.cs
  prime-dotnet-webapi/Migrations/20210128210729_MigrateLicenceNumToPractitionerId.cs
Labels: Database, Ready For Review

#1093 Default redirect to enrolment instead of site when unsure of origin
  prime-angular-frontend/src/app/modules/auth/shared/guards/authorization-redirect.guard.ts
Labels: Frontend, Ready For Review

#1094 Prevent Null Ref Error on EnrolleeCredentials
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1079 PRIME-1354 PHSA eForms Email Language update
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/bcsc-demographic/bcsc-demographic.component.html
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.html
  prime-angular-frontend/src/app/shared/components/contact-information-form/contact-information-form.component.ts
  prime-angular-frontend/src/app/shared/components/contact-information-form/notification-info-summary.directive.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#1091 PRIME-1342 Surface Preferred Name and Preferred Address (Mailing Address) on the Enrolments in Admin
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#1095 Fix for defect related to renewal emails
  prime-dotnet-webapi/Services/EmailService.cs
Labels: Backend, Bug, Ready For Review
