Repository bcgov/moh-prime, pull requests merged in 2021-05, with the labels that each got.

#1249 PRIME-1545 Need to hide Health Authority site registration in production.
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/modules/health-auth-site-reg-login-page/health-auth-site-reg-login-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/modules/health-auth-site-reg-login-page/health-auth-site-reg-login-page.component.ts
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.ts
  prime-angular-frontend/src/environments/environment.prod.template.ts
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review

#1261 Align Config Files
  prime-dotnet-webapi/.vscode/tasks.json
  prime-dotnet-webapi/Configuration/BusinessEventTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/CareSettingConfiguration.cs
  prime-dotnet-webapi/Configuration/CountryConfiguration.cs
  prime-dotnet-webapi/Configuration/FacilityConfiguration.cs
  prime-dotnet-webapi/Configuration/HealthAuthorityConfiguration.cs
  prime-dotnet-webapi/Configuration/IdentifierTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/JobNameConfiguration.cs
  prime-dotnet-webapi/Configuration/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/PracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeGroupConfiguration.cs
  prime-dotnet-webapi/Configuration/PrivilegeTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/ProvinceConfiguration.cs
  prime-dotnet-webapi/Configuration/SelfDeclarationTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusConfiguration.cs
  prime-dotnet-webapi/Configuration/StatusReasonConfiguration.cs
  prime-dotnet-webapi/Configuration/VendorConfiguration.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1248 PRIME-1533 Enable Editing on Site Registration
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/site-registration/site-registration.routes.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Backend, Frontend, Ready For Review

#1262 PRIME-1559 Allow CareConnect Sites to add remote users
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-banner-page/enrollee-banner-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-banner-page/site-banner-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/banner-maintenance/banner-maintenance.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/privacy-officer-page/privacy-officer-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/guards/health-auth-site-reg.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation-page/hours-operation-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/shared/components/paginator/paginator.component.spec.ts
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.ts
Labels: Frontend, Ready For Review

#1256 PRIME-1532 Jump between enrolments
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/models/enrollee-navigation-model.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeNavigation.cs
Labels: Backend, Frontend, Ready For Review

#1247 PRIME-1551 Integration testing with PLR
  openshift/angular-frontend.dc.yaml
  prime-angular-frontend/nginx.template.conf
  prime-dotnet-webapi-tests/Integration/PRPM_IN303030CA-2.xml
  prime-dotnet-webapi-tests/Unit Tests/SoapService.Tests.cs
  prime-dotnet-webapi/Configuration/PlrProviderConfiguration.cs
  prime-dotnet-webapi/Models/PlrProvider.cs
  prime-dotnet-webapi/Services/SoapService.cs
Labels: Backend, CI/CD, Ready For Review

#1268 PRIME-1569: Wordsmithing fix
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
Labels: Frontend, Ready For Review

#1269 Fix Party/AuthorizedUser Address Issue
  prime-dotnet-webapi/Services/PartyService.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#1270 Minor AuthorizedUser Cleanup
  prime-dotnet-webapi/Controllers/AuthorizedUsersController.cs
  prime-dotnet-webapi/ViewModels/Parties/AuthorizedUserViewModel.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1277 Temporary fix for `The Route ... is invalid` error
  openshift/angular-frontend.dc.yaml
Labels: CI/CD, Ready For Review

#1265 PRIME-1549 Remove Job References
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi-tests/ModelFactories/OboSiteFactory.cs
  prime-dotnet-webapi-tests/Unit Tests/MinorUpdateRules.Tests.cs
  prime-dotnet-webapi-tests/Utils/TestUtils.cs
  prime-dotnet-webapi/Models/Enrollee.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/Rules/MinorUpdateRules.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeUpdateModel.cs
  prime-dotnet-webapi/prime.csproj
  prime-e2e-tests/Admin.Tests.cs
  prime-e2e-tests/BaseTest.cs
  prime-e2e-tests/BaseTestTest.cs
  prime-e2e-tests/Enrollment.Tests.cs
  prime-e2e-tests/README.md
  prime-e2e-tests/TestParameters.cs
  prime-e2e-tests/WebDriverExtensions.cs
  prime-e2e-tests/run-tests.cmd
Labels: Backend, Frontend, Ready For Review

#1281 Added alias to update table
  prime-dotnet-webapi/Migrations/20210525235342_FixJobs.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#1287 PRIME-1590 remove check boxes from confirm enrollee
  prime-angular-frontend/src/app/modules/adjudication/shared/components/contextual-enrolment-confirmation/contextual-enrolment-confirmation.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/contextual-enrolment-confirmation/contextual-enrolment-confirmation.component.ts
Labels: Frontend

#1289 PRIME-1694 fix navigation header min width
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
Labels: Frontend

#1286 PRIME-1588 Remove slider and PEC reference for comm pharm
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.ts
Labels: Frontend

#1288 PRIME-1591 Don't show remote access button unless returning
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
Labels: Frontend
