Repository bcgov/moh-prime, pull requests merged in 2021-12, with the labels that each got.

#1810 PRIME-1819 Delete artifacts after test coverage files are merged and sent to code climate
  .github/workflows/test-pr.yml
Labels: Ready For Review, DevOps

#1841 Fix - Read PLR extract as csv file
  utilities/PlrIntakeUtility/PlrIntakeUtility.csproj
  utilities/PlrIntakeUtility/PlrIntaker.cs
  utilities/PlrIntakeUtility/Program.cs
Labels: Backend

#1842 [HOTFIX] Document manager is missing environment variable
  infrastructure/prime-app-ephemeral-template.yml
Labels: Ready For Review, DevOps

#1829 Prime-1950 Concatenate paper enrolment and enrolment event log and display prior GPID
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/shared/models/enrollee.model.ts
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeDTO.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeViewModel.cs
  prime-dotnet-webapi/ViewModels/Enrollee/_EnrolleeMappingProfile.cs
Labels: Frontend, Backend, Ready For Review, .NET

#1826 PRIME-2023 do not re-evaluate paper enrollee returnees
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-dotnet-webapi/Services/EnrolleePaperSubmissionService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleePaperSubmissionService.cs
Labels: Frontend, Backend, Ready For Review

#1844 PRIME-1923 - PIdP Bakend Architecture
  docker-compose.yml
  pip-dotnet-webapi/.dockerignore
  pip-dotnet-webapi/.gitignore
  pip-dotnet-webapi/.vscode/extensions.json
  pip-dotnet-webapi/.vscode/launch.json
  pip-dotnet-webapi/.vscode/settings.json
  pip-dotnet-webapi/.vscode/tasks.json
  pip-dotnet-webapi/ApiDbContext.cs
  pip-dotnet-webapi/Configuration/Database/SeededTables/ModelConfiguration.cs
  pip-dotnet-webapi/Configuration/Database/SeededTables/SeededTable.cs
  pip-dotnet-webapi/Configuration/Environment/PipEnvironmentVariablesConfigurationProvider.cs
  pip-dotnet-webapi/Configuration/Environment/PipEnvironmentVariablesConfigurationSource.cs
  pip-dotnet-webapi/Configuration/PipConfigurationObjects.cs
  pip-dotnet-webapi/Controllers/FirstController.cs
  pip-dotnet-webapi/Controllers/PipControllerBase.cs
  pip-dotnet-webapi/Dockerfile
  pip-dotnet-webapi/Extensions/ObjectExtensions.cs
  pip-dotnet-webapi/Infrastructure/EmptyStringToNullJsonConverter.cs
  pip-dotnet-webapi/Migrations/20211014175605_FirstMigration.Designer.cs
  pip-dotnet-webapi/Migrations/20211014175605_FirstMigration.cs
  pip-dotnet-webapi/Migrations/ApiDbContextModelSnapshot.cs
  pip-dotnet-webapi/Models/FirstModel.cs
  pip-dotnet-webapi/Models/ILookup.cs
  pip-dotnet-webapi/Models/NewModel.cs
  pip-dotnet-webapi/PipConfiguration.cs
  pip-dotnet-webapi/Program.cs
  pip-dotnet-webapi/Properties/launchSettings.json
  pip-dotnet-webapi/Services/FirstService.cs
  pip-dotnet-webapi/Services/Interfaces/IFirstService.cs
  pip-dotnet-webapi/Startup.cs
  pip-dotnet-webapi/ViewModels/README.md
  pip-dotnet-webapi/Views/README.md
  pip-dotnet-webapi/appsettings.Development.json
  pip-dotnet-webapi/appsettings.json
  pip-dotnet-webapi/ci.dockerfile
  pip-dotnet-webapi/global.json
  pip-dotnet-webapi/pip.csproj
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪, DevOps

#1831 PRIME-1964 Send subsequent real enrolment to manual if paper enrolment is flagged,
  prime-dotnet-webapi-tests/ModelFactories/EnrolleeFactory.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/SubmissionRulesService.cs
Labels: Backend, Ready For Review

#1846 PRIME-2035 Site Submission Prevent by Missing Expiry Date/Do Business As Validation
  prime-angular-frontend/src/app/modules/site-registration/shared/components/business-licence-expiry/business-licence-expiry.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/business-licence-expiry/business-licence-expiry.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1843 Feature/prime 1757 edit paper bday
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-page.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/confirm-dialog/confirm-dialog.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/date-of-birth/date-of-birth.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/date-of-birth/date-of-birth.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/date-of-birth/date-of-birth.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/date-of-birth/date-of-birth.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Controllers/EnrolleePaperSubmissionsController.cs
  prime-dotnet-webapi/Services/EnrolleePaperSubmissionService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleePaperSubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeListViewModel.cs
Labels: Frontend, Backend, Ready For Review

#1854 PRIME-2036 - Fix Enrollee Remote Access Update Bug
  prime-dotnet-webapi/ViewModels/Enrollee/RemoteAccessSiteViewModel.cs
Labels: Bug, Backend, Ready For Review

#1849 Update Test Keycloak With Device Provider Feature Flag
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review

#1855 [OPS] Remove PIDP from pipeline
  .github/workflows/build-pr.yml
  infrastructure/prime-app-ephemeral-template.yml
Labels: Ready For Review, DevOps

#1852 PRIME-1992 Surface contact info from demographic page to Admin for site claiming
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
Labels: Frontend, Ready For Review

#1845 PRIME-1972 site registration (admin) - search on signing authority
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationListViewModel.cs
Labels: Backend, Ready For Review

#1863 Remove noisy code climate comments regarding similar code
  .codeclimate.yml
Labels: Ready For Review

#1847 PRIME-1952 Performance improvement enrollee overview
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-dotnet-webapi/Controllers/EnrolleePaperSubmissionsController.cs
  prime-dotnet-webapi/Services/EnrolleePaperSubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleePaperSubmissionService.cs
Labels: Frontend, Backend, Ready For Review

#1851 PRIME-1983 Show signing authority name in event log
  prime-angular-frontend/src/app/modules/adjudication/pages/site-events/site-events.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/dated-content-table/dated-content-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/business-event.model.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
  prime-dotnet-webapi/ViewModels/Business Events/SiteBusinessEventViewModel.cs
  prime-dotnet-webapi/ViewModels/Business Events/_BusinessEventMappingProfile.cs
Labels: Frontend, Backend, Ready For Review

#1862 Feature/prime 1925 enrolment status history
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
Labels: Frontend, Ready For Review

#1850 PRIME-1682 Health Authority Organization Registration: Care Type/Vendor Deletions
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-care-types-page/health-auth-care-types-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-care-types-page/health-auth-care-types-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/vendors-page/vendors-page.component.ts
  prime-dotnet-webapi/Controllers/HealthAuthoritiesController.cs
  prime-dotnet-webapi/Services/HealthAuthorityService.cs
  prime-dotnet-webapi/Services/interfaces/IHealthAuthorityService.cs
Labels: Frontend, Backend, Ready For Review

#1878 PRIME-2045 fix navigation to obo sites
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
Labels: Frontend, Ready For Review

#1868 Add unit tests to enrolment
  prime-angular-frontend/.vscode/launch.json
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
Labels: Ready For Review

#1879 Fix add email template types to FE enum
  prime-angular-frontend/src/app/modules/adjudication/pages/email-notification-list-page/email-notification-list-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-email-view/notification-email-view.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-email-view/notification-email-view.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-emails-container/notification-emails-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-emails-container/notification-emails-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/email-template-type.model.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/email-template.model.ts
  prime-dotnet-webapi/ViewModels/Emails/EmailTemplateListViewModel.cs
  prime-dotnet-webapi/ViewModels/Emails/EmailTemplateViewModel.cs
  prime-dotnet-webapi/ViewModels/Emails/_EmailMappingProfile.cs
Labels: Bug, Frontend, Ready For Review

#1877 Feature/prime 1885 site reg updates
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/site-overview-page/site-overview-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/site-overview-page/site-overview-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-site-container/health-authority-site-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-site-container/health-authority-site-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.ts
  prime-angular-frontend/src/test/mocks/mock-community-site.service.ts
Labels: Frontend, Ready For Review

#1866 PRIME-1926 Display previously uploaded self-declaration documents
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/shared/components/document-attachment/document-attachment.component.html
Labels: Frontend, Ready For Review

#1881 PRIME-2048 Safe Cross-Origin Destination Links
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/submission-confirmation-page/submission-confirmation-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.html
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/assets/unsupported.html
Labels: Frontend, Ready For Review

#1882 PRIME-2045 bugfix
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
Labels: Bug, Ready For Review

#1864 PRIME-1981 Review use of getEnrolleeById in admin
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-access-term-enrolment/enrollee-access-term-enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
  prime-angular-frontend/src/app/shared/models/enrollee-review-status.model.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeListViewModel.cs
Labels: Frontend, Backend, Ready For Review

#1896 Update Dependabot for NuGet
  .github/dependabot.yml
Labels: CI/CD, Ready For Review

#1904 Test branch
  .github/workflows/test-pr.yml
  prime-angular-frontend/src/app/modules/adjudication/pages/email-notification-list-page/email-notification-list-page.component.spec.ts
Labels: DO NOT MERGE
