Repository bcgov/moh-prime, pull requests merged in 2021-07, with the labels that each got.

#1421 Alphabetize Services
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1406 PRIME-1666 Paper Enrolment Updates
  prime-angular-frontend/src/app/lib/classes/abstract-enrolment-page.class.ts
  prime-angular-frontend/src/app/lib/utils/array-utils.class.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory-form-state.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/college-certification.model.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.scss
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-form.model.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/next-steps-page/next-steps-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/next-steps-page/next-steps-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.scss
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-page.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/shared/guards/paper-enrolment.guard.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/models/address.model.ts
  prime-angular-frontend/src/test/mocks/mock-config.ts
  prime-angular-frontend/tsconfig.json
  prime-dotnet-webapi/Controllers/EnrolleePaperSubmissionsController.cs
  prime-dotnet-webapi/HttpClients/Mail/Email.cs
  prime-dotnet-webapi/Services/EnrolleePaperSubmissionService.cs
Labels: Backend, Frontend, Ready For Review

#1422 PRIME-1647 Email Editor
  prime-angular-frontend/src/app/modules/adjudication/pages/email-notification-list-page/email-notification-list-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/email-notification-view-page/email-notification-view-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/email-notification-view-page/email-notification-view-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-email-view/notification-email-view.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/notification-email-view/notification-email-view.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/email-template-resource.service.ts
  prime-dotnet-webapi/Controllers/EmailsController.cs
  prime-dotnet-webapi/Services/EmailTemplateService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailTemplateService.cs
Labels: Backend, Frontend, Ready For Review

#1419 Fix: Admin changing state on enrolment not propagating events properly to current page
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-enrolments/enrollee-enrolments.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/dashboard/dashboardv1.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/shared/enums/enrolment-status.enum.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Bug, Frontend, Ready For Review

#1423 PRIME-1678 paper enrolment overview refinement
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-form.model.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/paper-enrolment.module.ts
Labels: Frontend, Ready For Review

#1425 Banner preview watchers weren't initialized right on new banner page
  prime-angular-frontend/src/app/modules/adjudication/shared/components/banner-maintenance/banner-maintenance.component.ts
Labels: Frontend, Ready For Review

#1442 Updated pharm admin update for HA
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
Labels: Backend, Ready For Review

#1409 PRIME 1676 Paper Enrolment Guard
  prime-angular-frontend/src/app/modules/paper-enrolment/paper-enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/shared/components/paper-enrolment-dashboard/paper-enrolment-dashboard.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/shared/guards/paper-enrolment.guard.ts
Labels: Frontend, Ready For Review

#1447 Improve frontend containers
  infrastructure/prime-app-ephemeral-template.yml
  infrastructure/prime-app-template.yml
  prime-angular-frontend/openshift.dockerfile
Labels: DevOps

#1443 Unify ActionResult
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/AuthorizedUsersController.cs
  prime-dotnet-webapi/Controllers/DocumentAccessController.cs
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Controllers/EnrolleePaperSubmissionsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/HealthAuthoritiesController.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1451 OPS: Trigger bespoke cleanup action on PR close event
  .github/workflows/build-develop.yml
  .github/workflows/build-pr.yml
  .github/workflows/pr-cleanup.yml
Labels: DevOps

#1427 PRIME-1723 small admin changes
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-adjudicator-documents/enrollee-adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-adjudicator-documents/site-adjudicator-documents.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-notes/adjudicator-notes.component.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
  prime-dotnet-webapi/ViewModels/Enrollee/EnrolleeViewModel.cs
Labels: Backend, Frontend, Ready For Review

#1429 PRIME-1674 Admin view into license classes
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/license-classes-maintenance-page/license-classes-maintenance-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/license-classes-maintenance-page/license-classes-maintenance-page.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/license-classes-maintenance-page/license-classes-maintenance-page.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/license-classes-maintenance-page/license-classes-maintenance-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/maintenance-container/maintenance-container.component.html
  prime-angular-frontend/src/test/mocks/mock-config.ts
  prime-dotnet-webapi/Models/Certifications/License.cs
Labels: Backend, Frontend, Ready For Review

#1453 Feature/prime 1731 make filters persistant
  prime-angular-frontend/src/app/core/services/local-storage.service.spec.ts
  prime-angular-frontend/src/app/core/services/local-storage.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.html
Labels: Frontend, Ready For Review

#1465 Site Overview bug fix - null check on party
  prime-angular-frontend/src/app/shared/components/site/party-review/party-review.component.html
Labels: Bug, Frontend, Ready For Review

#1454 Health Auth and Paper Enrolment Updates
  prime-angular-frontend/src/app/lib/utils/object-utils.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-address-page/site-address-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/vendor-page/vendor-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-form.model.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/next-steps-page/next-steps-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-form.model.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.scss
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-form.model.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-overview.component.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/upload-page/upload-page.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/paper-enrolment.module.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/shared/guards/paper-enrolment.guard.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/shared/services/paper-enrolment-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/shared/services/paper-enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/models/enrolment.model.ts
  prime-dotnet-webapi/ViewModels/Paper Enrollees/PaperEnrolleeDemographicViewModel.cs
  prime-dotnet-webapi/ViewModels/Paper Enrollees/PaperEnrolleesMappingProfile.cs
Labels: Backend, Frontend, Ready For Review

#1467 PRIME-1694 Update Site State Model - Remove Approved
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-actions/site-registration-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/enum/site-status.enum.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/scss/mixins/_statuses.scss
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Engines/SiteStatusStateEngine.cs
  prime-dotnet-webapi/Migrations/20210723233609_SiteStatusUpdate.Designer.cs
  prime-dotnet-webapi/Migrations/20210723233609_SiteStatusUpdate.cs
  prime-dotnet-webapi/Models/Api/SiteRegistrationAction.cs
  prime-dotnet-webapi/Models/SiteRegistration/Site.cs
  prime-dotnet-webapi/Models/Statuses/SiteStatusType.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteListViewModel.cs
Labels: Database, Frontend, Ready For Review

#1452 PRIME-1729 Move environment config out of docker image
  infrastructure/prime-app-ephemeral-template.yml
  infrastructure/prime-app-template.yml
  prime-angular-frontend/.gitignore
  prime-angular-frontend/Dockerfile
  prime-angular-frontend/openshift.dockerfile
  prime-angular-frontend/src/app/app-config.module.ts
  prime-angular-frontend/src/app/app.component.ts
  prime-angular-frontend/src/app/config/config.module.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak.module.ts
  prime-angular-frontend/src/app/core/services/abstract-logger.service.ts
  prime-angular-frontend/src/app/core/services/console-logger.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
  prime-angular-frontend/src/app/shared/components/banner/banner.component.ts
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-angular-frontend/src/app/shared/services/banner-resource.service.ts
  prime-angular-frontend/src/environments/config-map.model.ts
  prime-angular-frontend/src/environments/environment.model.ts
  prime-angular-frontend/src/environments/environment.prod.template.ts
  prime-angular-frontend/src/environments/environment.prod.ts
  prime-angular-frontend/src/main.ts
Labels: Frontend, Ready For Review

#1449 Ops: small improvements
  .github/workflows/build-demo.yml
  .github/workflows/build-develop.yml
  .github/workflows/build-main.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-test.yml
  .github/workflows/build-tools.yml
  .github/workflows/pr-cleanup.yml
  infrastructure/prime-app-ephemeral-template.yml
Labels: DevOps

#1474 PRIME-1764 - Enrolment Overview Validation
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/enrolment-profile-page.class.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property/enrollee-property.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-property/enrollee-property.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.scss
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.ts
Labels: Frontend, Ready For Review

#1477 Remove direct use of environment for config
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak-init.service.ts
  prime-angular-frontend/src/app/core/services/console-logger.service.ts
  prime-angular-frontend/src/app/modules/auth/shared/guards/authentication.guard.ts
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-angular-frontend/src/environments/config-map.model.ts
  prime-angular-frontend/src/environments/environment.model.ts
  prime-angular-frontend/src/main.ts
Labels: Frontend, Ready For Review

#1479 PRIME-1766 need to surface GPID on enrollee overview in Admin (to support paper enrolments)
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.scss
  prime-angular-frontend/src/app/shared/components/document-upload/document-upload/document-upload.component.ts
  prime-angular-frontend/src/environments/environment.ts
Labels: Frontend, Ready For Review
