Repository bcgov/moh-prime, pull requests merged in 2021-06, with the labels that each got.

#1295 PRIME-1542 Site Health Authority Updates
  prime-angular-frontend/openshift.dockerfile
  prime-angular-frontend/src/app/core/guards/base.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg-routing.module.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg.module.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg.routes.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/organization-agreement-page/organization-agreement-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/organization-agreement-page/organization-agreement-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/organization-agreement-page/organization-agreement-page.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/organization-agreement-page/organization-agreement-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/organization-agreement-page/organization-agreement-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/privacy-officer-page/privacy-officer-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/privacy-officer-page/privacy-officer-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/privacy-officer-page/privacy-officer-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-address-page/site-address-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-address-page/site-address-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/vendor-page/vendor-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/guards/authorized-user.guard.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/services/health-auth-site-reg-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.ts
  prime-angular-frontend/src/app/shared/components/forms/fields/doing-business-as-form-field/doing-business-as-form-field.component.html
  prime-angular-frontend/src/app/shared/components/forms/fields/doing-business-as-form-field/doing-business-as-form-field.component.scss
  prime-angular-frontend/src/app/shared/components/forms/fields/doing-business-as-form-field/doing-business-as-form-field.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/fields/doing-business-as-form-field/doing-business-as-form-field.component.ts
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.ts
  prime-angular-frontend/src/app/shared/components/overview-section/overview-section.component.ts
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.html
  prime-angular-frontend/src/app/shared/components/site/summary-card/summary-card.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#1291 New Initial Migration
  prime-dotnet-webapi/Migrations/20210528213202_NewInitial.Designer.cs
  prime-dotnet-webapi/Migrations/20210528213202_NewInitial.cs
Labels: Database, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1294 PRIME-1547 no adjudication box for editable enrolments
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.spec.ts
  prime-angular-frontend/src/test/mocks/mock-enrolment.service.ts
Labels: Frontend, Ready For Review

#1299 PRIME-1601 Tip for SiteID for non-pharmacy site reg
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
Labels: Frontend, Ready For Review

#1315 Better Docman Error Handling
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1312 PRIME-1613 Organization Information Page
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authority-organization-information-page/health-authority-organization-information-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authority-organization-information-page/health-authority-organization-information-page.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authority-organization-information-page/health-authority-organization-information-page.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authority-organization-information-page/health-authority-organization-information-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.ts
Labels: Frontend, Ready For Review

#1316 Consolidate Configuration
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/AgreementVersionConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/BusinessEventTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/CareSettingConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/CollegeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/CollegeLicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/CollegePracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/CountryConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/DefaultPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/EmailTemplateConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/FacilityConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/HealthAuthorityConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/IdentifierTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/JobNameConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/LicenseConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/PracticeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/PrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/PrivilegeGroupConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/PrivilegeTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/ProvinceConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/SeededTable.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/SelfDeclarationTypeConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/StatusConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/StatusReasonConfiguration.cs
  prime-dotnet-webapi/Configuration/Seeded Tables/VendorConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/AddressConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/AdjudicatorNoteConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/AdminConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/AgreementConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/AssignedPrivilegeConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/EnrolleeAddressConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/EnrolleeConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/PartyAddressConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/PartyConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/PlrProviderConfiguration.cs
  prime-dotnet-webapi/Configuration/Unseeded Tables/SubmissionConfiguration.cs
Labels: Backend, Database, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#1320 PRIME-1574 Enabling editing of a submission needs persistent status
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
Labels: Frontend, Ready For Review

#1331 PRIME-1625 Adjudication Bugs
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/shared/components/paginator/paginator.component.ts
Labels: Frontend, Ready For Review

#1332 Fix site reg search
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
Labels: Frontend, Ready For Review

#1337 Augment e2e tests
  prime-e2e-tests/SiteRegistrationTests.cs
  prime-e2e-tests/TestParameters.cs
  prime-e2e-tests/TestPrimeE2E.csproj
  prime-e2e-tests/run-tests.cmd
Labels: Ready For Review

#1340 Updated to allow maintenance page to load
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/core/interceptors/error-handler.interceptor.ts
Labels: Frontend, Ready For Review

#1351 Fix enrollee search
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
Labels: Frontend, Ready For Review

#1319 Document Manager Client Cleanup
  prime-dotnet-webapi/Controllers/DocumentAccessController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/HttpClients/Document Manager/DocumentManagerApiDefinitions.cs
  prime-dotnet-webapi/HttpClients/Document Manager/DocumentManagerClient.cs
  prime-dotnet-webapi/HttpClients/Document Manager/IDocumentManagerClient.cs
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/DocumentAccessTokenService.cs
  prime-dotnet-webapi/Services/EmailDocumentsService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/IDocumentAccessTokenService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕, ༼ つ ◕_◕ ༽つ 🍪

#1341 Rename Submission Actions
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
  prime-angular-frontend/src/app/shared/enums/enrollee-status-action.enum.ts
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Engines/EnrolleeStatusStateEngine.cs
  prime-dotnet-webapi/Engines/SubmissionStateEngine.cs
  prime-dotnet-webapi/Models/Api/EnrolleeStatusAction.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/Services/interfaces/ISubmissionService.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#1363 PRIME-1621 Renew Enrolment UI
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#1339 Reduce Controller Boilerplate
  prime-dotnet-webapi/Controllers/AddressAutocompleteController.cs
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Controllers/AgreementsController.cs
  prime-dotnet-webapi/Controllers/AuthorizedUsersController.cs
  prime-dotnet-webapi/Controllers/BannersController.cs
  prime-dotnet-webapi/Controllers/DocumentAccessController.cs
  prime-dotnet-webapi/Controllers/DocumentManagerController.cs
  prime-dotnet-webapi/Controllers/EmailsController.cs
  prime-dotnet-webapi/Controllers/EnrolleeAgreementsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/GisController.cs
  prime-dotnet-webapi/Controllers/HealthAuthoritiesController.cs
  prime-dotnet-webapi/Controllers/HealthcheckController.cs
  prime-dotnet-webapi/Controllers/LookupsController.cs
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Controllers/PhsaController.cs
  prime-dotnet-webapi/Controllers/PrimeControllerBase.cs
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
  prime-dotnet-webapi/Controllers/SigningAuthoritiesController.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Controllers/WebhooksController.cs
  prime-dotnet-webapi/Models/Api/ApiResponse.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#1366 Use Flurl to Cleanup URLs
  prime-dotnet-webapi/Controllers/AdminsController.cs
  prime-dotnet-webapi/Extensions/DictionaryExtensions.cs
  prime-dotnet-webapi/HttpClients/Address Autocomplete/AddressAutocompleteClient.cs
  prime-dotnet-webapi/HttpClients/College Licence API/CollegeLicenceClient.cs
  prime-dotnet-webapi/HttpClients/Document Manager/DocumentManagerClient.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakAdministrationClient.cs
  prime-dotnet-webapi/HttpClients/LDAP Api/LdapClient.cs
  prime-dotnet-webapi/HttpClients/Mail/ChesClient.cs
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Models/Documents/DocumentAccessToken.cs
  prime-dotnet-webapi/Models/EnrolmentCertificateAccessToken.cs
  prime-dotnet-webapi/Services/MetabaseService.cs
  prime-dotnet-webapi/Services/interfaces/IMetabaseService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1369 Fix Broken OPTIONS Request
  prime-dotnet-webapi/Controllers/PrimeControllerBase.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍝

#1372 Use Effective Date instead of Updated Date in TOA Maintenance page
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-toa-maintenance-list-page/enrollee-toa-maintenance-list-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-toa-maintenance-page/enrollee-toa-maintenance-page.component.html
  prime-angular-frontend/src/app/shared/models/agreement-version.model.ts
  prime-dotnet-webapi/ViewModels/Agreements/AgreementVersionListViewModel.cs
  prime-dotnet-webapi/ViewModels/Agreements/AgreementVersionViewModel.cs
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1384 PRIME-1615 Multiple tech support contact(s) and PharmaNet admininstrator(s)
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/core/services/form-utils.service.ts
  prime-angular-frontend/src/app/lib/classes/abstract-contacts-page.class.ts
  prime-angular-frontend/src/app/lib/classes/abstract-enrolment-page.class.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.routes.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/administrators-page/administrators-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/administrators-page/administrators-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-org-info-page/health-auth-org-info-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-org-info-page/health-auth-org-info-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-office-page/privacy-office-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-office-page/privacy-office-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-office-page/privacy-office-page.component.scss
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-office-page/privacy-office-page.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-office-page/privacy-office-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-officer-page/privacy-officer-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/technical-supports-page/technical-supports-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/technical-supports-page/technical-supports-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/vendors-page/vendors-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/models/privacy-office.model.ts
  prime-angular-frontend/src/app/modules/auth/shared/services/auth.service.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/organization-information-page/organization-information-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/remote-users-page/remote-users-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/services/health-auth-site-reg-form-state.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.html
  prime-angular-frontend/src/app/shared/components/card-list/card-list.component.html
  prime-angular-frontend/src/app/shared/components/card-list/card-list.component.scss
  prime-angular-frontend/src/app/shared/components/card-list/card-list.component.spec.ts
  prime-angular-frontend/src/app/shared/components/card-list/card-list.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address-form/address-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/address-form/address-form.component.ts
  prime-angular-frontend/src/app/shared/components/forms/options-form/options-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/options-form/options-form.component.scss
  prime-angular-frontend/src/app/shared/components/forms/options-form/options-form.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/options-form/options-form.component.ts
  prime-angular-frontend/src/app/shared/components/pages/page-footer/page-footer.component.ts
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.html
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/components/site/party-review/party-review.component.html
  prime-angular-frontend/src/app/shared/components/site/party-review/party-review.component.ts
  prime-angular-frontend/src/app/shared/models/health-authority.model.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Services/HealthAuthorityService.cs
  prime-dotnet-webapi/ViewModels/Common/ContactViewModel.cs
Labels: Backend, Frontend, Ready For Review

#1293 PRIME-1583 Auto Upload Business Licences
  utilities/business-licence-upload/README.md
  utilities/business-licence-upload/get_doc_guid.py
  utilities/business-licence-upload/upload-business-licences.sh
Labels: Backend, Ready For Review

#1405 Fix: Prune nurseCategory from cert form
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory-form-state.ts
Labels: ༼ つ ◕_◕ ༽つ 🍝

#1390 PRIME-1665-removed collection component from overview
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/minor-update-confirmation/minor-update-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
Labels: Frontend, Ready For Review

#1391 PRIME-1672/1673 Show Renewal Alert Only Within 90 Days + Text Updates for HA Org Info and Paper Enrolment
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/administrators-page/administrators-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/health-auth-care-types-page/health-auth-care-types-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/privacy-office-page/privacy-office-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/technical-supports-page/technical-supports-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/vendors-page/vendors-page.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-page.component.html
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.ts
Labels: Frontend, Ready For Review
