Repository bcgov/moh-prime, pull requests merged in 2021-03, with the labels that each got.

#1155 Exit when no DB connection
  prime-dotnet-webapi/entrypoint.sh
Labels: CI/CD, Ready For Review

#1146 PRIME-1414 remote user info should be deleted if license type is updated
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
Labels: Frontend, Ready For Review

#1153 Updated config pipe test
  prime-angular-frontend/src/app/config/config-code.pipe.spec.ts
Labels: Frontend, Ready For Review

#1156 Missing Site Address
  prime-angular-frontend/src/app/core/services/form-utils.service.ts
  prime-angular-frontend/src/app/lib/classes/abstract-form-state-service.class.ts
  prime-angular-frontend/src/app/lib/types/address-line.type.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bceid-demographic/bceid-demographic.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user/remote-user.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management/site-management.component.ts
  prime-angular-frontend/src/app/shared/components/address-view/address-view.component.ts
  prime-angular-frontend/src/app/shared/components/forms/address-form/address-form.component.ts
  prime-angular-frontend/src/app/shared/models/address.model.ts
  prime-angular-frontend/src/app/shared/pipes/address.pipe.ts
  prime-dotnet-webapi/Models/Addresses/Address.cs
Labels: Frontend, Ready For Review

#1157 Remote access fields not being patched
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
Labels: Frontend, Ready For Review

#1158 Remote access request button hidden when not editable
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
Labels: Frontend, Ready For Review

#1161 Updated caddy download url in schemaspy
  schemaspy/Dockerfile
Labels: Ready For Review, dependencies

#1154 Updated config type and generic
  prime-angular-frontend/src/app/config/config.model.ts
  prime-angular-frontend/src/app/config/config.service.ts
  prime-angular-frontend/src/app/core/services/utils.service.spec.ts
  prime-angular-frontend/src/app/core/services/utils.service.ts
  prime-angular-frontend/src/app/modules/auth/pages/info/info.component.spec.ts
  prime-angular-frontend/src/app/modules/provisioner-access/shared/components/provisioner-access/provisioner-access.component.spec.ts
Labels: Frontend, Ready For Review

#1150 PRIME-1379 New filter "assigned to me"
  prime-angular-frontend/package-lock.json
  prime-angular-frontend/package.json
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review

#1160 Only invoke current-status when opened
  prime-angular-frontend/src/app/lib/modules/ngx-contextual-help/contextual-help/contextual-help.component.html
  prime-angular-frontend/src/app/lib/modules/ngx-contextual-help/contextual-help/contextual-help.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
Labels: Frontend, Ready For Review

#1165 Added busy to block until request is finished
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
Labels: Frontend, Ready For Review

#1159 Enrollee List Performance on Claim/Disclaim
  prime-angular-frontend/src/app/lib/modules/ngx-material/mat-table-data-source-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrolment/enrolment.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/limits-conditions-clauses/limits-conditions-clauses.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-note/claim-note.component.ts
  prime-angular-frontend/src/app/shared/pipes/postal.pipe.spec.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Services/AdminService.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IAdminService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Frontend, Ready For Review

#1167 Refresh Status
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-review-status/enrollee-review-status.component.ts
Labels: Frontend, Ready For Review

#1166 Copy Clipboard
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#1163 PRIME-1438 Need to support existing vs new site id for all site registration
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteUpdateModel.cs
Labels: Backend, Frontend, Ready For Review

#1168 Lazy load PHSA
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.module.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/phsa-eforms-routing.module.ts
Labels: Frontend, Ready For Review

#1169 Frontend unit test fix
  prime-angular-frontend/karma.conf.js
  prime-angular-frontend/src/app/config/config-code.pipe.spec.ts
  prime-angular-frontend/src/app/lib/modules/dashboard/components/dashboard/dashboard.component.spec.ts
  prime-angular-frontend/src/app/lib/utils/string-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history/access-agreement-history.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/health-authority/health-authority.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/job/job.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access-addresses/remote-access-addresses.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/dashboard/dashboardv1.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/obo-site-form/obo-site-form.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/enrollee-information-page/enrollee-information-page.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-information-page/ldap-information-page.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/ldap-user-page/ldap-user-page.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/organization-information-page/organization-information-page.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/pages/submission-confirmation-page/submission-confirmation-page.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/components/gis-dashboard/gis-dashboard.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/modules/gis-login/gis-login-page.component.spec.ts
  prime-angular-frontend/src/app/modules/gis-enrolment/shared/services/gis-enrolment-form-state.service.spec.ts
  prime-angular-frontend/src/app/modules/phsa-eforms/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence/business-licence.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/next-steps/next-steps.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement/organization-agreement.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name/organization-name.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority/organization-signing-authority.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users/remote-users.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address/site-address.component.html
  prime-angular-frontend/src/app/modules/site-registration/shared/components/site-progress-indicator/site-progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/components/address-autocomplete/address-autocomplete.component.ts
  prime-angular-frontend/src/app/shared/components/address-view/address-view.component.spec.ts
  prime-angular-frontend/src/app/shared/components/bcsc-profile/bcsc-profile.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-note/claim-note.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.spec.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.ts
  prime-angular-frontend/src/app/shared/components/form-icon-group/form-icon-group.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/address-form/address-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/address-form/address-form.component.ts
  prime-angular-frontend/src/app/shared/pipes/role-pipe.spec.ts
  prime-angular-frontend/src/test/mocks/mock-access-token.service.ts
Labels: Frontend, Ready For Review

#1172 PRIME-1429 - Remove Old Roles From Test Keycloak
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1175 PRIME-1446 - Add HA feature flag to FE and Keycloak
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1171 Enrollee History Submission
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement-history-enrolment/access-agreement-history-enrolment.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-resource.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
Labels: Frontend, Ready For Review

#1177 PRIME-1460 edit provisioner email explanation for HA care setting
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#1179 PRIME-1442 edit site reg email to PharmaNet administrator
  prime-dotnet-webapi/Views/Emails/SiteApprovedPharmaNetAdministratorEmail.cshtml
Labels: Backend, Ready For Review

#1184 PRIME-1470 Site ID Updates
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/components/site/site-name/site-name.component.html
  prime-angular-frontend/src/app/shared/components/site/site-name/site-name.component.scss
  prime-angular-frontend/src/app/shared/components/site/site-name/site-name.component.spec.ts
  prime-angular-frontend/src/app/shared/components/site/site-name/site-name.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Services/EmailDocumentsService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteRegistrationReviewViewModel.cs
  prime-dotnet-webapi/Views/SiteRegistrationReview.cshtml
Labels: Backend, Frontend, Ready For Review

#1186 PRIME-1453 CP business licence info wordsmithing
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
  prime-angular-frontend/src/app/shared/components/site/site-name/site-name.component.html
Labels: Frontend, Ready For Review

#1187 PRIME-1467 Deferred Reason Not Filled in Business Licence
  prime-angular-frontend/src/app/lib/classes/abstract-enrolment-page.class.ts
  prime-angular-frontend/src/app/lib/classes/abstract-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
Labels: Frontend, Ready For Review

#1189 Lazy Load AuthModule
  prime-angular-frontend/src/app/app-routing.module.ts
  prime-angular-frontend/src/app/app.module.ts
Labels: Frontend, Ready For Review

#1194 Clean up
  prime-angular-frontend/src/app/lib/classes/abstract-enrolment-page.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation-page/hours-operation-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation-page/hours-operation-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation-page/hours-operation-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement-page/organization-agreement-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement-page/organization-agreement-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user-page/remote-user-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user-page/remote-user-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address-page/site-address-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address-page/site-address-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-address-page/site-address-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/contact-profile-form/contact-profile-form.component.html
Labels: Frontend, Ready For Review

#1195 Site Name Dropdown
  prime-angular-frontend/src/app/modules/site-registration/shared/services/org-book-resource.service.ts
Labels: Frontend, Ready For Review

#1196 Bug: Site ID Not Saved
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
Labels: Frontend, Ready For Review

#1197 FormState ValueChanges Memory Leak
  prime-angular-frontend/src/app/lib/classes/abstract-enrolment-page.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.ts
Labels: Frontend, Ready For Review

#1199 Business Licence Deferred Reason Toggle Undefined
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
Labels: Frontend, Ready For Review

#1201 Bug: Site Registration Note Save Button Disabled
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-notes/adjudicator-notes.component.html
Labels: Frontend, Ready For Review

#1202 Bug: Fixed Role for Assign/Reassign Button in Enrolment
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
Labels: Frontend, Ready For Review

#1200 Bug: Reset Deferred Reason when Care Setting Changed
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement-page/organization-agreement-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site.model.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/README.md
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
Labels: Frontend, Ready For Review

#1204 PRIME-1503 - Enrollee List Performance
  prime-angular-frontend/src/app/lib/modules/ngx-material/ngx-material.module.ts
  prime-angular-frontend/src/app/lib/utils/date-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/date-utils.class.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/auth/shared/enum/role.enum.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/triage/triage.component.ts
Labels: Frontend, Ready For Review

#1206 Util Tests
  prime-angular-frontend/src/app/lib/utils/address-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/address-utils.class.ts
  prime-angular-frontend/src/app/lib/utils/array-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/array-utils.class.ts
  prime-angular-frontend/src/app/lib/utils/enum-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/enum-utils.class.ts
  prime-angular-frontend/src/app/lib/utils/object-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/object-utils.class.ts
  prime-angular-frontend/src/app/lib/utils/route-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/route-utils.class.ts
  prime-angular-frontend/src/app/lib/utils/string-utils.class.spec.ts
  prime-angular-frontend/src/app/lib/utils/string-utils.class.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-note/claim-note.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-note/claim-note.component.spec.ts
  prime-angular-frontend/src/app/shared/models/address.model.spec.ts
  prime-angular-frontend/src/app/shared/models/address.model.ts
Labels: Frontend, Ready For Review

#1208 Removed unused class
  prime-angular-frontend/src/app/lib/classes/abstract-component.class.ts
  prime-angular-frontend/src/app/lib/classes/contact-form-state.class.spec.ts
  prime-angular-frontend/src/app/lib/classes/contact-form-state.class.ts
Labels: Frontend, Ready For Review

#1205 Bug: Remote User
  prime-angular-frontend/src/app/lib/classes/abstract-enrolment-page.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user-page/remote-user-page.component.ts
Labels: Frontend, Ready For Review

#1203 PRIME-1398 Send Email (Bulk Actions)
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-bulk-email/send-bulk-email.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-bulk-email/send-bulk-email.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-bulk-email/send-bulk-email.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/send-bulk-email/send-bulk-email.component.ts
  prime-angular-frontend/src/app/shared/enums/bulk-email-type.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Models/BulkEmailType.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: Backend, Frontend, Ready For Review
