Repository bcgov/moh-prime, pull requests merged in 2021-04, with the labels that each got.

#1211 PRIME-1430 - Remove old roles from Keycloak
  documentation/Keycloak settings/realm-export-prod.json
Labels: Backend, Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1212 PRIME-1452 - Remove DOB and Address from eForms JWT
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
Labels: Documentation, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1162 PRIME-1408 Secure PLR HL7 API using Client Cert
  openshift/angular-frontend.dc.yaml
  openshift/dotnet-webapi.dc.yaml
  prime-angular-frontend/Dockerfile
  prime-angular-frontend/nginx.template.conf
  prime-angular-frontend/openshift.dockerfile
  prime-dotnet-webapi-tests/Integration/PRPM_IN301030CA.xml
  prime-dotnet-webapi-tests/Integration/PRPM_IN303030CA.xml
  prime-dotnet-webapi-tests/Integration/nginx-plrhl7.conf
  prime-dotnet-webapi-tests/Utils/Auth/ca.crt
  prime-dotnet-webapi-tests/Utils/Auth/ca.key
  prime-dotnet-webapi-tests/Utils/Auth/ca.pass.key
  prime-dotnet-webapi-tests/Utils/Auth/ca.srl
  prime-dotnet-webapi-tests/Utils/Auth/client.crt
  prime-dotnet-webapi-tests/Utils/Auth/client.csr
  prime-dotnet-webapi-tests/Utils/Auth/client.key
  prime-dotnet-webapi-tests/Utils/Auth/client.pass.key
  prime-dotnet-webapi-tests/Utils/Auth/server.crt
  prime-dotnet-webapi-tests/Utils/Auth/server.csr
  prime-dotnet-webapi-tests/Utils/Auth/server.key
  prime-dotnet-webapi-tests/Utils/Auth/server.pass.key
  prime-dotnet-webapi/Extensions/HttpRequestExtensions.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Program.cs
  prime-dotnet-webapi/Services/SoapService.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, CI/CD, Ready For Review

#1215 Two Realms
  openshift/dotnet-webapi.bc.yaml
  openshift/dotnet-webapi.dc.yaml
  prime-dotnet-webapi/Auth/AuthConstants.cs
  prime-dotnet-webapi/Auth/AuthenticationSetup.cs
  prime-dotnet-webapi/Auth/KeycloakUrls.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/openshift.dockerfile
  prime-dotnet-webapi/prime.csproj
Labels: Backend, CI/CD, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#1216 PRIME-1505 Data restrictions on CPSID/PrescriberID fields - revisited
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.spec.ts
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/test/mocks/mock-site.service.ts
Labels: Frontend, Ready For Review

#1219 Remove MOH Keycloak from default Policy
  prime-dotnet-webapi/Auth/AuthenticationSetup.cs
Labels: Backend, Bug, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#1220 PRIME-1519 "Missing Business License" is incorrect on admin list view
  prime-dotnet-webapi/ViewModels/AutoMapping.cs
Labels: Backend, Ready For Review

#1221 PRIME-1523 Need to display reference ID number for organization on Overview page.
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#1222 PRIME-1531 Prescriber ID Not Editable After Submission
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#1224 PRIME-1534 add signature block to pdf generate.
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement-page/organization-agreement-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-agreement-page/organization-agreement-page.component.ts
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Resources/documents/CommunityPharmacyOrganizationAgreement.pdf
  prime-dotnet-webapi/Resources/documents/CommunityPracticeOrganizationAgreement.pdf
  prime-dotnet-webapi/Services/AgreementService.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/IAgreementService.cs
  prime-dotnet-webapi/Services/interfaces/IOrganizationService.cs
  prime-dotnet-webapi/ViewModels/Agreements/OrgAgreementRazorViewModel.cs
  prime-dotnet-webapi/Views/Agreements/CommunityPharmacyOrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/Agreements/CommunityPracticeOrganizationAgreement.cshtml
  prime-dotnet-webapi/Views/Partials/_AgreementTheme.cshtml
  prime-dotnet-webapi/Views/Partials/_OrgAgreementSignature.cshtml
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Frontend, Ready For Review

#1226 PRIME-1538 Unable to Edit Remote Users with Mandatory Practitioner ID
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#1225 PRIME-1537 Updated UpdateContact
  prime-dotnet-webapi/Services/SiteService.cs
Labels: Backend, Ready For Review

#1229 PRIME-1539 need better error indication on provisioner email field
  prime-angular-frontend/src/app/lib/validators/form-control.validators.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
Labels: Frontend, Ready For Review

#1232 Fixed tests
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/collection-notice-page/collection-notice-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/modules/health-auth-site-reg-login-page/health-auth-site-reg-login-page.component.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/resources/health-auth-site-reg-resource.service.spec.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/services/health-auth-site-reg-form-state.service.spec.ts
  prime-angular-frontend/src/app/shared/components/banner/banner.component.spec.ts
Labels: Frontend, Ready For Review

#1234 1234! Wooo!
  documentation/Readme.md
Labels: ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#1236 Missing parties on front-end resource endpoint path
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
Labels: Frontend, Ready For Review

#1233 PRIME-1415 Setup Local Aries Cloud Agent
  .gitignore
  .vscode/tasks.json
  docker-compose.yml
  documentation/Readme.md
  documentation/VerifiableCredentials.md
  manage
  ngrok/ngrok.yml
  ngrok/start-ngrok.sh
  prime-dotnet-webapi/.gitignore
  prime-dotnet-webapi/.vscode/launch.json
  prime-dotnet-webapi/.vscode/tasks.json
  prime-dotnet-webapi/Dockerfile
  prime-dotnet-webapi/HttpClients/Verifiable Credential/IVerifiableCredentialClient.cs
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/PrimeEnvironment.cs
  prime-dotnet-webapi/README.md
  prime-dotnet-webapi/Services/VerifiableCredentialService.cs
  prime-dotnet-webapi/Startup.cs
  prime-dotnet-webapi/prime.csproj
Labels: Backend, Ready For Review

#1237 PRIME-1508 Implement browser-based automated testing - Enrollment
  prime-e2e-tests/BaseTest.cs
  prime-e2e-tests/Enrollment.Tests.cs
  prime-e2e-tests/README.md
  prime-e2e-tests/TestParameters.cs
  prime-e2e-tests/TestPrimeE2E.csproj
  prime-e2e-tests/WebDriverExtensions.cs
Labels: Frontend, Ready For Review

#1235 PRIME-1416 - Site Search
  prime-angular-frontend/src/app/core/modules/keycloak/keycloak.module.ts
  prime-angular-frontend/src/app/core/resources/organization-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-form/search-form.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/models/site-registration.model.ts
  prime-dotnet-webapi/Controllers/OrganizationsController.cs
  prime-dotnet-webapi/Models/Api/OrganizationSearchOptions.cs
  prime-dotnet-webapi/Models/SiteRegistration/Organization.cs
  prime-dotnet-webapi/Services/OrganizationService.cs
  prime-dotnet-webapi/Services/interfaces/IOrganizationService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationListViewModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/OrganizationSearchViewModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteListViewModel.cs
Labels: Backend, Frontend, Needs Tests, Ready For Review, ༼ つ ◕_◕ ༽つ 🍱🍛🥪

#1239 PRIME-1517 Implement browser-based automated testing - Site Registration
  prime-e2e-tests/.gitignore
  prime-e2e-tests/BaseTest.cs
  prime-e2e-tests/SiteRegistrationTests.cs
  prime-e2e-tests/TestParameters.cs
  prime-e2e-tests/TestPrimeE2E.csproj
Labels: Frontend, Ready For Review

#1241 PRIME-1548 Update EForms information
  prime-angular-frontend/src/app/modules/phsa-eforms/shared/modules/phsa-eforms-login-page/phsa-eforms-login-page.component.html
  prime-angular-frontend/src/app/modules/phsa-eforms/shared/modules/phsa-eforms-login-page/phsa-eforms-login-page.component.ts
Labels: Frontend, Ready For Review

#1242 Fix typo
  prime-dotnet-webapi/Services/EmailRenderingService.cs
Labels: Backend, Frontend, Ready For Review

#1244 Fix Site registration selenium test
  prime-e2e-tests/SiteRegistrationTests.cs
  prime-e2e-tests/TestPrimeE2E.csproj
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ ☕

#1240 PRIME-1544 Select page (pagination)
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/shared/components/paginator/paginator.component.html
  prime-angular-frontend/src/app/shared/components/paginator/paginator.component.scss
  prime-angular-frontend/src/app/shared/components/paginator/paginator.component.spec.ts
  prime-angular-frontend/src/app/shared/components/paginator/paginator.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review

#1230 PRIME-1439 HA Site Registration changes
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page-form-state.class.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/privacy-officer-page/privacy-officer-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/privacy-officer-page/privacy-officer-page.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/administrator-page/administrator-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/privacy-officer-page/privacy-officer-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/technical-support-page/technical-support-page.component.ts
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.html
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.scss
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.ts
Labels: Frontend, Ready For Review

#1238 Make agent startup errors less lame
  prime-dotnet-webapi/HttpClients/Verifiable Credential/VerifiableCredentialClient.cs
  prime-dotnet-webapi/Startup.cs
Labels: Ready For Review
