Repository bcgov/moh-prime, pull requests merged in 2022-02, with the labels that each got.

#1971 PRIME 2084 add caretype to ha table in admin
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-table/health-authority-table.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/shared/models/health-authority-admin-site-list.model.ts
  prime-dotnet-webapi/ViewModels/Health Authority Sites/HealthAuthoritySiteAdminListViewModel.cs
Labels: Frontend, Ready For Review

#1989 PRIME-2124 wordsmithing
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.html
Labels: Ready For Review

#1988 PRIME-2103 replace Prescriber ID field name with PharmaNet ID
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/regulatory-page/regulatory-overview.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Ready For Review

#1991 PRIME-2083 Health Authority site 24/7 operation
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/hours-operation-page/hours-operation-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/hours-operation-page/hours-operation-page.component.ts
Labels: Frontend, Ready For Review

#1994 PRIME-2117 Fix exception matching on PLR data
  prime-dotnet-webapi/Services/PlrProviderService.cs
Labels: Backend, Ready For Review

#2002 PRIME-2126 Adjust health check to count static table
  prime-dotnet-webapi/Controllers/HealthcheckController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/LookupService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/ILookupService.cs
Labels: Backend, Ready For Review

#1992 Updated idToken to token
  poc/prime-js-poc/src/lib/es5.js
  poc/prime-js-poc/src/lib/es6.js
Labels: Ready For Review

#1970 PRIME-2103 Add loading message to user enrolment submission
  prime-angular-frontend/src/app/lib/constants.ts
  prime-angular-frontend/src/app/lib/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.html
  prime-angular-frontend/src/app/lib/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.scss
  prime-angular-frontend/src/app/lib/modules/ngx-busy/busy-overlay-message/busy-overlay-message.component.ts
  prime-angular-frontend/src/app/lib/modules/ngx-busy/busy.service.ts
  prime-angular-frontend/src/app/lib/modules/ngx-busy/ngx-busy.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/classes/enrolment-profile-page.class.ts
Labels: Frontend, Ready For Review

#1996 PRIME-2130 Only 5 numbers for college of pharmacists license number
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#2014 PRIME-2103 add loading indicator PATCH
  prime-angular-frontend/src/app/lib/modules/ngx-busy/busy.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
Labels: Frontend, Ready For Review

#1995 PRIME-2017 log event on paper enrolment date of birth change
  prime-dotnet-webapi/Controllers/EnrolleePaperSubmissionsController.cs
Labels: Backend, Ready For Review

#2010 Fix allow for ha sites to be deleted
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-site-container/health-authority-site-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/health-authority-site-container/health-authority-site-container.component.ts
Labels: Bug, Frontend, Ready For Review

#2011 Fix routing when deleting site and org
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.ts
Labels: Bug, Frontend, Ready For Review

#2015 Simplify Agreement Engine Test Data
  prime-dotnet-webapi-tests/Unit Tests/AgreementEngine.Tests.cs
Labels: Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#2022 PRIME-2104 Inform user of changed requirements on license
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#2025 Fix: Enable Editing site reg handling
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-container/site-registration-container.component.html
Labels: Bug, Frontend, Ready For Review

#2026 Fix: Stop submission with missing prescriber id
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
Labels: Bug, Frontend, Ready For Review

#2023 PRIME-2113 can't delete enrollees
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#1993 Fix site reg business license updated in overview
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Bug, Frontend, Ready For Review, (ノ益 )ノ彡┻━┻

#2031 [ops] improve startup, readiness, and liveness probes for webapi
  infrastructure/prime-app-ephemeral-template.yml
  infrastructure/prime-app-template.yml
Labels: Ready For Review, DevOps

#2043 Fix: re-run rules missing include
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Bug, Backend

#2042 Make Healthchecks more Self-Documenting
  infrastructure/prime-app-ephemeral-template.yml
  infrastructure/prime-app-template.yml
  prime-dotnet-webapi/Controllers/HealthcheckController.cs
Labels: CI/CD, Backend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪, DevOps

#2021 PRIME-2066 Cancel Login Redirect with Alert
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.spec.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.ts
  prime-angular-frontend/src/environments/config-map.model.ts
  prime-angular-frontend/src/environments/environment.prod.ts
Labels: Frontend, Ready For Review

#2018 Feature/prime 2063 site id toggle
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/site-information-form/site-information-form.component.ts
  prime-dotnet-webapi/Services/SiteService.cs
Labels: Frontend, Ready For Review

#2044 PRIME-2140 Enrollee admin nav top and bottom
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.ts
Labels: Frontend, Ready For Review, ༼ つ ◕_◕ ༽つ 🍪

#2046 PRIME-2137 CPBC change license number to registration number
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
Labels: Frontend, Ready For Review

#1974 PRIME-2135 Log requests to web-api
  prime-dotnet-webapi/Helpers/RequestLoggingMiddleware.cs
  prime-dotnet-webapi/Startup.cs
Labels: Backend, Ready For Review

#2019 PRIME-2119 Add loading indicator to all submissions
  prime-angular-frontend/src/app/lib/modules/ngx-busy/busy.service.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.ts
Labels: Frontend, Ready For Review

#2045 PRIME-2139 absence management changes
  prime-angular-frontend/src/app/modules/enrolment/pages/absence-management-page/absence-management-page.component.html
Labels: Frontend, Ready For Review

#2049 Fix login cancelled alert layout
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
Labels: Frontend, Ready For Review

#2047 PRIME-2077: Privacy statement accessible from outside web
  prime-angular-frontend/src/app/core/guards/underaged.guard.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/collection-notice/collection-notice.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.scss
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-collection-notice/enrolment-collection-notice.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/collection-notice-page/collection-notice-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/collection-notice-page/collection-notice-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice-page/collection-notice-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice-page/collection-notice-page.component.spec.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/collection-notice-page/collection-notice-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/guards/electronic-agreement.guard.spec.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.spec.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.ts
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.spec.ts
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/html/html.component.ts
  prime-angular-frontend/src/app/shared/services/collection-notice.service.spec.ts
  prime-angular-frontend/src/app/shared/services/collection-notice.service.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
Labels: Frontend, Ready For Review
