Repository bcgov/moh-prime, pull requests merged in 2022-07, with the labels that each got.

#2169 PRIME-2237 Changes to support PharmanetID alphanumeric
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-dotnet-webapi/Models/Certifications/Certification.cs
Labels: Frontend, Backend, Ready For Review

#2172 PRIME-2243 Remove "you have been approved.." text
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
Labels: Frontend, Ready For Review

#2171 PRIME-2236 Role for paper enrolment
  documentation/Keycloak settings/realm-export-dev.json
  documentation/Keycloak settings/realm-export-prod.json
  documentation/Keycloak settings/realm-export-test.json
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-table/site-registration-table.component.spec.ts
  prime-dotnet-webapi/Configuration/Auth/AuthConstants.cs
  prime-dotnet-webapi/Controllers/EnrolleePaperSubmissionsController.cs
  prime-dotnet-webapi/Controllers/EnrolleesController.cs
  prime-dotnet-webapi/Controllers/EnrolleesExtendedController.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/interfaces/IEnrolleeService.cs
Labels: DO NOT MERGE, Frontend, Backend

#2175 PRIME-2245 - Update PharmaNet ID description
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
Labels: Frontend, Ready For Review

#2176 Error when finalizing paper enrolment
  prime-dotnet-webapi/Models/Enrollee.cs
Labels: Bug, Backend, Ready For Review
