Repository bcgov/moh-prime, pull requests merged in 2022-08, with the labels that each got.

#2181 PRIME-2239 Update HpdidLookup for Provisioners
  documentation/HpdidLookup-API.md
  prime-dotnet-webapi/Models/Api/EnrolleeCertDto.cs
  prime-dotnet-webapi/Models/Api/HpdidLookupResponse.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
Labels: Backend, Ready For Review

#2173 PRIME-2138 Update provisioner link webpage
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.html
  prime-angular-frontend/src/app/modules/provisioner-access/pages/certificate/certificate.component.ts
  prime-angular-frontend/src/app/modules/provisioner-access/shared/models/enrolment-certificate.model.ts
  prime-angular-frontend/src/app/modules/provisioner-access/shared/models/enrolment-licence.model.ts
  prime-dotnet-webapi/Models/Agreements/AgreementVersion.cs
  prime-dotnet-webapi/Models/Api/EnrolleeCertDto.cs
  prime-dotnet-webapi/Models/Api/HpdidLookupResponse.cs
  prime-dotnet-webapi/Models/EnrolmentCertificate.cs
  prime-dotnet-webapi/Services/EnrolleeService.cs
  prime-dotnet-webapi/Services/EnrolmentCertificateService.cs
Labels: Frontend, Backend, Ready For Review

#2186 PRIME-2244 Fix 404 error
  prime-angular-frontend/src/app/modules/adjudication/adjudication-routing.module.ts
Labels: Frontend, Ready For Review

#2185 PRIME-2269 remove required validation in paper enrollment
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-form-state.class.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/obo-sites-page/obo-sites-overview.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/obo-site-form/obo-site-form.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#2188 PRIME-2276 Update logging for non-prescriber check
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
Labels: Backend, Ready For Review

#2179 PRIME-2254 (PRIME-2238) HA Static Text Changes
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/administrator-page/administrator-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.html
  prime-angular-frontend/src/app/modules/sat-eforms/pages/collection-notice-page/collection-notice-page.component.html
  prime-angular-frontend/src/app/shared/components/auth/site-reg-access/site-reg-access.component.html
  prime-angular-frontend/src/app/shared/services/collection-notice.service.ts
Labels: Frontend, Ready For Review
