Repository bcgov/moh-prime, pull requests merged in 2023-03, with the labels that each got.

#2277 PRIME-2326 health authority site reg
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.ts
Labels: Frontend, .NET, javascript

#2283 PRIME-2395 preferred last name only A-Z
  prime-angular-frontend/src/app/lib/validators/form-control.validators.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.ts
  prime-angular-frontend/src/app/modules/sat-eforms/pages/demographic-page/demographic-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.ts
  prime-angular-frontend/src/app/shared/components/forms/preferred-name-form/preferred-name-form.component.html
Labels: Frontend

#2288 PRIME-2409 Update Site Business Licence page static text
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#2279 PRIME-2370 Update Enrolment UX
  prime-angular-frontend/src/app/modules/enrolment/enrolment.routes.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/next-steps/next-steps.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/obo-sites-page/obo-sites-page.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/submission-confirmation/submission-confirmation.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-progress-indicator/enrolment-progress-indicator.component.html
  prime-angular-frontend/src/app/modules/enrolment/shared/components/enrolment-progress-indicator/enrolment-progress-indicator.component.ts
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.html
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.scss
  prime-angular-frontend/src/app/shared/components/progress-indicator/progress-indicator.component.ts
Labels: Frontend, Ready For Review

#2292 PRIME-2409 fix typo
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.html
Labels: Frontend, Ready For Review

#2291 PRIME-2420 Missing Self-Declaration Question
  prime-angular-frontend/src/app/modules/adjudication/shared/components/review-status-content/review-status-content.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/self-declaration-page/self-declaration-page.component.ts
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-self-declarations/enrollee-self-declarations.component.ts
Labels: Frontend

#2298 PRIME-2426 new API to update Party HPDID from KeyCloak
  prime-dotnet-webapi/Controllers/SigningAuthoritiesExtendedController.cs
  prime-dotnet-webapi/HttpClients/Keycloak Administration/KeycloakApiDefinitions.cs
  prime-dotnet-webapi/Services/PartyService.cs
  prime-dotnet-webapi/Services/interfaces/IPartyService.cs
Labels: Backend, Ready For Review
