Repository bcgov/moh-prime, pull requests merged in 2023-10, with the labels that each got.

#2387 PRIME-2575 fix PRIME URL in Renewal Email Template
  prime-dotnet-webapi/Services/EmailRenderingService.cs
Labels: Backend, Ready For Review

#2384 PRIME-2562 Resolve hostname `primedatasvc.hibc.gov.bc.ca`
  infrastructure/cron-jobs/Dockerfile
  infrastructure/cron-jobs/retrieve-pnet-logs.cron.yml
  infrastructure/cron-jobs/retrieve-pnet-logs.sh
Labels: Ready For Review

#2287 PRIME-2369 change a vendor in a site
  prime-angular-frontend/src/app/core/resources/site-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/site-overview-page/site-overview-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/site-overview-page/site-overview-page.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/site-overview-page/site-overview-page.component.ts
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/health-auth-care-type-page/health-auth-care-type-overview.component.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/SiteService.cs
  prime-dotnet-webapi/Services/interfaces/ISiteService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteVendorUpdateViewModel.cs
Labels: Frontend, Backend, Ready For Review, .NET

#2394 PRIME-2583 - Requested text changes
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.ts
Labels: Frontend
