Repository bcgov/moh-prime, pull requests merged in 2023-06, with the labels that each got.

#2342 Change to accommodate Medinet tools
  prime-dotnet-webapi/Controllers/ProvisionerAccessController.cs
Labels: Backend

#2345 PRIME-2502 Update overdue renewal alert background color
  prime-angular-frontend/src/app/shared/components/alerts/expiry-alert/expiry-alert.component.ts
Labels: Frontend, Ready For Review

#2347 PRIME-2509 Add Access Type for LPN
  documentation/GpidLookup-API.md
  documentation/HpdidLookup-API.md
  prime-dotnet-webapi/Models/Agreements/AgreementVersion.cs
Labels: Documentation, Backend

#2348 PRIME-2504 Update Organization Agreement Hyperlink
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.scss
Labels: Frontend, Ready For Review

#2350 PRIME-2462 Site Name should be required
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-page.component.ts
Labels: Frontend, Ready For Review

#2327 PRIME-2481 Update Label from "Preferred [name]" to "Alternate [name]"
  prime-angular-frontend/src/app/modules/adjudication/shared/components/authorized-user-review/authorized-user-review.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/bcsc-demographic/bcsc-demographic.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.html
  prime-angular-frontend/src/app/modules/paper-enrolment/pages/demographic-page/demographic-overview.component.ts
  prime-angular-frontend/src/app/modules/sat-eforms/pages/demographic-page/demographic-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.html
  prime-angular-frontend/src/app/shared/components/enrollee/enrollee-review/enrollee-review.component.html
  prime-angular-frontend/src/app/shared/components/forms/preferred-name-form/preferred-name-form.component.ts
Labels: Frontend, Ready For Review
