Repository bcgov/moh-prime, pull requests merged in 2024-12, with the labels that each got.

#2642 PRIME-2851 Visual indicator to Admin of Duplicate Site IDs on HA Sites missing
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
  prime-dotnet-webapi/ViewModels/Health Authority Sites/HealthAuthoritySiteAdminListViewModel.cs
Labels: Backend

#2630 PRIME-2628 fix business license upload issue
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-page/business-licence-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-form-state.class.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/components/business-licence-expiry/business-licence-expiry.component.ts
  prime-angular-frontend/src/app/modules/site-registration/shared/services/site-form-state.service.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.ts
Labels: Frontend, Ready For Review

#2644 PRIME-2852 Multiple Care Setting-independent problems on Site Reg update
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/business-licence-renewal-page/business-licence-renewal-page.component.ts
  prime-angular-frontend/src/app/modules/site-registration/pages/overview-page/overview-page.component.html
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
  prime-dotnet-webapi/Controllers/SitesController.cs
Labels: Frontend, Backend
