Repository bcgov/moh-prime, pull requests merged in 2024-11, with the labels that each got.

#2613 PRIME-2787 Add tini init to Redis pods to cleanup zombie processes
  infrastructure/redis/Dockerfile
Labels: Ready For Review, DevOps

#2614 PRIME-2803 reflect changes at CareConnect
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.scss
Labels: Frontend, Ready For Review

#2627 Revert "PRIME-2803 reflect changes at CareConnect (#2614)"
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/care-setting-page/care-setting-page.component.ts
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.scss
Labels: Frontend

#2621 PRIME-2807 Support multiple certification with same college
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
Labels: Frontend, Ready For Review

#2624 PRIME-2808 Remove OBO Job Info when Certification info is filled
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
Labels: Frontend, Ready For Review

#2623 PRIME-2646 Remove remote access information if PCHP Care Setting is removed
  prime-angular-frontend/src/app/modules/enrolment/pages/care-setting/care-setting.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment-form-state.service.ts
Labels: Frontend, Ready For Review

#2629 PRIME-2812 fix enrollee stuck on certification page
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/enums/college-licence-grouping.enum.ts
Labels: Frontend, Ready For Review

#2601 PRIME-2794 Change vertical dot menu to buttons
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/site-management-page/site-management-page.component.ts
  prime-angular-frontend/src/app/shared/components/site/overview-container/overview-container.component.html
Labels: Frontend, Ready For Review

#2639 PRIME-2824 Site ID Duplicates icon did not show up correctly
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-dotnet-webapi/Controllers/SitesController.cs
  prime-dotnet-webapi/Services/CommunitySiteService.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/CommunitySiteAdminListViewModel.cs
Labels: Frontend, Backend, Ready For Review

#2640 PRIME-2824 Duplicate site id show up incorrectly
  prime-dotnet-webapi/Services/CommunitySiteService.cs
Labels: Backend, Ready For Review

#2641 PRIME-2825 Missing Organization Claim Icon in Admin Site List
  prime-dotnet-webapi/ViewModels/SiteRegistration/CommunitySiteAdminListViewModel.cs
  prime-dotnet-webapi/ViewModels/SiteRegistration/_SiteMappingProfile.cs
Labels: Backend, Ready For Review
