Repository bcgov/moh-prime, pull requests merged in 2024-02, with the labels that each got.

#2442 PRIME-2652 Deployments are removing any changes to cron job setup
  infrastructure/prime-app-template.yml
Labels: DevOps

#2440 PRIME-2572 Add feature to filter HA sites in Admin page
  prime-angular-frontend/src/app/core/resources/health-authority-resource.service.ts
  prime-angular-frontend/src/app/modules/adjudication/adjudication.module.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-ha-form/search-ha-form.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-ha-form/search-ha-form.component.scss
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-ha-form/search-ha-form.component.spec.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-ha-form/search-ha-form.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/site-registration-tabs/site-registration-tabs.component.ts
  prime-dotnet-webapi/Controllers/HealthAuthoritiesController.cs
  prime-dotnet-webapi/Models/Api/HealthAuthoritySiteSearchOptions.cs
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
  prime-dotnet-webapi/Services/interfaces/IHealthAuthoritySiteService.cs
Labels: Frontend, Backend

#2448 PRIME-2667 fix HA Site Filter
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-ha-form/search-ha-form.component.ts
Labels: Frontend, Ready For Review

#2451 PRIME-2666 Add validation to prevent Signing Authority adding duplicate organization
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.ts
Labels: Frontend, Ready For Review

#2453 PRIME-2645 fix enrolment overview page
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
Labels: Frontend, Ready For Review

#2455 PRIME-2670 Fix HA Site status filtering
  prime-angular-frontend/src/app/lib/enums/site-status.enum.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/search-ha-form/search-ha-form.component.ts
  prime-dotnet-webapi/Models/Statuses/SiteStatusType.cs
  prime-dotnet-webapi/Services/HealthAuthoritySiteService.cs
Labels: Frontend, Ready For Review
