Repository bcgov/moh-prime, pull requests merged in 2025-02, with the labels that each got.

#2666 PRIME-2870 Fix Issue Update Remote User PharmaNet ID
  prime-dotnet-webapi/ViewModels/SiteRegistration/SiteRemoteUserUpdateModel.cs
Labels: Backend, Ready For Review

#2660 PRIME-2859 Pharmacy Technician Adjudication rule change
  prime-dotnet-webapi/Engines/AgreementEngine Internal/CertificationDigest.cs
  prime-dotnet-webapi/Services/BaseService.cs
  prime-dotnet-webapi/Services/Rules/AutomaticAdjudicationRules.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
Labels: Backend, Ready For Review

#2668 PRIME-2859 default to blank TOA when multiple care setting
  prime-dotnet-webapi/Engines/AgreementEngine Internal/CertificationDigest.cs
Labels: Backend, Ready For Review

#2653 PRIME-2854 Ability to change ToA after enrollee has accepted the ToA
  prime-angular-frontend/src/app/modules/adjudication/pages/enrollee-overview/enrollee-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudication-container/adjudication-container.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/adjudicator-actions/adjudicator-actions.component.ts
  prime-angular-frontend/src/app/modules/adjudication/shared/services/adjudication-resource.service.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/terms-of-access/terms-of-access.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/terms-of-access/terms-of-access.component.scss
  prime-angular-frontend/src/app/shared/components/dialogs/content/terms-of-access/terms-of-access.component.spec.ts
  prime-angular-frontend/src/app/shared/components/dialogs/content/terms-of-access/terms-of-access.component.ts
  prime-angular-frontend/src/app/shared/enums/agreement-type.enum.ts
  prime-angular-frontend/src/app/shared/shared.module.ts
  prime-dotnet-webapi-tests/Unit Tests/SubmissionStateEngine.Tests.cs
  prime-dotnet-webapi/Controllers/SubmissionsController.cs
  prime-dotnet-webapi/Engines/EnrolleeStatusStateEngine.cs
  prime-dotnet-webapi/Models/Api/EnrolleeStatusAction.cs
  prime-dotnet-webapi/Services/SubmissionService.cs
  prime-dotnet-webapi/ViewModels/Enrollee/ChangeToaUpdateViewModel.cs
Labels: Frontend, Backend, Ready For Review

#2675 PRIME-2867 Use "promote" API to address CHES unreliability
  prime-dotnet-webapi/Configuration/Environment/PrimeEnvironmentVariablesConfigurationProvider.cs
  prime-dotnet-webapi/Configuration/PrimeConfigurationObjects.cs
  prime-dotnet-webapi/Controllers/EmailsController.cs
  prime-dotnet-webapi/HttpClients/Mail/ChesClient.cs
  prime-dotnet-webapi/HttpClients/Mail/IChesClient.cs
  prime-dotnet-webapi/Services/EmailService.cs
  prime-dotnet-webapi/Services/interfaces/IEmailService.cs
  prime-dotnet-webapi/appsettings.json
Labels: Backend, Ready For Review

#2681 PRIME-2869 Support FNHA Virtual Sites Part 1B - Remote Access request during individual enrollment
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/cert-search.model.ts
Labels: Frontend, Ready For Review

#2606 PRIME-2786 refactor to remove next-steps component
  prime-angular-frontend/src/app/modules/enrolment/enrolment-routing.module.ts
  prime-angular-frontend/src/app/modules/enrolment/enrolment.module.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/access-agreement/access-agreement.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/next-steps/next-steps.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/next-steps/next-steps.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/next-steps/next-steps.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/next-steps/next-steps.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/pharmanet-enrolment-summary/pharmanet-enrolment-summary.component.ts
Labels: Frontend, Ready For Review

#2682 PRIME-2869 FNHA Virtual Site Support Part 2 - Individual Enrolment
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.spec.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/regulatory/regulatory.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.ts
  prime-angular-frontend/src/app/modules/enrolment/pages/self-declaration/self-declaration.component.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/guards/enrolment.guard.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/models/cert-search.model.ts
  prime-angular-frontend/src/app/modules/enrolment/shared/services/enrolment.service.ts
  prime-dotnet-webapi/ApiDbContext.cs
  prime-dotnet-webapi/Services/CommunitySiteService.cs
Labels: Frontend, Backend, Ready For Review
