Repository bcgov/moh-prime, pull requests merged in 2025-04, with the labels that each got.

#2701 PRIME-2894, 2899 Other fix for Keycloak 26 changes
  prime-angular-frontend/src/app/modules/enrolment/pages/overview/overview.component.scss
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access/remote-access.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/health-auth-site-reg.module.ts
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/overview-page/overview-page.component.scss
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-users-page/remote-users-page.component.scss
  prime-angular-frontend/src/app/modules/site-registration/site-registration.module.ts
Labels: DO NOT MERGE, Frontend

#2704 PRIME-2903 Round 2 of fixes post-changes for Keycloak version 26
  prime-angular-frontend/src/app/modules/adjudication/pages/health-authorities/site-overview-page/site-overview-page.component.html
  prime-angular-frontend/src/app/modules/adjudication/pages/site-overview/site-overview.component.html
  prime-angular-frontend/src/app/modules/adjudication/shared/components/enrollee-table/enrollee-table.component.scss
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/hours-operation-page/hours-operation-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/hours-operation-page/hours-operation-page.component.html
  prime-angular-frontend/src/app/shared/components/site/same-as/same-as.component.ts
Labels: Frontend

#2700 PRIME-2897 Add other handy dotnet Console app for generating SQL insert script
  utilities/HASiteScriptGen/.vscode/launch.json
  utilities/HASiteScriptGen/HASiteScriptGen.csproj
  utilities/HASiteScriptGen/HASiteScriptGen.sln
  utilities/HASiteScriptGen/Program.cs
  utilities/HASiteScriptGen/Sample-Site-list.xlsx
  utilities/HASiteScriptGen/readme.txt
  utilities/Practitioner CSV to SQL converter/CSVtoSQL/CSVtoSQL.csproj
  utilities/Practitioner CSV to SQL converter/CSVtoSQL/Program.cs
  utilities/Practitioner CSV to SQL converter/Practitioner CSV to SQL converter.sln
  utilities/Practitioner CSV to SQL converter/readme.txt
Labels: Backend, Ready For Review

#2705 increase memory request for webapi in prod env
  infrastructure/prime-app-template.yml
Labels: Ready For Review, DevOps

#2707 PRIME-2907 Round THREE Part B
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
Labels: Frontend

#2709 PRIME-2908 Address new `placeholder` behavior
  prime-angular-frontend/src/app/modules/adjudication/shared/components/banner-maintenance/banner-maintenance.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/absence-management-page/absence-management-page.component.html
  prime-angular-frontend/src/app/modules/enrolment/pages/remote-access-addresses/remote-access-addresses.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/authorized-user-page/authorized-user-page.component.html
  prime-angular-frontend/src/app/modules/health-auth-site-reg/pages/site-information-page/site-information-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-name-page/organization-name-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/organization-signing-authority-page/organization-signing-authority-page.component.html
  prime-angular-frontend/src/app/modules/site-registration/pages/remote-user-page/remote-user-page.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/change-vendor-note/change-vendor-note.component.html
  prime-angular-frontend/src/app/shared/components/dialogs/content/claim-note/claim-note.component.html
  prime-angular-frontend/src/app/shared/components/forms/address-form/address-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/college-certification-form/college-certification-form.component.ts
  prime-angular-frontend/src/app/shared/components/forms/contact-information-form/contact-information-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/email-form/email-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/fields/doing-business-as-form-field/doing-business-as-form-field.component.html
  prime-angular-frontend/src/app/shared/components/forms/preferred-name-form/preferred-name-form.component.html
  prime-angular-frontend/src/app/shared/components/forms/unlisted-college-licence-form/unlisted-college-licence-form.component.html
  prime-angular-frontend/src/app/shared/components/obo-site-form/obo-site-form.component.html
  prime-angular-frontend/src/app/shared/components/site/contact-profile-form/contact-profile-form.component.html
Labels: Frontend

#2711 Two replicas for `demo` and `test`
  .github/workflows/build-demo.yml
  .github/workflows/build-test.yml
Labels: DevOps

#2713 Two replicas for demo and test (try #2)
  .github/workflows/build-test.yml
Labels: DevOps

#2714 What is cause of `invalid value syntax " "`?
  .github/workflows/build-demo.yml
  .github/workflows/build-test.yml
Labels: DevOps

#2691 PRIME-2868 Landing page redesign
  prime-angular-frontend/src/app/lib/modules/ngx-contextual-help/contextual-help/contextual-help.component.scss
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.html
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.scss
  prime-angular-frontend/src/app/shared/components/auth/prime-enrolment-access/prime-enrolment-access.component.ts
  prime-angular-frontend/src/app/shared/components/prime-logo/prime-logo.component.ts
  prime-angular-frontend/src/assets/individual_enrolment.png
  prime-angular-frontend/src/assets/individual_enrolment_icon.svg
  prime-angular-frontend/src/assets/individual_enrolment_sm.png
  prime-angular-frontend/src/assets/mobile_icon.svg
  prime-angular-frontend/src/assets/site_registration.png
  prime-angular-frontend/src/assets/site_registration_icon.svg
  prime-angular-frontend/src/assets/site_registration_sm.png
  prime-angular-frontend/src/assets/site_registration_xs.png
Labels: Frontend, Ready For Review
